#xxnet-header{
	line-height: 0px;
	text-align:center;
	background-color:#ffffff;
	height:45px;
	-moz-border-radius-topleft: 15px;
	border-top-left-radius: 15px;
	-moz-border-radius-topright: 15px;
	border-top-right-radius: 15px;
	
}
.xxnet-header-dec{
	-moz-border-radius-topleft: 15px;
	border-top-left-radius: 15px;
	-moz-border-radius-topright: 15px;
	border-top-right-radius: 15px;
	background-color:#fff;
	margin: 0 10px;
	height:16px;
	
}
.xxnet-header-inner{
	padding:6px 0;
}
.xxnet-item{
	margin-bottom:25px;
	
}
.xxnet-pic{
	float:left;
	margin-right:10px;
}

.xxnet-inner{
	background-color:#FFFFFF;
	margin:0 10px;
	padding:0px;
}
#xxnet-wrapper img{
	display:inline;
}
#xxnet-container{
	background-color:#ffffff;
	height:500px;
	
	
}
#xxnet-wrapper{
	width:100%;
}

#xxnet-container-inner{
	background-color:#FFFFFF;
	height:500px;
	margin: 0 10px;
	overflow-x:hidden;
	overflow-y:auto;
}
#xxnet-bottom{
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	-moz-border-radius-bottomleft: 15px;
	-moz-border-radius-bottomright: 15px;
	height:31px;
}
#xxnet-bottom-inner{
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	-moz-border-radius-bottomleft:15px;
	-moz-border-radius-bottomright:15px;
	background-color:#FFFFFF;
	height:20px;
	margin:0 10px;
}

.xxnet-header-section{
	border-bottom-right-radius: 15px;
	-moz-border-radius-bottomright:15px;
	border-top-right-radius: 15px;
	-moz-border-radius-topright:15px;
	background-color:#ff00ff;
	padding:2px 0px;
	margin-bottom:12px;
	color: #FFFFFF;
	font-weight:bold;
	margin-left:-10px;
	overflow:hidden;
	text-align:center;
}
