/*
  Cascading style sheets for "Xarxanet" (20090810)
  ---
  Designed in 2009 by Emanuele Rodriguez <erodri@gmail.com>
  ---
  themes.css - Site-wide themes
*/


/* header styles */
body.h_01 #header { background-image: url(../img/hdr01_bg.jpg); }
body.h_02 #header { background-image: url(../img/hdr02_bg.jpg); }
body.h_03 #header { background-image: url(../img/hdr03_bg.jpg); }
body.h_04 #header { background-image: url(../img/hdr04_bg.jpg); }
body.h_05 #header { background-image: url(../img/hdr05_bg.jpg); }


/* themes */

/* t_01 */

body.t_01 #header #auxnav,
body.t_01 #nav .block-menu .menu a:hover,
body.t_01 #nav .block-menu li.act a,
body.t_01 #nav .block-menu li.expanded a,
body.t_01 #content .e_list .title {
  background-color: #e12319;
}

body.t_01 #content .e_list .title {
  color: #fff;
}

body.t_01 #nav .block-menu .menu,
body.t_01 #nav .block-menu .menu li,
body.t_01 #nav .block-menu .menu .menu {
  border-color: #666;
}

body.t_01 #nav .block-menu .menu li .menu .menu li a:hover,
body.t_01 #nav .block-menu .menu li .menu .menu li.expanded a {
  background-image: url(../img/menu_sub01_sel.gif) !important;
}

body.t_01 #content .e_highlight,
body.t_01 #content .e_list {
  border-color: #e12319;
}



/* t_02 */

body.t_02 #header #auxnav,
body.t_02 #nav .block-menu .menu a:hover,
body.t_02 #nav .block-menu li.act a,
body.t_02 #nav .block-menu li.expanded a,
body.t_02 #content .e_list .title {
  background-color: #957e72;
}

body.t_02 #content .e_list .title {
  color: #fff;
}

body.t_02 #nav .block-menu .menu,
body.t_02 #nav .block-menu .menu li,
body.t_02 #nav .block-menu .menu .expanded .menu {
  border-color: #c2c2c2;
}

body.t_02 #nav .block-menu .menu li .menu .menu li a:hover,
body.t_02 #nav .block-menu .menu li .menu .menu li.expanded a
{
  background-image: url(../img/menu_sub02_sel.gif) !important;
}

body.t_02 #content .e_highlight,
body.t_02 #content .e_list {
  border-color: #957e72;
}


/* t_03 */

body.t_03 #header #auxnav,
body.t_03 #nav .block-menu .menu a:hover,
body.t_03 #nav .block-menu li.act a,
body.t_03 #nav .block-menu li.expanded a,
body.t_03 #content .e_list .title {
  background-color: #632c6f;
}

body.t_03 #content .e_list .title {
  color: #fff;
}

body.t_03 #nav .block-menu .menu,
body.t_03 #nav .block-menu .menu li,
body.t_03 #nav .block-menu .menu .menu {
  border-color: #c2c2c2;
}

body.t_03 #nav .block-menu .menu li .menu .menu li a:hover,
body.t_03 #nav .block-menu .menu li .menu .menu li.expanded a {
  background-image: url(../img/menu_sub03_sel.gif) !important;
}

body.t_03 #content .e_highlight,
body.t_03 #content .e_list {
  border-color: #632c6f;
}


/* e_restheme */

body #content .e_restheme1 .section { background-color: #608f86; }
body #content .e_restheme1 .menu { border-bottom: .2em solid #608f86; }

body #content .e_restheme2 .section { background-color: #4d426d; }
body #content .e_restheme2 .menu { border-bottom: .2em solid #4d426d; }

body #content .e_restheme3 .section { background-color: #c2473f; }
body #content .e_restheme3 .menu { border-bottom: .2em solid #c2473f; }

body #content .e_restheme4 .section { background-color: #954b83; }
body #content .e_restheme4 .menu { border-bottom: .2em solid #954b83; }

body #content .e_restheme5 .section { background-color: #957e72; }
body #content .e_restheme5 .menu { border-bottom: .2em solid #957e72; }

