[submodule "git-deploy"]
	path = git-deploy
	url = https://github.com/elteb/Git-Deploy-PHP.git
[submodule "sites/all/modules/media"]
	path = sites/all/modules/media
	url = https://github.com/elteb/media.git
