[submodule "git-deploy"]
	path = git-deploy
	url = https://github.com/elteb/Git-Deploy-PHP.git
[submodule "sites/all/modules/media"]
	path = sites/all/modules/media
	url = https://github.com/elteb/media.git
[submodule "sites/all/themes/xn17"]
	path = sites/all/themes/xn17
	url = https://github.com/colectic/xn17.git
[submodule "sites/nonprofit.xarxanet.org/themes/xn19_nonprofit"]
	path = sites/nonprofit.xarxanet.org/themes/xn19_nonprofit
	url = ../../tothomweb/xn19_nonprofit.git
