/**
 *   Node Layout
 */
 
 /* ------- Notícies i Recursos ------- */
 .node-column-images {
 	@include grid-width(3);
 	float: left;
 	margin-right: $space;
 	img {
 		@include grid-width(3);
 	}
 }
 
 .node-content {
 	@include grid-width(5);
 	img {
 		@include grid-width(5);
 	}
 	#player {
 		@include grid-width(5);
 	}
 	iframe {
    width: 464px !important;
  }
 	float: left;
 	margin-left: $space;
 }
 
  section#comments {
    @include grid-width(5);
    float: right;
  }
  
/* ------- Fitxes d'entitat ------- */
 .page-entitat {
   .images-column,
   .center-column {
     margin: 0 $space;
   }
   .links-row {
     #content-block {
       @include grid-width(4, $ninesixty-columns, $ninesixty-gutter-width + $space);    
     }
     #social-block {
       @include grid-width(3, $ninesixty-columns, $ninesixty-gutter-width + $space); 
     }
     .content-block-part {
       width: 50%;
     }
   }
 }
