div.views-rotator-item, div#views-rotator {
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
	overflow: hidden;
}

a.views-rotator-prev, a.views-rotator-next {
	height: 0;
}

.views-rotator {
	z-index: 0;
	background-color: #000;
}

.view-rotator-prev, .view-rotator-next {
	display: none;
	width: 28px;
	height: 47px;
	position: absolute;
	z-index: 2000;
}

.view-rotator-prev {
	background: url(images/prev.gif) 0 0 no-repeat;
}

.view-rotator-next {
	background: url(images/next.gif) 0 0 no-repeat;
}

.view-rotator-next:hover {
	background: url(images/next.gif) 0px -53px no-repeat;
}

.view-rotator-prev:hover {
	background: url(images/prev.gif) 0 -53px no-repeat;
}

.view-rotator-menu {
	position: absolute;
	float: left;
	clear: both;
	display: none;
	z-index: 1000;
}

.view-rotator-item {
	
}

.view-rotator-menu-item:hover {
	cursor: pointer;
}

.view-rotator-menu-item {
	background-color: #DDDDDD;
	width: 25px;
	height: 20px;
	margin-left: 8px;
	float: left;
}

.view-rotator-menu-item.vr-shown, .view-rotator-menu-item:hover {
	background-color: #303030;
}