#Search {
	margin-top:-15px;
}
/*
.Form-S, .Form-M, .Form-XL, .Form-L{
	height:auto;
}
.form-item{
	width:auto;
	height:auto;
}
.form-item span{
	width:150px;
	height:auto;
	margin-left:22px;
	float:left;
	border:none;
	margin-top:-12px;
}
#Cercador-Seleccio{
	margin-bottom:10px;
}
*/
