#Barras ul li{
	list-style-image:url(../images/header-li-opera.png);
}
.Menu-AS li ul.Menu-AS-Sub li a.Projectes:hover,
.Menu-AS li ul.Menu-AS-Sub li a.Juridic:hover,
.Menu-AS li ul.Menu-AS-Sub li a.Informatic:hover ,
.Menu-AS li ul.Menu-AS-Sub li a.Formacio:hover ,
.Menu-AS li ul.Menu-AS-Sub li a.Economic:hover ,
.Menu-AS li ul li a.Ambiental:hover ,
.Menu-AS li ul li a.Comunitari:hover ,
.Menu-AS li ul li a.Cultural:hover, 
.Menu-AS li ul li a.Social:hover
{margin-top:-15px;}
.Menu-AS li ul.Menu-AS-Sub li ul li a:hover{ padding-bottom:5px;}

.Menu-AS li ul.Menu-AS-Sub li a.Projectes:hover,
.Menu-AS li ul.Menu-AS-Sub li a.Juridic:hover,
.Menu-AS li ul.Menu-AS-Sub li a.Informatic:hover,
.Menu-AS li ul.Menu-AS-Sub li a.Formacio:hover,
.Menu-AS li ul.Menu-AS-Sub li a.Economic:hover,
.Menu-AS li ul.Menu-AS-Sub li a.Ambiental:hover,
.Menu-AS li ul.Menu-AS-Sub li a.Comunitari:hover,
.Menu-AS li ul.Menu-AS-Sub li a.Cultural:hover,
.Menu-AS li ul.Menu-AS-Sub li a.Social:hover,
.Menu-AS li ul.Menu-AS-Sub li a.Internacional:hover {margin-top:-8px;line-height:8px; padding-bottom:12px;}
.Menu-AS-Sub li.Projectes:hover,
.Menu-AS-Sub li.Juridic:hover,
.Menu-AS-Sub li.Formacio:hover,
.Menu-AS-Sub li.Economic:hover,
.Menu-AS-Sub li.Informatic:hover,
.Menu-AS-Sub li.Ambiental:hover,
.Menu-AS-Sub li.Comunitari:hover,
.Menu-AS-Sub li.Cultural:hover,
.Menu-AS-Sub li.Social:hover,
.Menu-AS-Sub li.Internacional:hover {padding-bottom:15px;}
ul#Veure{
	top:10px;
}
/*
#Cercador h4 {margin-bottom:10px;}
.form-item span{ margin-top:-12px;}
.Form-S, .Form-M, .Form-XL, .Form-L{
	height:auto;
}
.form-item{
	width:auto;
	height:auto;
}
.form-item span{
	width:150px;
	height:auto;
	margin-left:22px;
	float:left;
	border:none;
	margin-top:-1.2em;
}
#Mini-Titular ul#Veure{
	top:8px;
}
*/
