/**
 * @file         tothomweb_job_offer.css
 *
 * @project      xarxanet.org/job_offer
 * @version      1.0
 * @author       TOTHOMweb
 * @copyright    2021
 */
/* line 36, ../sass/tothomweb_jobs.scss */
.job_offer_banner .banner {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  width: 100%;
  min-height: 180px;
  background-image: url(https://xarxanet.org/sites/default/files/job_offers/job_offers_banner.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative; }
/* line 48, ../sass/tothomweb_jobs.scss */
.job_offer_banner .banner:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 2;
  background-color: rgba(190, 22, 34, 0.25); }
/* line 59, ../sass/tothomweb_jobs.scss */
.job_offer_banner .banner p {
  display: none; }
@media (min-width: 768px) {
  /* line 59, ../sass/tothomweb_jobs.scss */
  .job_offer_banner .banner p {
    display: inline-block;
    width: 100%;
    font-family: "Fira Sans SemiBold", Helvetica, Arial, sans-serif;
    font-size: 4em;
    opacity: 0.4;
    color: #ffffff;
    position: relative;
    z-index: 3;
    text-transform: lowercase;
    padding: 0 30px;
    margin: 0;
    top: 15px;
    line-height: 1em; } }
@media (min-width: 992px) {
  /* line 59, ../sass/tothomweb_jobs.scss */
  .job_offer_banner .banner p {
    font-size: 5em; } }

/* line 85, ../sass/tothomweb_jobs.scss */
.jobs_offer_form_grid {
  padding: 30px 15px; }
/* line 89, ../sass/tothomweb_jobs.scss */
.jobs_offer_form_grid .job_offer_item {
  margin-bottom: 3rem; }
@media (min-width: 768px) {
  /* line 85, ../sass/tothomweb_jobs.scss */
  .jobs_offer_form_grid {
    display: grid;
    grid-gap: 1.5rem 30px;
    grid-template-columns: repeat(2, 1fr); }
  /* line 98, ../sass/tothomweb_jobs.scss */
  .jobs_offer_form_grid .job_offer_item {
    margin-bottom: 0; } }
/* line 103, ../sass/tothomweb_jobs.scss */
.jobs_offer_form_grid .job_offer_mandatory {
  color: #6d7072;
  text-align: right; }
@media (min-width: 768px) {
  /* line 103, ../sass/tothomweb_jobs.scss */
  .jobs_offer_form_grid .job_offer_mandatory {
    grid-column: 2/3; } }
/* line 111, ../sass/tothomweb_jobs.scss */
.jobs_offer_form_grid .job_offer_mandatory span {
  color: #be1622; }
@media (min-width: 768px) {
  /* line 116, ../sass/tothomweb_jobs.scss */
  .jobs_offer_form_grid .job_offer_title {
    grid-column: 1 / span 2; } }
@media (min-width: 768px) {
  /* line 123, ../sass/tothomweb_jobs.scss */
  .jobs_offer_form_grid .job_offer_attached {
    grid-column: 1 / span 2; } }
/* line 129, ../sass/tothomweb_jobs.scss */
.jobs_offer_form_grid .job_offer_attached .form-managed-file {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 2rem 2rem 1.5rem 2rem;
  margin: 1rem 0; }
@media (min-width: 992px) {
  /* line 137, ../sass/tothomweb_jobs.scss */
  .jobs_offer_form_grid .job_offer_attached .form-managed-file a {
    min-width: 40%;
    display: inline-block; }
  /* line 142, ../sass/tothomweb_jobs.scss */
  .jobs_offer_form_grid .job_offer_attached .form-managed-file .form-file {
    min-width: 40%; } }
/* line 147, ../sass/tothomweb_jobs.scss */
.jobs_offer_form_grid .job_offer_attached .form-managed-file .form-submit {
  background-color: #ededed;
  font-family: "Fira Sans SemiBold", Helvetica, Arial, sans-serif;
  color: #4A4A49;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 2px;
  margin-top: 3rem; }
/* line 156, ../sass/tothomweb_jobs.scss */
.jobs_offer_form_grid .job_offer_attached .form-managed-file .form-submit:hover, .jobs_offer_form_grid .job_offer_attached .form-managed-file .form-submit:focus, .jobs_offer_form_grid .job_offer_attached .form-managed-file .form-submit:active {
  text-decoration: underline; }
@media (min-width: 768px) {
  /* line 147, ../sass/tothomweb_jobs.scss */
  .jobs_offer_form_grid .job_offer_attached .form-managed-file .form-submit {
    margin-top: 0;
    margin-left: 1%; } }
@media (min-width: 768px) {
  /* line 170, ../sass/tothomweb_jobs.scss */
  .jobs_offer_form_grid .job_offer_description {
    grid-column: 1 / span 2; } }
@media (min-width: 768px) {
  /* line 177, ../sass/tothomweb_jobs.scss */
  .jobs_offer_form_grid .job_offer_requirements {
    grid-column: 1 / span 2; } }
@media (min-width: 768px) {
  /* line 184, ../sass/tothomweb_jobs.scss */
  .jobs_offer_form_grid .job_offer_conditions {
    grid-column: 1 / span 2; } }
/* line 193, ../sass/tothomweb_jobs.scss */
.jobs_offer_form_grid .form-type-textarea.has-error .form-textarea-wrapper {
  border: 2px solid red; }
/* line 198, ../sass/tothomweb_jobs.scss */
.jobs_offer_form_grid .captcha.panel {
  grid-column: 1 / span 2;
  margin: 0; }
/* line 202, ../sass/tothomweb_jobs.scss */
.jobs_offer_form_grid .captcha.panel .panel-body {
  padding: 0; }
/* line 207, ../sass/tothomweb_jobs.scss */
.jobs_offer_form_grid .job_offer_submit {
  grid-column: 1 / span 2; }
/* line 210, ../sass/tothomweb_jobs.scss */
.jobs_offer_form_grid .job_offer_submit .form-submit {
  text-transform: uppercase;
  font-family: "Fira Sans", Helvetica, Arial, sans-serif;
  font-size: 1em;
  background-color: #be1622;
  color: #ffffff;
  padding: 0.75rem 2.5rem;
  border: none;
  border-radius: 2px;
  margin-top: 2rem;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out; }
/* line 222, ../sass/tothomweb_jobs.scss */
.jobs_offer_form_grid .job_offer_submit .form-submit:hover, .jobs_offer_form_grid .job_offer_submit .form-submit:focus, .jobs_offer_form_grid .job_offer_submit .form-submit:active {
  background-color: #a7131e;
  text-decoration: underline; }
/* line 231, ../sass/tothomweb_jobs.scss */
.jobs_offer_form_grid .text-format-wrapper {
  margin-bottom: 2rem; }
/* line 234, ../sass/tothomweb_jobs.scss */
.jobs_offer_form_grid .text-format-wrapper .filter-wrapper, .jobs_offer_form_grid .text-format-wrapper .ckeditor_links {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }
/* line 247, ../sass/tothomweb_jobs.scss */
.jobs_offer_form_grid .description {
  color: #6d7072; }

/* line 254, ../sass/tothomweb_jobs.scss */
.job-offers-view {
  padding: 0 15px;
  margin: 30px 0 30px; }
@media (min-width: 768px) {
  /* line 258, ../sass/tothomweb_jobs.scss */
  .job-offers-view .view-header {
    display: flex;
    justify-content: space-between;
    align-items: center; } }
/* line 267, ../sass/tothomweb_jobs.scss */
.job-offers-view .job-offer__new {
  background-color: #be1622;
  color: #ffffff;
  padding: 1rem 2rem;
  text-transform: uppercase;
  font-family: "Fira Sans SemiBold", Helvetica, Arial, sans-serif;
  border-radius: 2px;
  min-width: 230px; }
/* line 276, ../sass/tothomweb_jobs.scss */
.job-offers-view .job-offer__new:before {
  content: "";
  background-image: url(/sites/all/themes/xn17/assets/images/elements/publica_blanc.svg);
  background-repeat: no-repeat;
  background-position: left center;
  display: inline-block;
  width: 18px;
  height: 17px;
  margin-right: 1rem;
  position: relative;
  top: 2px; }
/* line 290, ../sass/tothomweb_jobs.scss */
.job-offers-view .job-offer--not-empty {
  display: table;
  margin-top: 2rem; }
@media (min-width: 768px) {
  /* line 290, ../sass/tothomweb_jobs.scss */
  .job-offers-view .job-offer--not-empty {
    margin-top: 0; } }
/* line 299, ../sass/tothomweb_jobs.scss */
.job-offers-view .job-offer__empty {
  border: 1px solid #ededed;
  border-radius: 4px;
  padding: 5rem 30px;
  text-align: center;
  margin: 3rem 0; }
/* line 307, ../sass/tothomweb_jobs.scss */
.job-offers-view .job-offer--empty {
  display: table;
  margin: 3rem auto 0; }
/* line 312, ../sass/tothomweb_jobs.scss */
.job-offers-view .job-offer {
  margin: 2rem 0;
  border: 1px solid #ededed;
  border-radius: 4px;
  padding: 30px; }
/* line 319, ../sass/tothomweb_jobs.scss */
.job-offers-view .job-offer__title {
  margin: 0 0 1.5rem;
  font-size: 1.25em;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #ededed; }
/* line 325, ../sass/tothomweb_jobs.scss */
.job-offers-view .job-offer__title a {
  font-family: "Fira Sans SemiBold", Helvetica, Arial, sans-serif;
  color: #be1622; }
/* line 329, ../sass/tothomweb_jobs.scss */
.job-offers-view .job-offer__title a:hover, .job-offers-view .job-offer__title a:focus, .job-offers-view .job-offer__title a:active {
  text-decoration: underline; }
/* line 337, ../sass/tothomweb_jobs.scss */
.job-offers-view .job-offer__info {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: 1fr; }
@media (min-width: 1200px) {
  /* line 337, ../sass/tothomweb_jobs.scss */
  .job-offers-view .job-offer__info {
    grid-template-columns: 2fr 2fr 1fr auto; } }
/* line 346, ../sass/tothomweb_jobs.scss */
.job-offers-view .job-offer__info strong {
  font-family: "Fira Sans", Helvetica, Arial, sans-serif;
  margin-left: 0.5rem; }
/* line 352, ../sass/tothomweb_jobs.scss */
.job-offers-view .job-offer__entity {
  display: flex;
  align-items: center; }
/* line 357, ../sass/tothomweb_jobs.scss */
.job-offers-view .job-offer__mail {
  display: flex;
  align-items: center; }
/* line 361, ../sass/tothomweb_jobs.scss */
.job-offers-view .job-offer__mail a {
  color: #be1622; }
/* line 364, ../sass/tothomweb_jobs.scss */
.job-offers-view .job-offer__mail a:hover, .job-offers-view .job-offer__mail a:focus, .job-offers-view .job-offer__mail a:active {
  text-decoration: underline; }
/* line 372, ../sass/tothomweb_jobs.scss */
.job-offers-view .job-offer__date {
  display: flex;
  align-items: center; }
/* line 377, ../sass/tothomweb_jobs.scss */
.job-offers-view .job-offer__link {
  display: flex;
  align-items: center;
  justify-content: flex-end; }
/* line 383, ../sass/tothomweb_jobs.scss */
.job-offers-view .job-offer__link--button {
  background-color: #ededed;
  font-family: "Fira Sans SemiBold", Helvetica, Arial, sans-serif;
  color: #4A4A49;
  padding: 0.75rem 1rem;
  border-radius: 2px; }
/* line 391, ../sass/tothomweb_jobs.scss */
.job-offers-view .pager {
  padding-left: 0;
  margin: 20px 0;
  text-align: center;
  list-style: none; }
/* line 397, ../sass/tothomweb_jobs.scss */
.job-offers-view .pager .pager__item {
  display: inline-block;
  width: 100%;
  background: white url(/sites/all/themes/xn17/assets/images/elements/line.svg) repeat-x center;
  margin-top: 20px; }
/* line 403, ../sass/tothomweb_jobs.scss */
.job-offers-view .pager .pager__item a, .job-offers-view .pager .pager__item span {
  display: inline-block;
  padding: 5px 14px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 15px; }
/* line 411, ../sass/tothomweb_jobs.scss */
.job-offers-view .pager .pager__item a {
  background: white url(/sites/all/themes/xn17/assets/images/elements/mes.svg) no-repeat center top;
  padding-top: 25px;
  border: none; }
/* line 419, ../sass/tothomweb_jobs.scss */
.job-offers-view .ajax-progress-throbber {
  display: none; }
/* line 422, ../sass/tothomweb_jobs.scss */
.job-offers-view .ajax-progress-throbber .throbber {
  display: none; }

/* line 432, ../sass/tothomweb_jobs.scss */
.node-type-job-offer .nav-tabs.primary {
  padding: 0 30px; }
/* line 436, ../sass/tothomweb_jobs.scss */
.node-type-job-offer .node-job-offer {
  padding: 0 15px;
  margin-bottom: 0; }
/* line 442, ../sass/tothomweb_jobs.scss */
.node-type-job-offer .node-job-offer .content .field {
  border-bottom: 1px solid #ededed;
  padding: 1.5rem 0; }
/* line 446, ../sass/tothomweb_jobs.scss */
.node-type-job-offer .node-job-offer .content .field:last-child {
  border-bottom: 0; }
/* line 450, ../sass/tothomweb_jobs.scss */
.node-type-job-offer .node-job-offer .content .field .field-label {
  font-family: "Fira Sans SemiBold", Helvetica, Arial, sans-serif; }
/* line 456, ../sass/tothomweb_jobs.scss */
.node-type-job-offer .node-job-offer .content .field.field-label-above .field-label {
  margin-bottom: 1.5rem; }
/* line 463, ../sass/tothomweb_jobs.scss */
.node-type-job-offer .node-job-offer .content .field.field-label-inline .field-label {
  margin-right: 1rem; }
@media (min-width: 992px) {
  /* line 463, ../sass/tothomweb_jobs.scss */
  .node-type-job-offer .node-job-offer .content .field.field-label-inline .field-label {
    min-width: 150px; } }
/* line 474, ../sass/tothomweb_jobs.scss */
.node-type-job-offer .node-job-offer .content .field.field-type-file img {
  display: none; }
/* line 478, ../sass/tothomweb_jobs.scss */
.node-type-job-offer .node-job-offer .content .field.field-type-file a {
  display: table;
  background-color: #be1622;
  color: #ffffff;
  font-family: "Fira Sans SemiBold", Helvetica, Arial, sans-serif;
  border-radius: 2px;
  padding: 1rem 2rem;
  margin-top: 1rem; }
/* line 488, ../sass/tothomweb_jobs.scss */
.node-type-job-offer .node-job-offer .content .field.field-type-file .file-size {
  display: block;
  color: #666;
  margin-top: 1rem;
  font-size: 0.875em; }

/* line 503, ../sass/tothomweb_jobs.scss */
.field-name-field-job-offer-approval {
  margin-bottom: 2rem; }
