// Page Layout
// -----------------------------------------------------------------------------
// Header
// -----------------------------------------------------------------------------
header {
  &#first-header {
    background-color: $gray-darker;
    border-bottom: solid 1px white;
    color: white !important;
    a { color: white !important; }
    font-size : 13px;
    @media (max-width: $screen-md-min) {font-size: 11px;}
    .header-region {
      position: relative;
      height: 50px;
      @media (max-width: $screen-md-min) { height: 40px; }
      &.first {
        @media (max-width: $screen-md-min) { border-bottom: solid 3px $gray-dark; }
      }
    }
    #site-slogan, #secondary-menu {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
    #secondary-menu {
      right: 0;
      @media (max-width: $screen-xs-min) { left: 0px; }
      &.navbar-nav li {
        float: left;
        @media (min-width: $screen-md-min) { margin-left: 18px; }
        @media (max-width: $screen-md-min) { a { padding-right: 5px;}}
      }
      .menu-link-segueix-nos, .menu-link-publica, .menu-link-butlletí {
        a {
          @media (min-width: $screen-md-min) { padding-left: 25px; }
          @media (max-width: $screen-md-min) {
            font-size: 0px;
            padding-right: 18px !important;
            padding-left: 18px;
          }
        }
      }
      .menu-link-segueix-nos {
        background: url('../images/icon/icon-share-white.svg') no-repeat left 10px;
        @media (max-width: $screen-md-min) { margin-left: 10px; }
      }
      .menu-link-publica { background: url('../images/icon/icon-publish-white.svg') no-repeat left 10px; }
      .menu-link-butlletí { background: url('../images/icon/icon-newsletter-white.svg') no-repeat left 10px; }
      #search-icon{ margin: 10px 10px 10px 0px; }
    }
  }
  &#second-header {
    background-color: $gray-dark;
    .search-form { margin-bottom: 0px; }
    .header-region {
      position: relative;
      height: 70px;
      @media (max-width: $screen-md-min) { height: 60px; }
    }
    #site-logo, #search-form {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
    #search-form {
      form { padding-top: 0px; padding-bottom: 0px; box-shadow: none; }
      @media (min-width: $screen-md-min) { right: 8px; }
      @media (max-width: $screen-md-min) {
        left: 8px;
        top: 40%;
        width: 100%;
        form { width: 100%; }
      }
    }
  }
  &#third-header, &#third-header-clone {
    background-color: $gray-dark;
    border-top: solid 3px $gray-darker;
    height: 50px;
    .social-icons, .main-selector, #menu-icon {
      float: right;
      height: 46px;
    }
    #menu-icon {
      padding-top: 12px;
      padding-left: 25px;
      @media (max-width: $screen-md-min) { padding-left: 20px; }
      border-left: solid 3px $gray-darker;
    }
    .main-news a, .main-resources a{
      color: $gray-medium;
      font-weight: 600;
      font-size: 22px;
    }
    .main-selector {
      padding: 8px 20px 0px 20px;
      border-left: solid 3px $gray-darker;
      @media (max-width: $screen-md-min) { &#main-news { border-left: none}}
      @media (max-width: $screen-md-min) { padding: 5px 18px 0px 18px; }
    }
    .social-icons {
      padding-top: 7px;
      padding-right: 10px;
      a { margin: 0px 10px; }
    }
    .sticky-logo {
      height: 30px;
      float: left;
      margin-top: 6px;
    }
  }
  &#third-header-clone {
    display: none;
    top: 0px;
    z-index: 100;
    position: fixed;
    width: 100%;

  }
}

// -----------------------------------------------------------------------------
// Main menu
// -----------------------------------------------------------------------------
#main-menu {
  a.depth-1 { font-weight: 600; font-size: 28px; }
  .menu-link.depth-1 { border-bottom: solid 7px $gray; }
  a.depth-2 { font-weight: 600; font-size: 18px; }
  .menu-item.depth-2 { padding: 12px 10px; border-bottom: solid 2px $gray; }

  @media (min-width: $screen-md-max) {
    .menu-link.depth-2 { width: 30%; display: inline-block; }
    .submenu.depth-3 { width: 70%; display: inline-block; }
    .menu-item.depth-3 { display: inline-block; }
  }

  @media (max-width: $screen-md-max) {
    a.depth-2::after { content: '>>'; float: right; pointer-events: none; cursor: default;}
    .submenu.depth-3 { display: none; }
  }
}
