// Mixins
// -----------------------------------------------------------------------------
@mixin caixa_modul{
  padding-top: 15px;
  padding-bottom: 15px;
}

@mixin flag{
    position:absolute;
    z-index:4;
    background-color:$xn17-vermell;
    padding-left: 10px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 3px;
    color:#FFFFFF;
    text-transform:uppercase;
    &::after { content:url('../images/elements/punta.svg');position: absolute; right: -10px; top: -2px;}
}
