// Mixins
// -----------------------------------------------------------------------------
@mixin caixa_modul{
  padding-bottom: 10px;
  background-color:$gray-light;
}

@mixin flag{
    position:absolute;
    z-index:4;
    background-color:$xn17-vermell;
    padding-left: 10px;
    padding-right: 5px;
    padding-top: 5px;
    height: 29px;
    color:#FFFFFF;
    text-transform:uppercase;
    font-weight:bold;
    &::after { content:url('/sites/all/themes/xn17/assets/images/elements/punta.svg');position: absolute; right: -10px; top: 0px;}
}

@mixin aspect-ratio($ratio) {
  width: 100%;
  height:0;
  padding-bottom: percentage( nth($ratio, 2) / nth($ratio, 1));
}

@mixin aspect-ratio-img-cuadrada($ratio) {
  width: percentage( nth($ratio, 2) / nth($ratio, 1));
}

@mixin aspect-ratio-img($ratio) {
  width: percentage( nth($ratio, 2) / nth($ratio, 1));
}

@mixin padding-dreta($ratio) {
  padding-right: percentage( nth($ratio, 2) / nth($ratio, 1));
}
@mixin padding-top($ratio) {
  padding-top: percentage( nth($ratio, 1) / nth($ratio, 2));
}

@mixin block_menu {
  h4 {
    color: $xn17-vermell;
    font-size: 2.5em;
    font-family: 'Fira Sans SemiBold';
  }
  @media (max-width: $screen-md-max) {
    &.closed h4::after { content: url('../images/icon/icon-show-big.svg'); float: right; }
    &.opened h4::after { content: url('../images/icon/icon-hide-big.svg'); float: right; }
    .block__content { display: none; }
  }
  li {
    display: inline-block;
    a {
      padding: 5px 0px;
      &.active { color: $xn17-vermell; font-weight: 600; }
      &::after { content: ' / '; color: black; font-weight: normal; }
    }
    &.last a::after { content: none; }
  }
  .nav > li > a:hover { background: none; }
  padding: 15px;
  -webkit-box-shadow: 0px 10px 10px -6px $gray-medium;
  -moz-box-shadow: 0px 10px 10px -6px $gray-medium;
  box-shadow: 0px 10px 10px -6px $gray-medium;

  &.sticky {
    position: fixed;
    z-index: 10;
    background-color: white;
    top: 50px;
    width: 100%;
    left: 0;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    .block__title, .block__content, .pane-title, .pane-content {
      @media (min-width: $screen-sm-min) { width: $container-sm; }
      @media (min-width: $screen-md-min) { width: $container-md; }
      @media (min-width: $screen-lg-min) { width: $container-lg; }
      margin-right: auto;
      margin-left: auto;
      padding: 0 30px;
    }
    h4 {
      font-size: 18px;
      margin-bottom: 5px;
    }
  }
}

@mixin header_image($image) {
  margin: 0 -15px;
  height: 260px;
  display: block;
  position: relative;
  z-index: 0;
  &::after {
    content: "";
    background: url('../images/headers/'+$image+'.jpg');
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    -webkit-box-shadow: inset 0 10px 10px -6px $gray-medium;
    -moz-box-shadow: inset 0 10px 10px -6px $gray-medium;
    box-shadow: inset 0 10px 10px -6px $gray-medium;
  }
}

@mixin header_title {
  font-family: Fira Sans SemiBold;
  font-size: 5em;
  opacity: 0.5;
  color: white;
  margin-top: -70px;
  position:relative;
  z-index: 1;
  text-transform: lowercase;
}

@mixin input-field {
  border: none;
  border-radius: 0;
  height: 45px;
}

//Requereix que l'element superior tingui la alçada fixada
@mixin vertical-align-middle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@mixin load-more {
  .pager__item {
    display: inline-block;
    width: 100%;
    background: white url("../images/elements/line.svg") repeat-x center;
    margin-top: 20px;
    a, a:hover {
      background: white url('../images/elements/mes.svg') no-repeat center top;
      padding-top: 25px;
      border: none;
    }
  }
  .ajax-progress { display: none; }
}

@mixin view-header {
  padding: 15px;
  h1 { @include header_title;}
  p { margin-bottom: 0px; }
}

@mixin bloc-banner($img, $height:'auto') {
  padding: 10px 0;
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) { padding: 10px; }
  .block__content {
    height: $height;
    background: url('../images/blocks/'+$img+'.jpg');
    background-size: auto 165px;
    background-repeat: no-repeat;
    background-position: center center;
    color: white;
    a { color: white; }
    h4 { font-weight: 600; }
    padding: 10px 15px;
  }
}

@mixin bloc-banner-portada($img, $height:321px) {
  padding: 10px 15px;
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) { padding: 10px; }
  .block__content {
    height: $height;
    @media (max-width: $screen-sm-max){
      height: 165px;
    }
    background: url('../images/blocks/'+$img+'.jpg');
    background-size: 555px 321px;
    background-repeat: no-repeat;
    background-position: center center;
    color: white;
    a { color: white; }
    h4 {
      font-weight: 600;
      font-size:2em;
    }
    padding: 10px 15px;
  }
}

@mixin titol-modul{
  font-family: 'Fira Sans SemiBold';
  font-size: $font-size-h3;
  color: $xn17-vermell;
  padding-top:10px;
  padding-left:5%;
}

@mixin float-r{
  float: right;
}

@mixin float-l{
  float: left;
}

@mixin tipo-noticia-recurs{
  text-transform: uppercase;
  font-family: Fira Sans Bold;
  .field-content, a{
    display:inline-block;
  }
  padding-left:10px;
}

@mixin linia-vermella{
  border-top: solid 3px $xn17-vermell;
  padding-bottom: 15px !important;
  margin-left:15px;
  margin-right:15px;
  width:100%;
  position:relative;
  .espaiblanc{
    height: 3px;
    margin-top: -3px;
    position: absolute;
    background-color: #fff;
    width: 30px;
    right: 0px;
  }
}

@mixin node-comparteix {
  .a2a_kit {
    padding-top: 20px;
    &::before {
      display: block;
      content: 'Comparteix i difon:';
      font-weight: bold;

    }
    a { padding: 2px; }
    span {
      background-color: $gray-medium !important;
      border-radius: 15px !important;
      padding: 3px;
    }
  }
}

@mixin node-tags {
  .field-name-taxonomy-vocabulary-1 {
    border-top: solid 1px $gray;
    margin: 20px 0;
    padding-top: 10px;
    div { display: inline; float: none;}
  }
}

@mixin blocs-panell-entitat{
  height: 100%;
  padding: 15px;
  background-color:$gray-light;
  h2{
    font-family: 'Fira Sans SemiBold';
    color:$gray-dark;
    border-bottom: solid 2px $gray-dark;
  }
  ul{
    margin-left: 30px;
    li{
      padding-bottom: 10px;
      font-family: 'Fira Sans SemiBold';
      a{
        color: $gray-dark;
      }
      a:hover{
        color: $xn17-vermell;
      }
    }
  }
}
