// Typography
// -----------------------------------------------------------------------------
@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/FiraSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Fira Sans SemiBold';
  src: url('../fonts/FiraSans-SemiBold.ttf') format('truetype');
}
