/*
  Cascading style sheets for "Xarxanet" (20090810)
  ---
  Designed in 2009 by Emanuele Rodriguez <erodri@gmail.com>
  ---
  elements.css - Elements definitions
*/

.main e_text li
{
	list-style-image:none;
	list-style-position:inside;
	list-style-type:square;
}



/* e_agenda_search */
#content .e_agenda_search .f_check {
  padding-top: 20px !important;
  padding-bottom: 15px !important;
}

* html #content .e_agenda_search .f_check { padding-top: 22px !important; }

#content .e_agenda_search .f_del {
  clear: both;
}

#content .e_agenda_search .actions {
  padding-right: 30px;
}



/* e_blog */
#content .e_blog {
  background: url(../img/rel_blog_bg.gif) no-repeat 0 bottom;
  border-bottom: 2px solid #e32219;
  font-size: 1.1em;
  margin-bottom: .9em;
  overflow: hidden;
}

* html #content .e_blog { height: 1%; }

#content .e_blog .title {
  background-color: #e32219;
  color: #fff;
  font-weight: bold;
  letter-spacing: .03em;
  margin-bottom: 1em;
  padding: 2px 10px 3px 10px;
}

#content .e_blog p {
  line-height: 1.3;
  margin: .6em 0 .3em 0;
  padding: 0 12px;
}

#content .e_blog .more {
  float: right;
  margin: .6em 10px .9em 0;
}


/* e_lliure */
#content .e_lliure , #nav .e_lliure{

  border-bottom: 2px solid #e32219;
  font-size: 1.1em;
  margin-bottom: .9em;
  overflow: hidden;
}

* html #content .e_lliure, * html #nav .e_lliure { height: 1%; }

#content .e_lliure .title, #nav .e_lliure .title {
  background-color: #e32219;
  color: #fff;
  font-weight: bold;
  letter-spacing: .03em;
  margin-bottom: 1em;
  padding: 2px 10px 3px 10px;
}

#content .e_lliure p, #nav .e_lliure p {
  line-height: 1.3;
  margin: .6em 0 .3em 0;
  padding: 0 12px;
}

#content .e_lliure .more, #nav .e_lliure .more {
  float: right;
  margin: .6em 10px .9em 0;
}


/* e_comments */
#content .e_comments {
  margin: 1em 0;
  overflow: hidden;
}

* html #content .e_comments { height: 1%; }

#content .e_comments .label {
  font-size: 1.1em;
  font-weight: bold;
  padding-bottom: .7em;
}

#content .e_comments .items {
  font-size: 1.1em;
  letter-spacing: .03em;
  line-height: 1.3;
}

#content .e_comments .comment {
  background-color: #fde9e8;
  margin: 0.5em 0 0 0;
  padding: 10px;
}

#content .e_comments .items li {
  margin-top: 0;
}

#content .e_comments  .comment p {
  margin: 0 0 .5em 0;
}

#content .e_comments .comment .author {
  font-size: .9em;
  font-weight: bold;
}
#content .e_comments .comment .comment-title {
  font-size: .9em;
  font-weight: bold;
  padding-bottom:1em;
  display:block;
}
#content .e_comments .indented
{
	background-color: #fde9e8;
  
  padding: 10px;
  margin:0.5em 0 0 32px;
}
#content .e_comments .indented .comment{
	background: url(../img/icon_reply.gif) no-repeat 0 0px;
  color: #6e6e6e;
  padding: 0px 0 0 20px;
  margin:0;

}
#content .e_comments .comment .reply {
  background: url(../img/icon_reply.gif) no-repeat 0 13px;
  color: #6e6e6e;
  padding: 10px 0 0 20px;
}

#content .e_comments .indented .comment{
	  font-style: italic;
}

#content .e_comments .comment .reply p {
  font-style: italic;
}



/* e_form */
#content .e_form {
  background-color: #e6e6e6;
  font-size: 1.1em;
  margin: .7em 0 1em 0;
  overflow: hidden;
  padding: 10px;
}

* html #content .e_form { height: 1%; }

#content .e_form .field {
  float: left;
  padding: 0 10px 10px 0;
  overflow: hidden;
}

* html #content .e_form .field { height: 1%; }

#content .e_form .field label {
  display: block;
  font-weight: bold;
  padding-bottom: 5px;
}

#content .e_form .f_check {
  padding: 0 10px 10px 0;
}

#content .e_form .f_check .i_check {
  float: left;
}

#content .e_form .f_check label {
  float: left;
  padding: 0 3px 0 5px;
}

#content .e_form .size_m .i_text,
#content .e_form .size_m textarea {
  width: 216px;
}

#content .e_form .size_xl .i_text,
#content .e_form .size_xl textarea {
  width: 476px;
}

#content .e_form .help {
  float: left;
  padding: 22px 0 0 0;
  width: 20px;
}

#content .e_form .actions {
  clear: both;
  text-align: right;
}




/* e_gallery */
#content .e_gallery {
  margin: 0 0 1em 0;
  overflow: hidden;
}

* html #content .e_gallery { height: 1%; }

#content .e_gallery .label {
  font-size: 1.1em;
  font-weight: bold;
  padding: 0 0 .7em 0;
}

#content .e_gallery .items {
}

#content .e_gallery .items li {
}

#content .e_gallery .items li.first {
}

#content .e_gallery .items li .legend {
  color: #999;
  padding: 2px 0;
}




/* e_gmaps */
#content .e_gmaps {
  margin: 1.5em 0;
  overflow: hidden;
}

* html #content .e_gmaps { height: 1%; }

#content .e_gmaps .subtitle {
  font-size: 1.4em;
  font-weight: bold;
  letter-spacing: .035em;
  padding: 0 0 .5em 0;
}




/* e_highlight */
#content .e_highlight {
  border: 4px solid #e12319;
  font-size: 1.1em;
  margin-bottom: 1.7em;
  padding: 10px 11px;
}

#content .e_highlight .title {
  font-weight: bold;
  margin: .6em 0 0 0;
}

#content .e_highlight p {
  line-height: 1.3;
  margin: .6em 0 .3em 0;
}




/* e_info */
#content .e_info {
  margin: 0 0 2em 0;
  overflow: hidden;
}

* html #content .e_info { height: 1%; }

#content .e_info .image {
  padding: 0 0 .7em 0;
}

#content .e_info .info {
  font-size: 1.1em;
}

#content .e_info .info dt {
  font-weight: bold;
  padding: 0 0 .3em 0;
}

#content .e_info .info dd {
  padding: 0 0 .6em 0;
}




/* e_intro */
#content .e_intro {
  overflow: hidden;
  margin-bottom: 1em;
  margin-top: 1em;
  width: 500px;
}

* html #content .e_intro { height: 1%; margin-bottom: 1em; }
*+html #content .e_intro { margin-bottom: 1em; }

#content .e_intro .image {
  float: left;
  padding: 0 10px .9em 0;
  width: 85px;
}

#content .e_intro .image img {
  padding: 4px 0 8px 0;
}

#content .e_intro .image .legend {
  color: #999;
  letter-spacing: 0;
  margin: 0;
  padding-bottom: 4px;
}

#content .e_intro .image .zoom {
  padding-left: 11px;
  background: url(../img/icon_link.gif) no-repeat 0 4px;
}

#content .e_intro .text {
  display: inline;
  font-size: 1.2em;
}




/* e_list */
#content .e_list {
  border-bottom: 2px solid #c2c2c2;
  font-size: 1.1em;
  margin-bottom: .9em;
  overflow: hidden;
}

* html #content .e_list { height: 1%; }

#content .e_list .title {
  background-color: #c2c2c2;
  color: #000;
  font-weight: bold;
  letter-spacing: .03em;
  padding: 2px 10px 3px 10px;
}

#content .e_list .items {
  padding: 10px 5px 0 10px;
}

#content .e_list .items li , .items-view li{
  letter-spacing: .03em;
  line-height: 1.25;
  padding: 0 0 7px 13px;
  background: url(../img/icon_li.gif) no-repeat 1px 4px;
}
.content .items-view
{
	margin-left:235px;
	margin-top:2em;
}


#content .e_list .items li a,
#content .e_list .items li .date {
  display: block;
}

#content .e_list .items li .date {
  padding-top: 3px;
}

#content .e_list .more {
  float: right;
  margin: 0 10px 8px 0;
}




/* e_list2 */
#content .e_list2 {
  font-size: 1.1em;
  margin-bottom: .9em;
  overflow: hidden;
}

* html #content .e_list2 { height: 1%; }

#content .e_list2 .title {
  color: #000;
  font-weight: bold;
  letter-spacing: .03em;
  padding: 0 0 .3em 0;
}

#content .e_list2 .items {
}

#content .e_list2 .items li {
  letter-spacing: .03em;
  line-height: 1.25;
  padding: 0 0 7px 13px;
  background: url(../img/icon_li.gif) no-repeat 1px 4px;
}



/* e_logos */
#content .e_logos {
  margin-bottom: 1em;
  overflow: hidden;
}

* html #content .e_logos { height: 1%; }

#content .e_logos .logos {
  font-size: 1.1em;
  letter-spacing: .035em;
  line-height: 1.25;
  margin-right: -20px;
  width: 740px;
}

#content .e_logos .logos li {
  float: left;
  padding: 0 20px 1em 0;
  width: 165px;
}

#content .e_logos .logos li a {
  background-position: 0 0;
  background-repeat: no-repeat;
  display: block;
  height: 3em;
}

#content .e_logos .logos li.row1 a { padding-top: 60px; }
#content .e_logos .logos li.row2 a { padding-top: 70px; }
#content .e_logos .logos li.row3 a { padding-top: 95px; }

#content .e_logos .logos li.l_sace a { background-image: url(../img/logo_sace.gif); }
#content .e_logos .logos li.l_fce  a { background-image: url(../img/logo_fce.gif); }
#content .e_logos .logos li.l_fpt  a { background-image: url(../img/logo_fpt.gif); }
#content .e_logos .logos li.l_fac  a { background-image: url(../img/logo_fac.gif); }
#content .e_logos .logos li.l_xvac a { background-image: url(../img/logo_xvac.gif); }
#content .e_logos .logos li.l_eca  a { background-image: url(../img/logo_eca.gif); }
#content .e_logos .logos li.l_teb  a { background-image: url(../img/logo_teb.gif); }
#content .e_logos .logos li.l_rn   a { background-image: url(../img/logo_rn.gif); }
#content .e_logos .logos li.l_fcvs a { background-image: url(../img/logo_fcvs.gif); }
#content .e_logos .logos li.l_fas  a { background-image: url(../img/logo_fas.gif); }
#content .e_logos .logos li.l_megc a { background-image: url(../img/logo_megc.gif); }
#content .e_logos .logos li.l_fiw  a { background-image: url(../img/logo_fiw.gif); }



/* e_menu */
#content .e_menu {
  margin-bottom: 1.5em;
  overflow: hidden;
}

* html #content .e_menu { height: 1%; }

#content .e_menu .items {
  overflow: hidden;
}

* html #content .e_menu .items { height: 1%; }

#content .e_menu .items li {
  background: url(../img/icon_li.gif) no-repeat 0 4px;
  float: left;
  font-size: 1.1em;
  letter-spacing: .03em;
  padding: 0 7px 0 13px;
  width: 80px;
  list-style-type:none;
}

#content .e_text li {
background:transparent url(../img/icon_li.gif) no-repeat scroll 1px 4px;
letter-spacing:0.03em;
line-height:1.25;
padding:0 0 7px 13px;
}

#content .e_menu .items li a {
  font-weight: bold;
}


/* e_news */
#content .e_news {
  margin-bottom: 1em;
  overflow: hidden;
}

* html #content .e_news { height: 1%; }

#content .e_news .section {
  float: left;
  font-size: 1.4em;
  font-weight: bold;
  letter-spacing: .035em;
}

#content .e_news .more {
  float: right;
}

#content .e_news .items {
  clear: both;
}

#content .e_news .items li {
  border-bottom: 1px solid #c2c2c2;
  font-size: 1.1em;
  letter-spacing: .02em;
  line-height: 1.3;
  padding: .6em 0 0 0;
  overflow: hidden;
}

* html #content .e_news .items li { height: 1%; }

#content .e_news .items li .image {
  float: left;
  padding: .3em 10px .7em 0;
  width: 65px;
}

#content .e_news .items li .info {
  float: right;
  width: 425px;
}

#content .e_news .title {
  font-weight: bold;
  letter-spacing: .035em;
  margin-bottom: .2em;
  padding: 2px 0;
}

#content .e_news .items li .type {
  float: left;
  overflow: hidden;
  padding: 3px 5px 0 0;
}

* html #content .e_news .items li .type { height: 1%; }

#content .e_news .items li .type .label {
  background-color: #303030;
  color: #fff;
  display: block;
  font-size: .9em;
  font-weight: bold;
  padding: 0 2px 1px 2px;
  text-transform: uppercase;
}

#content .e_news .items li .date {
  clear: both;
  display: block;
  font-weight: bold;
  line-height: 1;
  padding-bottom: .8em;
}

#content .e_news .items li .text p {
  margin: 0 0 .8em 0;
}




/* e_news_votes */
#content .e_news_votes {
  margin: 0 -220px 1em 0;
  width: 700px;
}

* html #content .e_news_votes { position: relative; }

#content .e_news_votes .items li {
  border-bottom: none;
}

#content .e_news_votes .news {
  border-bottom: 1px solid #c2c2c2;
  float: left;
  width: 500px;
}

#content .e_news_votes .votes {
  float: right;
  width: 180px;
}

#content .e_news_votes .items li.first .news {
  padding-top: 1.5em;
}

#content .e_news_votes .votes .label {
  display: block;
  font-weight: bold;
  padding-bottom: .2em;
}

#content .e_news_votes .votes .vote {
  padding: .5em 0;
}

#content .e_news_votes .votes dl {
  letter-spacing: .035em;
}

#content .e_news_votes .votes dt {
  display: inline;
}

#content .e_news_votes .votes dd {
  display: inline;
  font-weight: bold;
  padding: 0 5px 0 0;
}



/* e_pages */
#content .e_pages {
  margin: 1em 0;
  overflow: hidden;
}

* html #content .e_pages { height: 1%; }

#content .e_pages .nav {
  float: right;
}

#content .e_pages .nav .label {
  position: absolute;
  left: -999em;
  overflow: hidden;
}

#content .e_pages .prev,
#content .e_pages .next,
#content .e_pages .pages,
#content .e_pages .pages li {
  float: left;
}

#content .e_pages .prev {
  background: url(../img/pages_prev_bg.gif) no-repeat 0 4px;
  padding-left: 12px;
}

#content .e_pages .next {
  background: url(../img/pages_next_bg.gif) no-repeat right 4px;
  padding-right: 12px;
}

#content .e_pages .pages li {
  background: url(../img/pages_div.gif) no-repeat 0 2px;
  padding: 0 7px;
}

#content .e_pages .pages li.first {
  background: none;
}

#content .e_pages .pages li.sel a {
  color: #303030;
}

#content .e_pages .pages li.sel a:hover {
  cursor: text;
}




/* e_recursos_search */
#content .e_recursos_search {
  margin-bottom: 2.5em;
}

#content .e_recursos_search .f_check {
  padding-right: 14px;
}




/* e_relevants */
#content .e_relevants {
  border: 1px solid #c2c2c2;
  margin-bottom: 2em;
  padding: 9px;
  overflow: hidden;
}

* html #content .e_relevants { height: 1%; }

#content .e_relevants .section {
  float: left;
  font-size: 1.4em;
  font-weight: bold;
  letter-spacing: .035em;
}

#content .e_relevants .title {
  font-weight: bold;
  letter-spacing: .035em;
  margin-bottom: .5em;
}

#content .e_relevants .more {
  float: right;
}

#content .main
{
	  font-size: 1.1em;
}
#content .e_relevants .initial,
#content .e_relevants .others {
  font-size: 1.1em;
  letter-spacing: .02em;
  line-height: 1.3;
  padding: .7em 0 0 0;
  width: 230px;
}

#content .e_relevants .initial {
  clear: left;
  float: left;
}

#content .e_relevants .initial .image {
  padding: .3em 0 .7em 0;
}

#content .e_relevants .others {
  clear: right;
  float: right;
}

#content .e_relevants .others li{
 list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
}

#content .e_relevants .others .image {
  float: left;
  padding: .3em 5px .2em 0;
}

#content .e_relevants .others .text {
  display: inline;
}




/* e_resources */
#content .e_resources {
  margin-bottom: 2em;
  overflow: hidden;
}

* html #content .e_resources { height: 1%; }

#content .e_resources .section {
  font-size: 1.1em;
  font-weight: bold;
  letter-spacing: .035em;
  padding: 0 10px 1px 10px;
}

#content .e_resources .section,
#content .e_resources .section a {
  color: #fff;
}

#content .e_resources .more {
  float: right;
  margin: 5px 10px 0 0;
}

#content .e_resources .items {
  clear: both;
  padding: 0 10px;
}

#content .e_resources .items li {
  font-size: 1.1em;
  letter-spacing: .02em;
  line-height: 1.3;
  padding: .3em 0;
  overflow: hidden;
}

* html #content .e_resources .items li { height: 1%; }

#content .e_resources .items li .image {
  float: left;
  padding: .3em 10px .7em 0;
  width: 65px;
}

#content .e_resources .items li .info {
  float: right;
  width: 405px;
}

#content .e_resources .title {
  font-weight: bold;
  letter-spacing: .035em;
  margin-bottom: .2em;
  padding: 2px 0;
}

#content .e_resources .items li .type {
  float: left;
  overflow: hidden;
  padding: 3px 5px 0 0;
}

* html #content .e_resources .items li .type { height: 1%; }

#content .e_resources .items li .type .label {
  background-color: #303030;
  color: #fff;
  display: block;
  font-size: .9em;
  font-weight: bold;
  padding: 0 2px 1px 2px;
  text-transform: uppercase;
}

#content .e_resources .items li .date {
  clear: both;
  display: block;
  font-weight: bold;
  line-height: 1;
  padding-bottom: .8em;
}

#content .e_resources .items li .text p {
  margin: 0 0 .8em 0;
}




/* e_share */
#content .e_share {
  margin: 0 0 1em 0;
  padding: 1.5em 0 0 0;
  overflow: hidden;
}

* html #content .e_share { height: 1%; }

#content .e_share .label {
  font-size: 1.1em;
  font-weight: bold;
  padding-bottom: .7em;
}

#content .e_share .items {
  background-color: #fbfaf9;
  float: left;
  padding: 3px 5px;
}

#content .e_share .items li {
  float: left;
  padding-left: 15px;
}

#content .e_share .items li.first {
  padding-left: 0;
}




/* e_table */
#content .e_table {
  border-bottom: 2px solid #c2c2c2;
  margin: 1em 0;
  overflow: hidden;
}

* html #content .e_table { height: 1%; }

#content .e_table table {
  font-size: 1.1em;
  line-height: 1.25;
  letter-spacing: .035em;
}

#content .e_table table th {
  background-color: #c2c2c2;
  color: #303030;
  font-weight: bold;
  padding: 2px 10px;
  white-space: nowrap;
}

#content .e_table table td {
  padding: 10px;
  vertical-align: top;
}

#content .e_table table .fin {
  width: 270px;
}

#content .e_table table td.fin a {
  background: url(../img/icon_li.gif) no-repeat 0 4px;
  display: block;
  padding: 0 0 0 13px;
}




/* e_tags */
#content .e_tags {
  font-size: 1.1em;
  padding: 5px 0;
}

#content .e_tags .title {
  font-weight: bold;
  padding-bottom: 4px;
}

#content .e_tags .list {
  letter-spacing: .035em;
}




/* e_text */
#content .e_text {
  border-bottom: 1px solid #c2c2c2;
  clear: both;
  font-size: 1.1em;
  letter-spacing: .03em;
  line-height: 1.3;
  margin: 1em 0;
  overflow: hidden;
}

#content .e_files {
  clear: both;
  font-size: 1.1em;
  letter-spacing: .03em;
  line-height: 1.3;
  margin: 1em 0;
  overflow: hidden;
}
#content .e_files h2
{
	font-weight: bold;
}

* html #content .e_text { height: 1%; }

#content .e_text .label {
  display: block;
  font-weight: bold;
}

#content .e_text .sections {
  font-weight: bold;
}

#content .e_text ol {
  margin: 0 0 1em 0;
}

#content .e_text ol li {
  list-style-type: decimal;
  list-style-position: inside;
}




/* e_text2 */
#content .e_text2 {
  clear: both;
  font-size: 1.1em;
  letter-spacing: .03em;
  line-height: 1.3;
  margin: 0 0 1em 0;
  overflow: hidden;
}

* html #content .e_text2 { height: 1%; }



/* e_vote */
#content .e_vote {
  font-size: 1.1em;
  margin: 1em 0;
}

#content .e_vote .title,
#content .e_vote .subtitle {
  display: block;
  font-weight: bold;
  padding-bottom: .2em;
}

#content .e_vote form {
  background-color: #fde9e8;
  overflow: hidden;
  padding: 8px 10px;
  margin: .5em 0 1.5em 0;
}

* html #content .e_vote form { height: 1%; }

#content .e_vote form label {
  position: absolute;
  left: -999em;
  overflow: hidden;
}

#content .e_vote form select {
  padding: 3px 1px 2px 1px;
  width: 110px;
}

#content .e_vote form .field {
  float: left;
}

#content .e_vote form .actions {
  float: right;
}

#content .e_vote .vote {
  padding: .5em 0;
}

#content .e_vote dl {
  letter-spacing: .035em;
}

#content .e_vote dt {
  display: inline;
}

#content .e_vote dd {
  display: inline;
  font-weight: bold;
  padding: 0 5px 0 0;
}

.e_comments .links
{
	margin: 10px;
}

#content .e_news .items li li{
	font-size:1em;
	border:none;
}

pre{
	font-size: 12px;
	padding: 1em 0 1em 0;
	margin: 0;
	background: #f0f0f0;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	line-height: 20px; /*--Height of each line of code--*/
	width: 100%;
	overflow: auto; /*--If the Code exceeds the width, a scrolling is available--*/
	overflow-Y: hidden;  /*--Hides vertical scroll created by IE--*/
	} 
  
  #content .e_news .e_tags li{
  font-size: 0.8em;
}

#content .view-id-recursos_mes_visitats .e_news .items li .info {
width:645px;
}

.node-type-pagina-estatica-portal img{
  display: inline;
}

.main-estatica-portal{
  width: 100%;
}

.node-type-pagina-estatica-portal .content .e_text p{
  font-size: 1.2em;
}

#cercador-agenda-cercador-form .form-radios div{
	margin-right:18px;
	float:left;
}
#cercador-agenda-cercador-form  .form-radios{
	overflow:hidden;
}