/**
 *   Frontpage Styles (Colors, Backgrounds, Typography, Links, etc.)
 */

/* -------- Link Veure Més ------- */
.veure-mes-p {
  float: right;
}

.veure-mes-p, .veure-recursos {
  font-size: 13pt;
  padding: $ninesixty-gutter-width $ninesixty-gutter-width 0 0;
}

/* ------- Panels ------- */
.section-recursos,
.section-agenda,
.section-financaments,
.section-projectes,
.section-juridic,
.section-informatic,
.section-formacio,
.section-economic, {
  .portada-superior-esquerra, .portada-superior-dreta {
    @include grid-width(4);
    float: left;
    .views-row-odd {
      margin-left: 0;
    }
    .views-row-even {
      margin-right: 0;
    }
    
    /* ------- Headers ------ */
    .header { 
      display: flex;
      h2.portada-titol {
        @include grid-width(2, $ninesixty-columns, $ninesixty-gutter-width+$space);
        @include title3;
        color: white;
        padding: $space 0 $space $space;
        margin-bottom: 0;
      }
      p { 
        display: flex;
        @include grid-width(2, $ninesixty-columns, $ninesixty-gutter-width);
        margin-left: $ninesixty-gutter-width;
      }
      a { 
        width: 100%;
        text-align: right; 
      } 
    }
  }
  .portada-superior-esquerra {
    margin-right: $space;
    margin-bottom: $space;
    clear: both;
  }
  .portada-superior-dreta {
    margin-left: $space;
    margin-bottom: $space;
  }
}

/* ------- Seccions especials ------- */
.section-especial,
.section-fes-voluntariat {
  .pane-content { margin-bottom: 15px; }
  #page-title-reg h1 { margin: $space 0; }
  #clear { clear: both; }
  #third-row { 
    padding-bottom: 10px;
    .item { 
      display: block;
      background: url('/sites/all/themes/sasson_xarxanet/images/bullets/news-list-style.png') 5px 6px no-repeat;
      padding-left: 18px;
      line-height: 1.6em;
    } 
  }
  /* .pane-custom .pane-content { padding: 10px; } */
  .pane-custom.no-padding .pane-content { padding: 0px; }
  .breadcrumb { 
     border-top: none;
     margin-right: 0px; 
  }
  .region-content {
    margin-top: $ninesixty-gutter-width;
    h2 {
      font-size: 14pt;
      font-weight: lighter !important;
      text-align: center;
      padding: $space/2;
      margin-bottom: 0px;
    }
    h3 {
      font-size: 14pt;
      line-height: 1.4em;
      font-weight: normal;
    } 
  }
  .pane-tags-especial-repositori {
    .views-row { margin-right: 12px; }
    .views-row-clear-0 { margin-left: 10px; }
    .views-row-clear-4 { margin-right: 10px; }
  }
  #especial-documents-pane {
    .row { padding-top: 10px; }
    .doc_title { 
      float: left;
      width: 140px; 
      padding: 0px 15px 0px 10px;
    }
    .doc_image { float: left;  }
    .doc_image img { 
      width: 110px;
      border: 1px solid #CCCCCC;
      margin-left: 5px 
    }
    #third-row { padding: 10px 5px; }
  }
  #especial-4-continguts-pane {
    .content { 
      float:left;
      margin: 10px 3px; 
    }
    .content-large { width: 377px; }
    .content-small { width: 179px; }
    #third-row { padding: 0 5px 10px; } 
  }
  #especial-1-contingut-pane {
    padding-bottom: $ninesixty-gutter-width;
   .content_title, 
   .content_teaser, 
   #third-row { padding: 0 5px; } 
   .content-columna-esquerra img { width: 568px; }
   .content-columna-dreta img {@include grid-width(4, $ninesixty-columns, $ninesixty-gutter-width - $space);}
  }
}

.page-especials .view-seccions-especials {
  .views-row {
    clear: both;
    .views-field {
      padding: $space 0;
    }
    div {
      float: left;
      vertical-align: top;
    }
    .image { 
      margin-right: $space;
    }
    .text {
      @include grid-width(4, $ninesixty-columns, $ninesixty-gutter-width);
      margin-left: $space;
    }
    h3 {
      margin-top: $space;
    }
  }
}

/* ------- Biblioteca ------- */
.section-biblioteca,
.section-biblioteca-filtre,
.section-biblioteca-cerca {
  form {
    margin-bottom: $ninesixty-gutter-width;
    .form-item, .form-actions {
     display: inline;
    } 
  }
  .views-exposed-form { display: none; }
  #biblioteca-panel {
    .views-row {
      border-bottom: 1px dotted $main-2;
      table { margin: $space 0; }
      tbody { border: none; } 
    }
    .biblioteca-document {
      border-collapse: separate;
      .text { padding: 0 $space; }
      .image img {
        @include grid-width(1.5);
        border: 1px solid $main-2;
      }
      h2 a {
        @include title3;
        color: $link-color;
      }
      .top {
        color: $main-1;
        font-style: italic;
      }
    }
  #biblioteca-order {
    margin-bottom: $ninesixty-gutter-width;
    a { margin: 0 $space; }
    a.currentsort { font-weight: bold; }
  }
    
    /* ------- Blocks ------- */
    .pane-block-67, .pane-block-69, .pane-block-73 {
      h2 {
        @include block-lat-title(3, $space, 0px);
        background: $biblioteca; 
      } 
      .pane-content {
        clear: both;
        background-color: $main-3;
        ul {
          margin-bottom: $ninesixty-gutter-width;
          padding: $ninesixty-gutter-width 0 $ninesixty-gutter-width $ninesixty-gutter-width*2;
          list-style-type: square;
        } 
        ul.subterm {
          padding: 0 $ninesixty-gutter-width*2;
          margin: 0;
        }
        li { margin-bottom: $space;}
        p { padding: $space; }
      }
    }
  }
}

/* ------- Colors ------ */
#recurs-economic { @include subportal-header($economic); }
#recurs-formacio { @include subportal-header($formacio); }
#recurs-informatic { @include subportal-header($informatic); }
#recurs-juridic { @include subportal-header($juridic); }
#recurs-projectes { @include subportal-header($projectes); }
#recurs-general { @include subportal-header($general); }
#financament-premis { @include subportal-header($premis); }
#financament-subvencio { @include subportal-header($subvencio); }
#financament-beques { @include subportal-header($beques); }
#financament-altres { @include subportal-header($altres); }
#portada-actes { @include subportal-header($actes); }
#portada-cursos { @include subportal-header($cursos); }
.section-projectes #portada-recurs, .section-projectes #portada-noticia { @include subportal-header($projectes); }
.section-juridic #portada-recurs, .section-juridic #portada-noticia { @include subportal-header($juridic); }
.section-informatic #portada-recurs, .section-informatic #portada-noticia { @include subportal-header($informatic); }
.section-formacio #portada-recurs, .section-formacio #portada-noticia { @include subportal-header($formacio); }
.section-economic #portada-recurs, .section-economic #portada-noticia { @include subportal-header($economic); } 