/**
 *   General Layout
 */

/* --------- Main --------- */
#main {
  margin: 0px;
  width: $ninesixty-grid-width;
}

.one-sidebar.sidebar-second #main {
  width: $column * 8 + $space * 7;
  margin: 0px 0px 0px $space;
}

/* ------- Sidebar ------- */
aside#sidebar-second {
  @include grid-width(2);
}

/* --------- Grid rows --------- */
.view-quadricula .views-row {
 @include grid-width(2);
 a img {
   @include grid-width(2);
 }
 @include grid-unit-base;
}

.view-4x133 .views-row-2, 
.view-4x133 .views-row-7, 
.view-4x33 .views-row-1, 
.view-4x33 .views-row-6, 
.view-3x2 .views-row-1, 
.view-3x2b .views-row-2, 
.view-2x1 .views-row-1 {
  @include grid-width(4);
  a img {
    @include grid-width(4);
  }
}

.view-4x133 .views-row-1 {
  @include grid-width(8);
  a img {
    @include grid-width(8);
  }
}

.view-3x3,
.view-4x133,
.view-4x4, {
  .views-row {
    margin-top: $ninesixty-gutter-width;
  }
}

.view-2x1,
.view-3x2,
.view-3x2b,
.view-3x3,
.view-4x133,
.view-4x33,
.view-4x4,
.view-5x3 {
  .views-row-clear-0 { 
    clear: both;
    margin-left: 0; 
  }
}

/* ---------- Node ---------- */
.node-type-detail {
  margin-top: 0px;
  img {
    padding-right: 3px;
    vertical-align: text-bottom;
  }
}

/* -------- Header --------*/
#header {
  width: 100%;
}

.block-menu-capcalera {
  float: right;
}

#block-apachesolr-panels-search-form {
  float: right;
  #edit-submit { display: none; }
}

/* -------- Menú --------*/
#block-megamenu-main-menu,
#block-block-83,
#block-megamenu-menu-menu-ambits-entitats {  
  width: 100%;
  float: left;
}

#block-megamenu-main-menu {   
  li ul {
    width: $ninesixty-grid-width !important;
  }
  .leaf-2 ul { left: -161px !important;}
  .leaf-3 ul { left: -267px !important;}
}

#block-megamenu-menu-menu-ambits-entitats {
  .half-2 ul {
    left: auto !important;
    right: 0px !important; 
  } 
}
