/**
 *   Layout Subportals
 */

.panel-2col .panel-panel .inside {
  margin: 0px;
}

/* ------- Biblioteca ------- */
.section-biblioteca,
.section-biblioteca-filtre,
.section-biblioteca-cerca {
  #main {
    width: $ninesixty-grid-width - $ninesixty-gutter-width;
    margin: 0 $space;
  }
  .breadcrumb { margin-right: 0px;}
  .panel-col-first { 
    @include grid-width(7);
    margin-right: $space;
    float: left;
  }
  .panel-col-last { 
    @include grid-width(3);
    margin-left: $space;
    float: left; 
  }
  .panels-flexible-region {
    width: 100%;
  }
}

/* ------- Seccions especials ------- */
.section-especial {
  .panel-col-first {
    width: $ninesixty-grid-width / $ninesixty-columns * 6;
    .inside { margin-right: $space } 
  }
  .panel-col-last { 
    width: $ninesixty-grid-width / $ninesixty-columns * 4;
    .inside { margin-left: $space }  
  }
}
