// Styles for comment.
// -----------------------------------------------------------------------------
#comments {
  margin-top: 30px;
  #comments-header {
    padding-left: 40px;
    border-top: solid 8px $gray;
    font-weight: 600;
    color: $gray-dark;
    background: $gray-light url('../images/icon/icon-hide-small.svg') no-repeat 15px 22px;
    border-bottom: solid 1px $gray;
    cursor: pointer;
  }
  #comments-title {
    padding: 15px 0;
    display: inline-block;
  }
  #comments-counter {
    float: right;
    background: url('../images/icon/icon-comment.svg') no-repeat 17px 9px;
    height: 50px;
    width: 36px;
    padding: 15px 30px;
    @media (max-width: $screen-xs-max) { display: none; }
  }
  #comments-body {
    background-color: $gray-light;
  }
  #comments-list {
    padding: 10px;
  }
  .comment {
    margin-top: 0px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    .username { font-weight: 600; }
    .field-name-post-date {
      font-size: $font-size-small;
      display: inline-block;
      margin-left: 5px;
      .field-item::before { content: '('; }
      .field-item::after { content: ')'; }
    }
    .field-name-comment-body { padding: 5px 10px; }
  }
  #comments-form {
    padding: 15px;
    .form-group {
      margin-bottom: 5px;
    }
    #edit-submit {
      background-color: $xn17-vermell;
      border: 0px;
      font-weight: 600;
      border-radius: 0;
      padding: 8px 20px;
    }
    .ckeditor_links, #edit-comment-body-und-0-format { display: none !important; }
  }

  &.closed {
    #comments-body { display: none; }
    #comments-header {
      background: $gray-light url('../images/icon/icon-show-small.svg') no-repeat 15px 22px;
      border-bottom: none;
    }
  }
}
