// Styles for Nodes
// -----------------------------------------------------------------------------
.page-node {
  #content { padding-bottom: 50px; }
}
.field-name-simple-share-icons {
  margin: 30px 0;
  a { margin-right: 5px; }
}

@media (max-width: $screen-md-min) {
  #main { margin-top: 0px; }
  .region-content-header { margin-bottom: 40px; }
}

.tipus_contingut {
  @include header_title;
  font-size: 2.1em;
}

//------------------------------------------------------------------------------
//Esdeveniment i Finançament
//------------------------------------------------------------------------------
.agenda, .financament {
  @include node-comparteix;
  @include node-tags;
  h1, .xn17-standard-header {
    font-size: 2.5em;
    font-family: 'Fira Sans SemiBold';
  }
  h1 { margin-bottom: 20px; }
  .xn17-standard-header {
    .date-display-single { &::after { content: " >  "; }}
    .field-name-ciutat {
      color: $xn17-vermell;
      padding-left: 10px;
    }
    .field-name-ciutat, .field-name-field-date-event {
      padding-top: 20px;
      padding-bottom: 20px;
      float: left;
      width: auto;
    }
  }
  .field-name-field-agenda-imatge img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  .field-name-field-resum { font-weight: bold; }
  .field-name-body, .field-name-adreca { margin-bottom: 20px; }
  .field-name-data-esdevendiment, .field-name-hora-esdeveniment,
  .field-name-field-organizer, .field-name-adreca, .field-name-field-convocant,
  .field-name-field-finfull-data-publicacio, .field-name-field-date,
  .field-name-field-date, .field-name-field-finfull-ambit, .field-name-field-finfull-tipus,
  .field-name-field-finfull-ambit-geo, .field-name-field-finfull-bases {
    p { margin: 0; }
    padding: 5px 0;
  }
  .field-name-field-finfull-bases, .field-name-field-finfull-ambit {
    .field-items { padding-left: 40px; }
    .field-item { display: list-item; }
  }
  .field-name-body {
    h1, h2, h3, h4, h5, h6 {
      font-size: $font-size-large;
      font-weight: 600;
    }
  }
  &.financament {
    .field-name-body {
      border-top: solid 1px $gray;
      margin-top: 20px;
      padding-bottom: 20px;  
    }
    .field-name-addtoany {
      border-top: solid 1px $gray;
      padding-top: 20px;
    }
  }
  .field-name-print-icon, .field-name-print-pdf {
    &.field-name-print-icon::before { content: url('../images/icon/icon-print.svg'); }
    &.field-name-print-pdf::before { content: url('../images/icon/icon-print-pdf.svg'); }
    font-weight: bold;
    .field-items {
      display: inline-block;
      height: 35px;
      position: absolute;
      padding: 8px 8px;
    }
    p { margin: 0px; }
  }
}

//------------------------------------------------------------------------------
//Notícia i Recurs
//------------------------------------------------------------------------------
.noticia, .recurs {
  @include node-comparteix;
  @include node-tags;
  h1 {
    font-size: 2.5em;
    font-family: 'Fira Sans SemiBold';
    margin-top: 50px;
  }
  .views-slideshow-cycle-main-frame,
  .views_slideshow_cycle_slide,
  .views_slideshow_cycle_slide img {
    width: 100%;
    height: auto;
  }
  &.recurs .views-slideshow-cycle-main-frame { margin-bottom: 50px; }
  .views_slideshow_cycle_slide { border-top: solid 2px $xn17-vermell; }
  &.recurs .views_slideshow_cycle_slide { margin-top: 50px; }
  .views-field-field-peu-de-foto, .views-field-field-imatges-1 {
    font-size: $font-size-small;
    color: $gray-medium;
  }
  .views-field-field-imatges-1 { margin-top: 5px; }
  .views-field-field-peu-de-foto {
    padding-bottom: 5px;
    border-bottom: solid 2px $xn17-vermell;
  }
  .field-name-field-resum {
    padding: 20px 0;
    font-weight: bold;
    font-size: $font-size-large;
  }
  .field-name-body { h1, h2, h3, h4 { font-size: $font-size-base !important; }}
  .field-name-field-ambit-noticia {
    @include flag;
    top: 0;
    a { color: white; }
    z-index: 15;
  }
  .field-name-field-autor-noticies .field-label,
  .field-name-field-autor .field-label { font-weight: normal; }
  .field-name-field-usuari-autor .field-item::before { font-weight: normal; content: 'Entitat redactora: '}
  .field-name-simple-share-icons-copia- { margin-top: 10px; }
  .field-name-seccions-recurs-index {
    font-size: $font-size-small;
    background-color: $gray-light;
    padding: 20px;
    .title {
      font-weight: bold;
      margin-bottom: 10px
    }
    .views-row {
      margin-left: 30px;
      margin-bottom: 5px
    }
    @media (min-width: $screen-md-min) {
      float: left;
      left: -80 px;
      position: relative;
      width: 280px;
      left: -130px;
      margin: 20px;
    }
  }
  .field-name-seccions-recurs {
    @media (min-width: $screen-md-min) {
      .views-row-1 {
        left: -120px;
        padding-left: 120px;
        position: relative;
        width: 715px;
        @media (min-width: $screen-lg-min) { width: 650px; }
      }
    }
  }
  .views-field-field-subtitols h2 {
    font-size: $font-size-large;
    font-weight: bold;
    margin-top: 30px;
  }
  .xn17-standard-column1 {
    @media (max-width: $screen-md-min) {
      h1, .field-name-simple-share-icons, .field-name-post-date,
      .field-name-field-autor-noticies, { display: none; }
    }
  }
  .xn17-standard-column2 {
    @media (min-width: $screen-md-min) {
      h1, .field-name-simple-share-icons-copia-, .field-name-post-date-copia-,
      .field-name-entitat-redactora-copia-, .field-name-autor-copia- { display: none; }
    }
    @media (max-width: $screen-md-min) {
      h1 { margin-top: 30px; margin-bottom: 20px; }
    }
  }
}
