// Styles for panels and panes.
// -----------------------------------------------------------------------------

//------------------------------------------------------------------------------
//Destacats
//------------------------------------------------------------------------------
  .destacat_2x2{
    @include caixa_modul;
  }

  //Lina superior vermella
  .panels-flexible-region-57-regio_2{
    border-top: solid 3px $xn17-vermell;
    padding-bottom: 15px !important;
    margin-left:15px;
    margin-right:15px;
    width:100%;
    position:relative;
    .espaiblanc{
      height: 3px;
      margin-top: -3px;
      position: absolute;
      background-color: #fff;
      width: 30px;
      right: 0px;
    }
  }
  .titol-regio{
    @include flag;
  }

  //ocultem el titol de la vista
  .pane-xn17-noticia-destacada-principal-panel-pane-1{
    .pane-title{
        display: none;
    }
  }
 .pane-bundle-xn17-opinio-destacada-portada{
   .titol{
     font-family: 'Fira Sans SemiBold';
     font-size: $font-size-h3;
     color: $xn17-vermell;
     padding-top:10px;
     padding-left:10px;
   }
   .pie{
      background-color: #BE1622;
      color: #fff;
      text-transform: uppercase;
      font-family: 'Fira Sans SemiBold';
      padding: 5px 0 5px 10px;
   }
 }
