// Styles for Views
// -----------------------------------------------------------------------------

//------------------------------------------------------------------------------
// Notícies i recursos
//------------------------------------------------------------------------------
.destacat_2x2{
  h3{
    font:{
      family: Fira Sans SemiBold;
      width:600;
    }
    a{
      color:#FFFFFF;
    }
    margin:0;
  }
  //----------------------------------------------------------------------------
  //contenidor per al titular i l'entradeta del Destacat
  .cont_titular_entradeta{
    position:absolute;
    top:20%;
    left:7%;
    @include padding-dreta-destacat(584 150);
    padding-bottom: 50px;
    @media screen and (min-width: $screen-xs) {
      left:10%;
    }
    p{
      padding-top:20px;
    }
  }
  //----------------------------------------------------------------------------
  color:#FFFFFF;
  margin-bottom:25px;
  @include aspect-ratio(584 342);
}

.modul_2x1{
  @include caixa_modul;
  padding-top: 0px;
  @include aspect-ratio(277 342);
  img{
      width:100%;
  }
  .titular{
    h4{
      font:{
        family: Fira Sans SemiBold;
      }
      a{
        color:$gray-dark;
      }
      margin:0px;
    }
    @include aspect-ratio(277 136);
    padding-left: 10px;
    padding-top:20px;
    padding-right:10px;
  }
  .tipo-noticia{
    text-transform: uppercase;
    font-family: Fira Sans Bold;
    .field-content, a{
      display:inline-block;
      color:$xn17-vermell;
    }
    padding-left:10px;
  }
  margin-bottom:30px;
}


//------------------------------------------------------------------------------
// Agenda
//------------------------------------------------------------------------------
.agenda {
  .views-row { padding: 15px; }
  .views-field-field-agenda-imatge, .views-field-nothing {
    float: left;
    width: 50%;
  }
  .views-field-field-agenda-imatge img { width: 100%; height: auto; }
  .views-field-nothing {
    padding: 0 15px;
    h4 { font-family: Fira Sans SemiBold; }
    .breadcrumb-agenda {
      a { font-family: Fira Sans SemiBold; }
      #link-tipus { color: $xn17-vermell; }
    }
    .data-lloc {
      color: $xn17-vermell;
      bottom: 30px;
      position: absolute;
    }
    @media (min-width: $screen-xs-max) { padding-top: 15px; }
    @media (max-width: $screen-xs-max) {
      h4 { font-size: 1.2em; margin-top: 0px; }
      .breadcrumb-agenda {
        @include flag;
        left: 15px;
        a { color: white; font-family: Fira Sans; }
        #link-agenda { display: none; }
      }
      .resum { display: none; }
      .data-lloc { bottom: 15px; }
    }
  }
}
