/**
 * @file         tothomweb_admin_theme.css
 *
 * @project      xarxanet.org/tothomweb_admin_theme
 * @version      1.0
 * @author       TOTHOMweb
 * @copyright    2020
 */

//  Variables

$base:                   #231f20 !default;
$gray-dark:              #2f3031 !default;
$gray-medium:            #878787 !default;
$gray:                   #c6c6c6 !default;
$gray-light:             #ededed !default;   // #999
$gray-lighter:           lighten(#000, 93.5%) !default; // #eee
$brand-primary:         #428bca !default;
$brand-success:         #5cb85c !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;
$brand-info:            #5bc0de !default;
$xn17-vermell:          #BE1622 !default;
$xn17-informatic:       #0081B7 !default;
$xn17-projectes:        #E4152B !default;
$xn17-juridic:          #559734 !default;
$xn17-economic:         #0081B7 !default;
$xn17-formacio:         #8B4A97 !default;
$body-bg:               $gray-light !default;
$text-color:            $gray-dark !default;
$font-family-sans-serif:  'Fira Sans', Helvetica, Arial, sans-serif !default;


.page-node-add,
.page-node-edit {

  // Placeholders

  input,
  textarea {

    &::-webkit-input-placeholder {
      font-style: italic !important;
      font-weight: 400 !important;
      color: #595959 !important;
    }

    &::-moz-placeholder {
      font-style: italic !important;
      font-weight: 400 !important;
      color: #595959 !important;
    }

    &:-ms-input-placeholder {
      font-style: italic !important;
      font-weight: 400 !important;
      color: #595959 !important;
    }

    &:-moz-placeholder {
      font-style: italic !important;
      font-weight: 400 !important;
      color: #595959 !important;
    }
  }

  // Submit buttons

  .form-submit.btn-default,
  .button.browse {
    background-color: #fff;
    color: $base;
    font-family: $font-family-sans-serif;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid $gray-medium;
    border-radius: 0;

    &:hover,
    &:focus,
    &:active {
      border: 1px solid $gray-medium;
      background-color: $gray-light;
      border-radius: 0;
    }
  }

  .form-submit.btn-primary {
    background-color: $xn17-vermell;
    color: #ffffff;
    font-family: $font-family-sans-serif;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid $xn17-vermell;
    border-radius: 0;

    &:hover,
    &:focus,
    &:active {
      border: 1px solid darken($xn17-vermell, 5%);
      background-color: darken($xn17-vermell, 5%);
      border-radius: 0;
    }
  }

  .description,
  .help-block {
    color: $base;
    font-style: italic;
  }

  // Fixes

  &.node-type-noticia-general .field-name-field-agenda-imatge {
    margin-top: 2rem;
    border-top: 0;
  }

  &.node-type-noticia-general .field-name-field-resum {
    border-top: 0;
    border-bottom: 0;
  }

  .field-type-file {
    margin-top: 3rem;
  }

  .field-group-multiple-table {
    margin-bottom: 0;
  }

  .ckeditor_links,
  .filter-help a,
  .filter-guidelines {
    font-size: 14px;
  }

  .cke_editable {
    background-color: #fff;
    background: red;
  }
}

// Custom CSS styles for Ember theme

.page-admin {
  background: none;
  background-image: url(/sites/all/modules/tothomweb_admin_theme/img/bg-pattern.png) !important;
  background-repeat: repeat;
  background-position: 0 0;

  .action-item-primary, .action-item-primary[type="reset"], .action-item-primary[type="submit"], .action-item-primary[type="button"], .action-item-small-primary, .action-item-small-primary[type="reset"], .action-item-small-primary[type="submit"], .action-item-small-primary[type="button"], .action-item-large-primary, .action-item-large-primary[type="reset"], .action-item-large-primary[type="submit"], .action-item-large-primary[type="button"], input[id^="edit-submit"], input[id^="edit-next"], .fake-submit, .ctools-auto-submit-click {
    background: $xn17-vermell;
    transition: 0.2s ease-in-out background;

    &:hover,
    &:focus,
    &:active {
      background: darken($xn17-vermell, 5%);

    }
  }

  .primary > [class*="active"], .primary > :hover {
    border-color: $xn17-vermell;
  }

  div#branding ul.secondary a:hover, div#branding ul.secondary a:active, div#branding ul.secondary a.active {
    color: $xn17-vermell;
  }

  #page {

    .action-links li:before {
      color: $xn17-vermell;
    }

    a {
      color: $xn17-vermell;
    }

    #edit-created-wrapper {
      min-width: 370px;

      .views-operator {
        width: auto;
        float: left;
        margin-right: 3px;
      }
    }
  }
}
