HTML {
	BORDER-RIGHT: 0pt; PADDING-RIGHT: 0pt; BORDER-TOP: 0pt; PADDING-LEFT: 
	0pt; FONT-SIZE: 100%; PADDING-BOTTOM: 0pt; MARGIN: 0pt; VERTICAL-ALIGN: baseline; BORDER-LEFT: 0pt; PADDING-TOP: 0pt; BORDER-BOTTOM: 0pt; FONT-FAMILY: inherit; outline-color: invert; outline-style: none; outline-width: 0pt;
}
BODY {
	BORDER-RIGHT: 0pt; PADDING-RIGHT: 0pt; BORDER-TOP: 0pt; PADDING-LEFT: 
	0pt; FONT-SIZE: 100%; PADDING-BOTTOM: 0pt; MARGIN: 0pt; VERTICAL-ALIGN: baseline; BORDER-LEFT: 0pt; PADDING-TOP: 0pt; BORDER-BOTTOM: 0pt; FONT-FAMILY: inherit; outline-color: invert; outline-style: none; outline-width: 0pt;
}
DIV {
	BORDER-RIGHT: 0pt; PADDING-RIGHT: 0pt; BORDER-TOP: 0pt; PADDING-LEFT: 
	0pt; FONT-SIZE: 100%; PADDING-BOTTOM: 0pt; MARGIN: 0pt; VERTICAL-ALIGN: baseline; BORDER-LEFT: 0pt; PADDING-TOP: 0pt; BORDER-BOTTOM: 0pt; FONT-FAMILY: inherit; outline-color: invert; outline-style: none; outline-width: 0pt;
}
SPAN {
	BORDER-RIGHT: 0pt; PADDING-RIGHT: 0pt; BORDER-TOP: 0pt; PADDING-LEFT: 
	0pt; FONT-SIZE: 100%; PADDING-BOTTOM: 0pt; MARGIN: 0pt; VERTICAL-ALIGN: baseline; BORDER-LEFT: 0pt; PADDING-TOP: 0pt; BORDER-BOTTOM: 0pt; FONT-FAMILY: inherit; outline-color: invert; outline-style: none; outline-width: 0pt;
}
APPLET {
	BORDER-RIGHT: 0pt; PADDING-RIGHT: 0pt; BORDER-TOP: 0pt; PADDING-LEFT: 
	0pt; FONT-SIZE: 100%; PADDING-BOTTOM: 0pt; MARGIN: 0pt; VERTICAL-ALIGN: baseline; BORDER-LEFT: 0pt; PADDING-TOP: 0pt; BORDER-BOTTOM: 0pt; FONT-FAMILY: inherit; outline-color: invert; outline-style: none; outline-width: 0pt;
}
OBJECT {
	BORDER-RIGHT: 0pt; PADDING-RIGHT: 0pt; BORDER-TOP: 0pt; PADDING-LEFT: 0pt; FONT-SIZE: 100%; PADDING-BOTTOM: 0pt; MARGIN: 0pt; VERTICAL-ALIGN: baseline; BORDER-LEFT: 0pt; PADDING-TOP: 0pt; BORDER-BOTTOM: 0pt; FONT-FAMILY: inherit; outline-color: invert; outline-style: none; outline-width: 0pt
}
IFRAME {
	BORDER-RIGHT: 0pt; PADDING-RIGHT: 0pt; BORDER-TOP: 0pt; PADDING-LEFT: 
	0pt; FONT-SIZE: 100%; PADDING-BOTTOM: 0pt; MARGIN: 0pt; VERTICAL-ALIGN: baseline; BORDER-LEFT: 0pt; PADDING-TOP: 0pt; BORDER-BOTTOM: 0pt; FONT-FAMILY: inherit; outline-color: invert; outline-style: none; outline-width: 0pt;
}

H2 {
	BORDER-RIGHT: 0pt; PADDING-RIGHT: 0pt; BORDER-TOP: 0pt; PADDING-LEFT: 
	0pt; FONT-SIZE: 100%; PADDING-BOTTOM: 0pt; MARGIN: 0pt; VERTICAL-ALIGN: baseline; BORDER-LEFT: 0pt; PADDING-TOP: 0pt; BORDER-BOTTOM: 0pt; FONT-FAMILY: inherit; outline-color: invert; outline-style: none; outline-width: 0pt;
}
H3 {
	BORDER-RIGHT: 0pt; PADDING-RIGHT: 0pt; BORDER-TOP: 0pt; PADDING-LEFT: 
	0pt; FONT-SIZE: 100%; PADDING-BOTTOM: 0pt; MARGIN: 0pt; VERTICAL-ALIGN: baseline; BORDER-LEFT: 0pt; PADDING-TOP: 0pt; BORDER-BOTTOM: 0pt; FONT-FAMILY: inherit; outline-color: invert; outline-style: none; outline-width: 0pt;
}
H4 {
	BORDER-RIGHT: 0pt; PADDING-RIGHT: 0pt; BORDER-TOP: 0pt; PADDING-LEFT: 
	0pt; FONT-SIZE: 100%; PADDING-BOTTOM: 0pt; MARGIN: 0pt; VERTICAL-ALIGN: baseline; BORDER-LEFT: 0pt; PADDING-TOP: 0pt; BORDER-BOTTOM: 0pt; FONT-FAMILY: inherit; outline-color: invert; outline-style: none; outline-width: 0pt;
}
H5 {
	BORDER-RIGHT: 0pt; PADDING-RIGHT: 0pt; BORDER-TOP: 0pt; PADDING-LEFT: 
	0pt; FONT-SIZE: 100%; PADDING-BOTTOM: 0pt; MARGIN: 0pt; VERTICAL-ALIGN: baseline; BORDER-LEFT: 0pt; PADDING-TOP: 0pt; BORDER-BOTTOM: 0pt; FONT-FAMILY: inherit; outline-color: invert; outline-style: none; outline-width: 0pt;
}
H6 {
	BORDER-RIGHT: 0pt; PADDING-RIGHT: 0pt; BORDER-TOP: 0pt; PADDING-LEFT: 
	0pt; FONT-SIZE: 100%; PADDING-BOTTOM: 0pt; MARGIN: 0pt; VERTICAL-ALIGN: baseline; BORDER-LEFT: 0pt; PADDING-TOP: 0pt; BORDER-BOTTOM: 0pt; FONT-FAMILY: inherit; outline-color: invert; outline-style: none; outline-width: 0pt;
}
P {
	BORDER-RIGHT: 0pt; PADDING-RIGHT: 0pt; BORDER-TOP: 0pt; PADDING-LEFT: 
	0pt; FONT-SIZE: 100%; PADDING-BOTTOM: 0pt; MARGIN: 0pt; VERTICAL-ALIGN: baseline; BORDER-LEFT: 0pt; PADDING-TOP: 0pt; BORDER-BOTTOM: 0pt; FONT-FAMILY: inherit; outline-color: invert; outline-style: none; outline-width: 0pt;
}
BLOCKQUOTE {
	BORDER-RIGHT: 0pt; PADDING-RIGHT: 0pt; BORDER-TOP: 0pt; PADDING-LEFT: 
	0pt; FONT-SIZE: 100%; PADDING-BOTTOM: 0pt; MARGIN: 0pt; VERTICAL-ALIGN: baseline; BORDER-LEFT: 0pt; PADDING-TOP: 0pt; BORDER-BOTTOM: 0pt; FONT-FAMILY: inherit; outline-color: invert; outline-style: none; outline-width: 0pt;
}
PRE {
	BORDER-RIGHT: 0pt; PADDING-RIGHT: 0pt; BORDER-TOP: 0pt; PADDING-LEFT: 
	0pt; FONT-SIZE: 100%; PADDING-BOTTOM: 0pt; MARGIN: 0pt; VERTICAL-ALIGN: baseline; BORDER-LEFT: 0pt; PADDING-TOP: 0pt; BORDER-BOTTOM: 0pt; FONT-FAMILY: inherit; outline-color: invert; outline-style: none; outline-width: 0pt;
}
A {
	BORDER-RIGHT: 0pt; PADDING-RIGHT: 0pt; BORDER-TOP: 0pt; PADDING-LEFT: 
	0pt; FONT-SIZE: 100%; PADDING-BOTTOM: 0pt; MARGIN: 0pt; VERTICAL-ALIGN: baseline; BORDER-LEFT: 0pt; PADDING-TOP: 0pt; BORDER-BOTTOM: 0pt; FONT-FAMILY: inherit; outline-color: invert; outline-style: none; outline-width: 0pt;
}
ABBR {
	BORDER-RIGHT: 0pt; PADDING-RIGHT: 0pt; BORDER-TOP: 0pt; PADDING-LEFT: 
	0pt; FONT-SIZE: 100%; PADDING-BOTTOM: 0pt; MARGIN: 0pt; VERTICAL-ALIGN: baseline; BORDER-LEFT: 0pt; PADDING-TOP: 0pt; BORDER-BOTTOM: 0pt; FONT-FAMILY: inherit; outline-color: invert; outline-style: none; outline-width: 0pt;
}
ACRONYM {
	BORDER-RIGHT: 0pt; PADDING-RIGHT: 0pt; BORDER-TOP: 0pt; PADDING-LEFT: 
	0pt; FONT-SIZE: 100%; PADDING-BOTTOM: 0pt; MARGIN: 0pt; VERTICAL-ALIGN: baseline; BORDER-LEFT: 0pt; PADDING-TOP: 0pt; BORDER-BOTTOM: 0pt; FONT-FAMILY: inherit; outline-color: invert; outline-style: none; outline-width: 0pt;
}
ADDRESS {
	BORDER-RIGHT: 0pt; PADDING-RIGHT: 0pt; BORDER-TOP: 0pt; PADDING-LEFT: 
	0pt; FONT-SIZE: 100%; PADDING-BOTTOM: 0pt; MARGIN: 0pt; VERTICAL-ALIGN: baseline; BORDER-LEFT: 0pt; PADDING-TOP: 0pt; BORDER-BOTTOM: 0pt; FONT-FAMILY: inherit; outline-color: invert; outline-style: none; outline-width: 0pt;
}
BIG {
	BORDER-RIGHT: 0pt; PADDING-RIGHT: 0pt; BORDER-TOP: 0pt; PADDING-LEFT: 
	0pt; FONT-SIZE: 100%; PADDING-BOTTOM: 0pt; MARGIN: 0pt; VERTICAL-ALIGN: baseline; BORDER-LEFT: 0pt; PADDING-TOP: 0pt; BORDER-BOTTOM: 0pt; FONT-FAMILY: inherit; outline-color: invert; outline-style: none; outline-width: 0pt;
}
CITE {
	BORDER-RIGHT: 0pt; PADDING-RIGHT: 0pt; BORDER-TOP: 0pt; PADDING-LEFT: 
	0pt; FONT-SIZE: 100%; PADDING-BOTTOM: 0pt; MARGIN: 0pt; VERTICAL-ALIGN: baseline; BORDER-LEFT: 0pt; PADDING-TOP: 0pt; BORDER-BOTTOM: 0pt; FONT-FAMILY: inherit; outline-color: invert; outline-style: none; outline-width: 0pt;
}
CODE {
	BORDER-RIGHT: 0pt; PADDING-RIGHT: 0pt; BORDER-TOP: 0pt; PADDING-LEFT: 
	0pt; FONT-SIZE: 100%; PADDING-BOTTOM: 0pt; MARGIN: 0pt; VERTICAL-ALIGN: baseline; BORDER-LEFT: 0pt; PADDING-TOP: 0pt; BORDER-BOTTOM: 0pt; FONT-FAMILY: inherit; outline-color: invert; outline-style: none; outline-width: 0pt;
}
DEL {
	BORDER-RIGHT: 0pt; PADDING-RIGHT: 0pt; BORDER-TOP: 0pt; PADDING-LEFT: 
	0pt; FONT-SIZE: 100%; PADDING-BOTTOM: 0pt; MARGIN: 0pt; VERTICAL-ALIGN: baseline; BORDER-LEFT: 0pt; PADDING-TOP: 0pt; BORDER-BOTTOM: 0pt; FONT-FAMILY: inherit; outline-color: invert; outline-style: none; outline-width: 0pt;
}
DFN {
	BORDER-RIGHT: 0pt; PADDING-RIGHT: 0pt; BORDER-TOP: 0pt; PADDING-LEFT: 
	0pt; FONT-SIZE: 100%; PADDING-BOTTOM: 0pt; MARGIN: 0pt; VERTICAL-ALIGN: baseline; BORDER-LEFT: 0pt; PADDING-TOP: 0pt; BORDER-BOTTOM: 0pt; FONT-FAMILY: inherit; outline-color: invert; outline-style: none; outline-width: 0pt;
}
EM {
	BORDER-RIGHT: 0pt; PADDING-RIGHT: 0pt; BORDER-TOP: 0pt; PADDING-LEFT: 
	0pt; FONT-SIZE: 100%; PADDING-BOTTOM: 0pt; MARGIN: 0pt; VERTICAL-ALIGN: baseline; BORDER-LEFT: 0pt; PADDING-TOP: 0pt; BORDER-BOTTOM: 0pt; FONT-FAMILY: inherit; outline-color: invert; outline-style: none; outline-width: 0pt;
}
FONT {
	BORDER-RIGHT: 0pt; PADDING-RIGHT: 0pt; BORDER-TOP: 0pt; PADDING-LEFT: 
	0pt; FONT-SIZE: 100%; PADDING-BOTTOM: 0pt; MARGIN: 0pt; 
	VERTICAL-ALIGN: baseline; BORDER-LEFT: 0pt; PADDING-TOP: 0pt; BORDER-BOTTOM: 0pt; FONT-FAMILY: inherit; outline-color: invert; outline-style: none; outline-width: 0pt;
}
IMG {
	BORDER-RIGHT: 0pt; PADDING-RIGHT: 0pt; BORDER-TOP: 0pt; PADDING-LEFT: 
	0pt; FONT-SIZE: 100%; PADDING-BOTTOM: 0pt; MARGIN: 0pt; VERTICAL-ALIGN: baseline; BORDER-LEFT: 0pt; PADDING-TOP: 0pt; BORDER-BOTTOM: 0pt; FONT-FAMILY: inherit; outline-color: invert; outline-style: none; outline-width: 0pt;
}
INS {
	BORDER-RIGHT: 0pt; PADDING-RIGHT: 0pt; BORDER-TOP: 0pt; PADDING-LEFT: 
	0pt; FONT-SIZE: 100%; PADDING-BOTTOM: 0pt; MARGIN: 0pt; VERTICAL-ALIGN: baseline; BORDER-LEFT: 0pt; PADDING-TOP: 0pt; BORDER-BOTTOM: 0pt; FONT-FAMILY: inherit; outline-color: invert; outline-style: none; outline-width: 0pt;
}
KBD {
	BORDER-RIGHT: 0pt; PADDING-RIGHT: 0pt; BORDER-TOP: 0pt; PADDING-LEFT: 
	0pt; FONT-SIZE: 100%; PADDING-BOTTOM: 0pt; MARGIN: 0pt; VERTICAL-ALIGN: baseline; BORDER-LEFT: 0pt; PADDING-TOP: 0pt; BORDER-BOTTOM: 0pt; FONT-FAMILY: inherit; outline-color: invert; outline-style: none; outline-width: 0pt;
}
Q {
	BORDER-RIGHT: 0pt; PADDING-RIGHT: 0pt; BORDER-TOP: 0pt; PADDING-LEFT: 
	0pt; FONT-SIZE: 100%; PADDING-BOTTOM: 0pt; MARGIN: 0pt; VERTICAL-ALIGN: baseline; BORDER-LEFT: 0pt; PADDING-TOP: 0pt; BORDER-BOTTOM: 0pt; FONT-FAMILY: inherit; outline-color: invert; outline-style: none; outline-width: 0pt;
}
S {
	BORDER-RIGHT: 0pt; PADDING-RIGHT: 0pt; BORDER-TOP: 0pt; PADDING-LEFT: 
	0pt; FONT-SIZE: 100%; PADDING-BOTTOM: 0pt; MARGIN: 0pt; 
	VERTICAL-ALIGN: baseline; BORDER-LEFT: 0pt; PADDING-TOP: 0pt; BORDER-BOTTOM: 0pt; FONT-FAMILY: inherit; outline-color: invert; outline-style: none; outline-width: 0pt;
}
SAMP {
	BORDER-RIGHT: 0pt; PADDING-RIGHT: 0pt; BORDER-TOP: 0pt; PADDING-LEFT: 
	0pt; FONT-SIZE: 100%; PADDING-BOTTOM: 0pt; MARGIN: 0pt; VERTICAL-ALIGN: baseline; BORDER-LEFT: 0pt; PADDING-TOP: 0pt; BORDER-BOTTOM: 0pt; FONT-FAMILY: inherit; outline-color: invert; outline-style: none; outline-width: 0pt;
}
SMALL {
	BORDER-RIGHT: 0pt; PADDING-RIGHT: 0pt; BORDER-TOP: 0pt; PADDING-LEFT: 
	0pt; FONT-SIZE: 100%; PADDING-BOTTOM: 0pt; MARGIN: 0pt; VERTICAL-ALIGN: baseline; BORDER-LEFT: 0pt; PADDING-TOP: 0pt; BORDER-BOTTOM: 0pt; FONT-FAMILY: inherit; outline-color: invert; outline-style: none; outline-width: 0pt;
}
STRIKE {
	BORDER-RIGHT: 0pt; PADDING-RIGHT: 0pt; BORDER-TOP: 0pt; PADDING-LEFT: 
	0pt; FONT-SIZE: 100%; PADDING-BOTTOM: 0pt; MARGIN: 0pt; VERTICAL-ALIGN: baseline; BORDER-LEFT: 0pt; PADDING-TOP: 0pt; BORDER-BOTTOM: 0pt; FONT-FAMILY: inherit; outline-color: invert; outline-style: none; outline-width: 0pt;
}
STRONG {
	BORDER-RIGHT: 0pt; PADDING-RIGHT: 0pt; BORDER-TOP: 0pt; PADDING-LEFT: 
	0pt; FONT-SIZE: 100%; PADDING-BOTTOM: 0pt; MARGIN: 0pt; VERTICAL-ALIGN: baseline; BORDER-LEFT: 0pt; PADDING-TOP: 0pt; BORDER-BOTTOM: 0pt; FONT-FAMILY: inherit; outline-color: invert; outline-style: none; outline-width: 0pt;
}
SUB {
	BORDER-RIGHT: 0pt; PADDING-RIGHT: 0pt; BORDER-TOP: 0pt; PADDING-LEFT: 
	0pt; FONT-SIZE: 100%; PADDING-BOTTOM: 0pt; MARGIN: 0pt; VERTICAL-ALIGN: baseline; BORDER-LEFT: 0pt; PADDING-TOP: 0pt; BORDER-BOTTOM: 0pt; FONT-FAMILY: inherit; outline-color: invert; outline-style: none; outline-width: 0pt;
}
SUP {
	BORDER-RIGHT: 0pt; PADDING-RIGHT: 0pt; BORDER-TOP: 0pt; PADDING-LEFT: 
	0pt; FONT-SIZE: 100%; PADDING-BOTTOM: 0pt; MARGIN: 0pt; VERTICAL-ALIGN: baseline; BORDER-LEFT: 0pt; PADDING-TOP: 0pt; BORDER-BOTTOM: 0pt; FONT-FAMILY: inherit; outline-color: invert; outline-style: none; outline-width: 0pt;
}
TT {
	BORDER-RIGHT: 0pt; PADDING-RIGHT: 0pt; BORDER-TOP: 0pt; PADDING-LEFT: 
	0pt; FONT-SIZE: 100%; PADDING-BOTTOM: 0pt; MARGIN: 0pt; VERTICAL-ALIGN: baseline; BORDER-LEFT: 0pt; PADDING-TOP: 0pt; BORDER-BOTTOM: 0pt; FONT-FAMILY: inherit; outline-color: invert; outline-style: none; outline-width: 0pt;
}
VAR {
	BORDER-RIGHT: 0pt; PADDING-RIGHT: 0pt; BORDER-TOP: 0pt; PADDING-LEFT: 
	0pt; FONT-SIZE: 100%; PADDING-BOTTOM: 0pt; MARGIN: 0pt; VERTICAL-ALIGN: baseline; BORDER-LEFT: 0pt; PADDING-TOP: 0pt; BORDER-BOTTOM: 0pt; FONT-FAMILY: inherit; outline-color: invert; outline-style: none; outline-width: 0pt;
}
DL {
	BORDER-RIGHT: 0pt; PADDING-RIGHT: 0pt; BORDER-TOP: 0pt; PADDING-LEFT: 
	0pt; FONT-SIZE: 100%; PADDING-BOTTOM: 0pt; MARGIN: 0pt; VERTICAL-ALIGN: baseline; BORDER-LEFT: 0pt; PADDING-TOP: 0pt; BORDER-BOTTOM: 0pt; FONT-FAMILY: inherit; outline-color: invert; outline-style: none; outline-width: 0pt;
}
DT {
	BORDER-RIGHT: 0pt; PADDING-RIGHT: 0pt; BORDER-TOP: 0pt; PADDING-LEFT: 
	0pt; FONT-SIZE: 100%; PADDING-BOTTOM: 0pt; MARGIN: 0pt; VERTICAL-ALIGN: baseline; BORDER-LEFT: 0pt; PADDING-TOP: 0pt; BORDER-BOTTOM: 0pt; FONT-FAMILY: inherit; outline-color: invert; outline-style: none; outline-width: 0pt;
}
DD {
	BORDER-RIGHT: 0pt; PADDING-RIGHT: 0pt; BORDER-TOP: 0pt; PADDING-LEFT: 
	0pt; FONT-SIZE: 100%; PADDING-BOTTOM: 0pt; MARGIN: 0pt; VERTICAL-ALIGN: baseline; BORDER-LEFT: 0pt; PADDING-TOP: 0pt; BORDER-BOTTOM: 0pt; FONT-FAMILY: inherit; outline-color: invert; outline-style: none; outline-width: 0pt;
}
OL {
	BORDER-RIGHT: 0pt; PADDING-RIGHT: 0pt; BORDER-TOP: 0pt; PADDING-LEFT: 
	0pt; FONT-SIZE: 100%; PADDING-BOTTOM: 0pt; MARGIN: 0pt; VERTICAL-ALIGN: baseline; BORDER-LEFT: 0pt; PADDING-TOP: 0pt; BORDER-BOTTOM: 0pt; FONT-FAMILY: inherit; outline-color: invert; outline-style: none; outline-width: 0pt;
}
UL {
	BORDER-RIGHT: 0pt; PADDING-RIGHT: 0pt; BORDER-TOP: 0pt; PADDING-LEFT: 
	0pt; FONT-SIZE: 100%; PADDING-BOTTOM: 0pt; MARGIN: 0pt; VERTICAL-ALIGN: baseline; BORDER-LEFT: 0pt; PADDING-TOP: 0pt; BORDER-BOTTOM: 0pt; FONT-FAMILY: inherit; outline-color: invert; outline-style: none; outline-width: 0pt;
}
LI {
	BORDER-RIGHT: 0pt; PADDING-RIGHT: 0pt; BORDER-TOP: 0pt; PADDING-LEFT: 
	0pt; FONT-SIZE: 100%; PADDING-BOTTOM: 0pt; MARGIN: 0pt; VERTICAL-ALIGN: baseline; BORDER-LEFT: 0pt; PADDING-TOP: 0pt; BORDER-BOTTOM: 0pt; FONT-FAMILY: inherit; outline-color: invert; outline-style: none; outline-width: 0pt;
}
FIELDSET {
	BORDER-RIGHT: 0pt; PADDING-RIGHT: 0pt; BORDER-TOP: 0pt; PADDING-LEFT: 0pt; FONT-SIZE: 100%; PADDING-BOTTOM: 0pt; MARGIN: 0pt; VERTICAL-ALIGN: baseline; BORDER-LEFT: 0pt; PADDING-TOP: 0pt; BORDER-BOTTOM: 0pt; FONT-FAMILY: inherit; outline-color: invert; outline-style: none; outline-width: 0pt
}
FORM {
	BORDER-RIGHT: 0pt; PADDING-RIGHT: 0pt; BORDER-TOP: 0pt; PADDING-LEFT: 
	0pt; FONT-SIZE: 100%; PADDING-BOTTOM: 0pt; MARGIN: 0pt; VERTICAL-ALIGN: baseline; BORDER-LEFT: 0pt; PADDING-TOP: 0pt; BORDER-BOTTOM: 0pt; FONT-FAMILY: inherit; outline-color: invert; outline-style: none; outline-width: 0pt;
}
LABEL {
	BORDER-RIGHT: 0pt; PADDING-RIGHT: 0pt; BORDER-TOP: 0pt; PADDING-LEFT: 
	0pt; FONT-SIZE: 100%; PADDING-BOTTOM: 0pt; MARGIN: 0pt; VERTICAL-ALIGN: baseline; BORDER-LEFT: 0pt; PADDING-TOP: 0pt; BORDER-BOTTOM: 0pt; FONT-FAMILY: inherit; outline-color: invert; outline-style: none; outline-width: 0pt;
}
LEGEND {
	BORDER-RIGHT: 0pt; PADDING-RIGHT: 0pt; BORDER-TOP: 0pt; PADDING-LEFT: 
	0pt; FONT-SIZE: 100%; PADDING-BOTTOM: 0pt; MARGIN: 0pt; VERTICAL-ALIGN: baseline; BORDER-LEFT: 0pt; PADDING-TOP: 0pt; BORDER-BOTTOM: 0pt; FONT-FAMILY: inherit; outline-color: invert; outline-style: none; outline-width: 0pt;
}
TABLE {
	BORDER-RIGHT: 0pt; PADDING-RIGHT: 0pt; BORDER-TOP: 0pt; PADDING-LEFT: 
	0pt; FONT-SIZE: 100%; PADDING-BOTTOM: 0pt; MARGIN: 0pt; VERTICAL-ALIGN: baseline; BORDER-LEFT: 0pt; PADDING-TOP;: 0pt; BORDER-BOTTOM: 0pt; FONT-FAMILY: inherit; outline-color: invert; outline-style: none; outline-width: 0pt;
}
CAPTION {
	BORDER-RIGHT: 0pt; PADDING-RIGHT: 0pt; BORDER-TOP: 0pt; PADDING-LEFT: 
	0pt; FONT-SIZE: 100%; PADDING-BOTTOM: 0pt; MARGIN: 0pt; VERTICAL-ALIGN: baseline; BORDER-LEFT: 0pt; PADDING-TOP: 0pt; BORDER-BOTTOM: 0pt; FONT-FAMILY: inherit; outline-color: invert; outline-style: none; outline-width: 0pt;
}
TBODY {
	BORDER-RIGHT: 0pt; PADDING-RIGHT: 0pt; BORDER-TOP: 0pt; PADDING-LEFT: 
	0pt; FONT-SIZE: 100%; PADDING-BOTTOM: 0pt; MARGIN: 0pt; VERTICAL-ALIGN: baseline; BORDER-LEFT: 0pt; PADDING-TOP: 0pt; BORDER-BOTTOM: 0pt; FONT-FAMILY: inherit; outline-color: invert; outline-style: none; outline-width: 0pt;
}
TFOOT {
	BORDER-RIGHT: 0pt; PADDING-RIGHT: 0pt; BORDER-TOP: 0pt; PADDING-LEFT: 0pt; FONT-SIZE: 100%; PADDING-BOTTOM: 0pt; MARGIN: 0pt; VERTICAL-ALIGN: baseline; BORDER-LEFT: 0pt; PADDING-TOP: 0pt; BORDER-BOTTOM: 0pt; FONT-FAMILY: inherit; outline-color: invert; outline-style: none; outline-width: 0pt
}
THEAD {
	BORDER-RIGHT: 0pt; PADDING-RIGHT: 0pt; BORDER-TOP: 0pt; PADDING-LEFT: 
	0pt; FONT-SIZE: 100%; PADDING-BOTTOM: 0pt; MARGIN: 0pt; VERTICAL-ALIGN: baseline; BORDER-LEFT: 0pt; PADDING-TOP: 0pt; BORDER-BOTTOM: 0pt; FONT-FAMILY: inherit; outline-color: invert; outline-style: none; outline-width: 0pt;
}
TR {
	BORDER-RIGHT: 0pt; PADDING-RIGHT: 0pt; BORDER-TOP: 0pt; PADDING-LEFT: 
	0pt; FONT-SIZE: 100%; PADDING-BOTTOM: 0pt; MARGIN: 0pt; VERTICAL-ALIGN: baseline; BORDER-LEFT: 0pt; PADDING-TOP: 0pt; BORDER-BOTTOM: 0pt; FONT-FAMILY: inherit; outline-color: invert; outline-style: none; outline-width: 0pt;
}
TH {
	BORDER-RIGHT: 0pt; PADDING-RIGHT: 0pt; BORDER-TOP: 0pt; PADDING-LEFT: 
	0pt; FONT-SIZE: 100%; PADDING-BOTTOM: 0pt; MARGIN: 0pt; VERTICAL-ALIGN: baseline; BORDER-LEFT: 0pt; PADDING-TOP: 0pt; BORDER-BOTTOM: 0pt; FONT-FAMILY: inherit; outline-color: invert; outline-style: none; outline-width: 0pt;
}
TD {
	BORDER-RIGHT: 0pt; PADDING-RIGHT: 0pt; BORDER-TOP: 0pt; PADDING-LEFT: 
	0pt; FONT-SIZE: 100%; PADDING-BOTTOM: 0pt; MARGIN: 0pt; VERTICAL-ALIGN: baseline; BORDER-LEFT: 0pt; PADDING-TOP: 0pt; BORDER-BOTTOM: 0pt; FONT-FAMILY: inherit; outline-color: invert; outline-style: none; outline-width: 0pt;
}
TABLE {
	BORDER-COLLAPSE: separate; border-spacing: 0pt;
}
CAPTION {
	FONT-WEIGHT: normal; TEXT-ALIGN: left;
}
TH {
	FONT-WEIGHT: normal; TEXT-ALIGN: left;
}
TD {
	FONT-WEIGHT: normal; TEXT-ALIGN: left;
}
BLOCKQUOTE:unknown {
	content: ?";
}

blockquote, q {
quotes:?" ??
}

BLOCKQUOTE:unknown {
	content: ?";
}

blockquote, q {
quotes:?" ??
}
Q:unknown {
	content: ?";
}

blockquote, q {
quotes:?" ??
}
Q:unknown {
	content: ?";
}

blockquote, q {
quotes:?" ??
}
STRONG {
	FONT-WEIGHT: bold;
}
EM {
	FONT-STYLE: italic;
}
* {
	PADDING-RIGHT: 0pt; PADDING-LEFT: 0pt; PADDING-BOTTOM: 0pt; MARGIN: 
	0pt; PADDING-TOP: 0pt;
}
.Menu-AS LI.Ambits UL {
	MARGIN-TOP: 20px;
}
.Menu-AS LI.Serveis UL {
	MARGIN-TOP: 20px;
}
#Header {
	HEIGHT: 245px;
}
#Columna {
	MARGIN-TOP: -15px;
}
#Columna-Home {
	MARGIN-TOP: -19px;
}
#Contenido {
	MARGIN-TOP: -19px;
}
H3 A:link {
	COLOR: #333! important;
}
H3 A:visited {
	COLOR: #333! important;
}
H3 A:active {
	COLOR: #333! important;
}
H3 A:hover {
	COLOR: #333! important;
}
#Carrusel-Txt P {
	FONT-WEIGHT: normal; COLOR: #fff; TEXT-DECORATION: none;
}
#Carrusel-Txt P:link {
	FONT-WEIGHT: normal; COLOR: #fff; TEXT-DECORATION: none;
}
#Carrusel-Txt P:visited {
	FONT-WEIGHT: normal; COLOR: #fff; TEXT-DECORATION: none;
}
#Carrusel-Txt P:active {
	FONT-WEIGHT: normal; COLOR: #fff; TEXT-DECORATION: none;
}
#Carrusel-Txt P:hover {
	FONT-WEIGHT: normal; COLOR: #b2290c; TEXT-DECORATION: underline;
}
.Form-S {
	HEIGHT: auto;
}
.Form-M {
	HEIGHT: auto;
}
.Form-XL {
	HEIGHT: auto;
}
.Form-L {
	HEIGHT: auto;
}
.form-item {
	WIDTH: auto; HEIGHT: auto;
}
.form-item SPAN {
	FLOAT: left; MARGIN-LEFT: 22px; WIDTH: 150px; BORDER-TOP-STYLE: none; 
	BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 100%; BORDER-BOTTOM-STYLE: none;
}
#Cercador-Seleccio {
	MARGIN-BOTTOM: 10px;
}
.legend {
	MARGIN-TOP: -4px; /* WIDTH: 267px; */
}
.node-column-images UL LI {
	MARGIN-BOTTOM: 20px;
}
.node-terms UL {
	DISPLAY: inline-block; FLOAT: left; MARGIN: 5px; LINE-HEIGHT: 1em; 
	LIST-STYLE-TYPE: none; POSITION: relative;
}
.node-terms LI {
	DISPLAY: inline-block; FLOAT: left; MARGIN: 5px; LINE-HEIGHT: 1em; 
	LIST-STYLE-TYPE: none; POSITION: relative;
}
#Menu UL.Menu-AS {
	PADDING-BOTTOM: 0px! important;
}
#Menu .Menu-AS-Sub {
	MARGIN-TOP: 34px! important;
}
.Menu-AS LI UL.Menu-AS-Sub LI {
	WIDTH: auto! important;
}
.columns-inner {
	MARGIN-TOP: 25px;
}
.pane-content .view-cuadricula .views-row {
	MARGIN-TOP: 0px;
}
#xarxanet-recursos-parent .xarxanet-recursos-titles {
	WIDTH: 180px! important;
}
.xarxanet-recursos-titles {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 5px; 
	PADDING-TOP: 5px;
}
P {
	FONT-SIZE: 10pt; PADDING-BOTTOM: 5px; COLOR: #333333; LINE-HEIGHT: 1.4em;
}