/* $Id: nodes.css,v 1.1.2.13 2009/06/05 17:49:59 jmburnz Exp $ */

/**
 * @file nodes.css
 * Basic styles for nodes.
 */

/**********************************************************
 *                      Nodes
 **********************************************************/
.node {
  margin: 0 0 1.5em;
}

/* Inner wrapper div for nodes. */
.node-inner {
    /*width: 770px;*/
}

/* Node resum */
.node-intro * {
    font-family:Georgia, "Times New Roman", Times, serif;
    font-size:14pt;
    line-height:1.3em;
    font-weight:normal;
    color:#333;
}

/* Node title on teasers and other lists. */
.node-title {}

.node-title a:link,
.node-title a:visited,
.node-title a:active {
  text-decoration: none;
}

.node-title a:hover {
  text-decoration: underline;
}




/* Node content wrapper. */
.node-content, .node-content-Full {
    position:relative;
    height:auto;
    margin-bottom:15px;
}

.node-content p, .node .content p{
	padding-bottom: 10px;
}

/*.node-content p, .node-content ul, .node-content h2, .node-content h3, .node-content h4, .node-content ol, .node-content a {
    position:relative;
    clear:both;
    width:100%;
}*/
.node-content ol {
    /*font-family:Georgia, "Times New Roman", Times, serif;*/
    margin-bottom:15px;
    width:95%;
    
}
.node-content ul, .node-content ol,
.section-butlletins #content .node ul, .section-butlletins #content .node ol,
.section-fes-voluntariat #content .node ul, #content .node ul #content .node ol{
     line-height: 1.4em;
     margin-left: 24px;
    
}


.node-content ol li a:link,.node-content ol li a:visited,.node-content ol li a:active{text-decoration:none;}
.node-content ol li a:hover{text-decoration:underline;}

.node-content ol{list-style-type:decimal; margin-left: 24px;}
.node-content ol li a:link,.node-content ol li a:visited,.node-content ol li a:active{color: #005577; text-decoration:none;}

.node-content h3.label-h3{clear: both;}
.node-content h3.label:hover{text-decoration:none;}

/* User Picture. */
.node .user-picture {}
.node .user-picture img {}

/* Submitted */
.node-submitted {
    width:100%;
    height:auto;
    margin-bottom:10px;
}
.node-submitted p, .node-submitted li {
    font-size:8pt;
    line-height:1.3em;
    color:#333;
    padding-bottom:0px;
}
#stars {
    position:relative;
    height:auto;
    width:auto;
    float:right;
    line-height:0em;
}

/* Common links classes. */
.node ul.links {}
.node ul.links li {
  padding: 0 1em 0 0;
}
.node ul.links li a {}

/* Links. */
.node-links {
    float: left;
    height: auto;
   
}
.node-links ul {
    margin-bottom: 15px;
}
.node-links ul.links li  {
    display: inline;
    padding-top: 10px;
	
}
.node-links ul.links li a img {
    margin-right: 10px;
    width: 22px;
}
.node-links ul.links li a div {
    float: right;
    line-height: 20px;
}

/* Taxonomy terms. */
.node-terms {
    position:relative;
    float:left;
    width:100%;
    height:auto;
    background-color:#EBEFF0;
	margin-top:10px;
}
.node-terms h2 {
    font-family:Georgia, "Times New Roman", Times, serif;
    font-weight:normal;
    font-size:11pt;
    color:#FFF;
    padding:5px;
    margin-bottom:5px;
    background-color:#333333;

}

.node-terms ul.tags li,
.node-terms ul.linksrelacionats li {
    margin:5px;
    float:left;
    text-transform: capitalize;
    width: 100%;
    overflow: hidden;
   
}


.node-terms ul.tags, 
.node-terms ul.linksrelacionats{
	list-style-type: none;
}


.node-terms ul.tags li, .node-terms ul.linksrelacionats li{
     background: url('../images/news-list-style.png') 0px no-repeat;
}




/* TODO colocar legend a imagefield? */
.legend {
    position:relative;
    height:auto;
    width:auto;
    padding:10px 10px 8px;
    font-size:9pt;
    color:#FFF;
    margin-bottom:15px;
    margin-top:-5px;
	background-color:#333;
	width:257px;	
}

.legend p{
	color:#FFF;
}

/* Style module links. */
ul.links li.node_read_more a {}
ul.links li.comment_add a {}
ul.links li.comment_comments a {}
ul.links li.comment_new_comments a {}
ul.links li.blog_usernames_blog a {}

/* Node ul link first and last classes. */
.node ul.links li.first {}
.node ul.links li.last  {}

/* Node classes for node workflow states. */
.node-add    {}
.node-edit   {}
.node-delete {}
.node-preview  {}
.node-sticky   {}
.node-promoted {}

/* Node status. */
.node-unpublished {}

/* Theme the node teaser seperatly. */
.node-teaser {}

/* Node social and service links (Facebook, Twitter, etc.) */
.node-social-links {
    border-color:#999;
    border-style:solid;
    border-width:1px;
    border-right:none;
    border-left:none;
    padding:15px 0 20px 0;
    margin-top:5px;
    margin-bottom:5px;
    clear: both;
    height: 15px;
}

.service-links {
    clear: left;
	position: relative;
	z-index:10;
}

.tweetbutton, .fb-social-like-widget {
    float: left;
}
.service-label {
    display: none;
}

.service-links ul {}

.service-links ul li {
    display: inline;
    float: left;
}

/**********************************************************
 *                   Core node types
 **********************************************************/
.node-blog  {}
.node-page  {}
.node-story {}
.node-forum {}
.node-book  {}
.node-poll  {}


/**********************************************************
 *                 Custom node types
 **********************************************************/
/** 
 * Replace CONTENT_TYPE with the content type 
 * machine-readable name. 
 */
.node-type-CONTENT_TYPE {}


/**********************************************************
 *                    CCK Fields
 **********************************************************/
/* Wrapper for any CCK field. */
.field {}

/* Use "datetime" when creating new CCK date fields. */
.field-type-datetime {}

/* Filefield field. */
.field-type-filefield {}

/* Imagefield field. */
.field-type-image {}

/* Node reference field. */
.field-type-nodereference {}

/* User reference field. */
.field-type-userreference {}

/* Number fields. */
.field-type-number-decimal {}
.field-type-number-float   {}
.field-type-number-integer {}

/* Text field. */
.field-type-text {}

/**
 * Specific field names.
 */
/* Underscores in field name are replaced with dashes. */
.field-field-FIELDNAME {}

/**
  *Idilic - columna d'imatges i tags
  */
.node-column-images{
    position:relative;
    height:auto;
    width:277px;
    margin-right:15px;
    float:left;
}
.node-column-images ul, .node-column-images ul li{
    list-style-type:none;
    float:left;
}
.node-column-text {
    width: 477px;
    float:right;
}

/****************************************** 
*               Recursos
******************************************/

#main-content a.tornar{
	text-decoration:none;
	padding: 5px;
      position: relative;
      /*width: 97%;
	float:left;*/
	float: right;
	clear:both;
	margin-bottom:15px;
	font-weight: 400;
	
}

#main-content a.tornar:hover{
	text-decoration: underline;
}

.cincestrelles{
	float:right;	
}
.cincestrelles .fivestar-widget{
	float:right;
	clear:both;
}
.cincestrelles .description{
	float:right;
	clear:both;
}
.floatesquerra{float:left;}
.floatdreta{float:right;}
.floatesquerra .fb-social-like-widget{position:relative;width:10px;z-index:1;}

/***********************************
*      Agenda
*************************************/
.calendari{ 
	overflow:hidden;
	margin-bottom:10px;
	font-size:13px;
	padding:5px 10px 5px 10px;
	background-color:#ABB22F;
	color:#FFF;
}

.tipusagenda{
	text-transform:uppercase;
	font-weight:bold;
	color:#000;
}

.agendainformacio{
	background-color:#EAECCB;
	padding: 10px;
	color:#333333;
}

div.mb{
	margin-bottom:10px;		
}

h2.minfo{
	background-color:#ABB22F;
	color:#FFF;
	padding:5px;
	font-weight: normal;
	margin-bottom: 5px;
}

/*****************************
*       Portades 
***********************************/
div.portada-superior-esquerra{
	float:left;
	width:378px;
	clear: both;
	position:relative;
	margin-bottom: 24px;
}

div.portada-superior-dreta{
	float:left;
	width:378px;
	margin-left: 10px;
	position:relative;
	margin-bottom: 24px;
}
div.portada-inferior{
	clear:both;
}

h2.portada-titol{
	font-size: 14pt;
	padding: 8px 10px 8px;
	font-weight: normal;
	color:#FFF;
	background-color: #C13113;
	width: 180px;
}



#main-content a.veure-recursos {
    display: inline-block;
    float: right;
    padding: 5px;
    position: absolute;

    font-family: Georgia, Times New Roman, Times, serif;	
    color: #005577;
    font-size: 14px;
    text-decoration: none;

    
      
}
/* Botons MES NOTICIES */
#main-content a.veure-mes {
    display: inline-block;
    float: right;
    padding: 5px 5px 7px 5px;
    font-family: Georgia, Times New Roman, Times, serif;	
    color: #005577;
    font-size: 17px;
    top: 1px; 
    text-decoration: none;


}




/* FI botons MES NOTICIES */

#main-content #portada-recurs a.veure-recursos,
#main-content #portada-noticia a.veure-recursos,
#main-content a.veure-recursos{
	font-family: Georgia, Times New Roman, Times, serif;	
	color: #005577;
	font-size: 17px;
	top: 1px; 
	left: 280px;
	text-decoration: none;
}



#portada-recurs h3 a,
#portada-noticia h3 a{
	font-size: 24px;
}

#main-content #portada-noticia a.veure-recursos,
#main-content #portada-noticia a.veure-recursos {
	
	font-weight: normal;
	top: 1px; 
	right: 0;
}

#main-content #portada-actes a.veure-recursos {
	
	font-weight: normal;
	top: 1px; 
	right: 0;
}

#main-content #portada-cursos a.veure-recursos {
	
	font-weight: normal;
	top: 1px; 
	right: 0;
}



.recursos .portada-superior-esquerra .header p, .recursos .portada-superior-dreta .header p { padding-bottom: 0px; }
.recursos .portada-superior-esquerra .header h2, .recursos .portada-superior-dreta .header h2 { width: 160px; }
.recursos .portada-superior-esquerra .header, .recursos .portada-superior-dreta .header { width: 365px; }

#recurs-economic h2.portada-titol{border-color:#D1B91A;}
#recurs-economic .header {border-bottom: solid 1px #D1B91A;}
#recurs-formacio h2.portada-titol{border-color:#C09158;}
#recurs-formacio .header {border-bottom: solid 1px #C09158;}
#recurs-informatic h2.portada-titol{border-color:#9B8CD2;}
#recurs-informatic .header {border-bottom: solid 1px #9B8CD2;}
#recurs-juridic h2.portada-titol{border-color:#62AEC4;}
#recurs-juridic .header {border-bottom: solid 1px #62AEC4;}
#recurs-projectes h2.portada-titol{border-color:#E39595;}
#recurs-projectes .header {border-bottom: solid 1px #E39595;}
#recurs-general h2.portada-titol{border-color:#B4CF4F;}
#recurs-general .header {border-bottom: solid 1px #B4CF4F;}


#financament-premis h2.portada-titol{border-color:#CB2390;}
#financament-subvencio h2.portada-titol{border-color:#D62369;}
#financament-beques h2.portada-titol{border-color:#BD523E;}
#financament-altres h2.portada-titol{border-color:#D62405;}






/******************************** PORTADA ***********************/
div#node-21928{width:965px;}

#node-21928 .columna-esquerra{
	width:585px;
}

#node-21928 .columna-dreta{
	width:380px;
}

#genesis-1c div#columns-front{
	margin-top:0;
}

.front  .view-2011-noticia-destacada-portada .views-row-2{
    margin-left: 7px;
    margin-right: 0;
}

.front  .view-2011-noticies-destacades-portada .views-row-2{
margin-left: 4px;
    margin-right: 0;
}
.columna-esquerra .columna-esquerra-mig{
	padding-top: 7px;
}

.view-historic-butlleti .views-table{
	width:770px;
}

.view-historic-butlleti .item-list ul.pager{
	margin-top: 10px;
	background-color: #E8BEB6;
	border-bottom: 5px solid #B2290C;
}
 .view-historic-butlleti ul.pager {
 
}

ul.linksrelacionats li{
 float:none;
 margin-left:18px;
 list-style: square outside none;
}

.not-front .node-type-pagina-portal ul,
.not-front .node-type-pagina-portal ol{
	margin-left: 24px;
}

.not-front .node-type-pagina-portal .node ul,
.not-front .node-type-pagina-portal .node ol{
	padding: 12px 0;
}


.block .more-link{
	text-align: left;
}

.block-tagadelic .more-link, .node-column-images  .more-link{
	padding-top: 12px;
}


