/* $Id: nodes.css,v 1.1.2.13 2009/06/05 17:49:59 jmburnz Exp $ */

/**
 * @file nodes.css
 * Basic styles for nodes.
 */

/**********************************************************
 *                      Nodes
 **********************************************************/
#genesis-1c {
       
    color: #79797B;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10pt;
    height: 100%;
    letter-spacing: 0;
    line-height: 1.4em;
    text-align: left;
}

/**********************************************************
 *                      Regions
 **********************************************************/

 /*** MENU BARRA***/
#menu-barra{
    background-color: transparent;
    bottom: 6px;
    display: inline-block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 8pt;
    height: auto;
    position: absolute;
    right: 0;
    width: auto;
    z-index: 50;
}
#menu-barra h2.block-title{
    display:none;
}

#menu-barra li.leaf{
    list-style: none;
    float: left;
    margin-left: 5px;
    position: relative;
    text-transform: uppercase;
}
#menu-barra li.leaf a{
    padding:7px;
    background-color:#B2290C;
    color:#FFF;
}

#menu-barra li a:hover{
    padding:7px;
    background-color:#E8BEB6;
    color:#FFF;
    text-decoration:none;
}

/****************************************************************************************************************************
 *    Sidebar's sections blocks: ambiental, comunitari, cultural, social, internacional, projectes, juridic, formació, economic
 *************************************************************************************************************************/

 #sidebar-right h2.block-title{
    margin-top:15px;
    font-weight: normal;
    padding: 5px 0 5px 48px;
}


#sidebar-right h2.block-title{
	background-image: url('../images/pictos/relacionats.png');
	background-position-x: 10px;
	background-position-y: 15px;
	background-repeat: no-repeat;
	background-color: #C13113;
	color: #FFF;
	margin-top: 15px;
	padding: 8px 24px 8px 60px;
}


.ambiental  #sidebar-right #block-views-5c23d6449d8a4d5fecd33b8ecec85495 h2.block-title {
    background-color : #8FBD7F;
    
}

 
.juridic  #sidebar-right #block-views-5c23d6449d8a4d5fecd33b8ecec85495 h2.block-title {
    background-color: #62AEC4;
}
  

.comunitari #sidebar-right div#block-views-5c23d6449d8a4d5fecd33b8ecec85495 h2.block-title {
    background-color: #F4BC44;
}


.cultural #sidebar-right div#block-views-5c23d6449d8a4d5fecd33b8ecec85495 h2.block-title {
    background-color: #959FD6;
}


.social #sidebar-right div#block-views-5c23d6449d8a4d5fecd33b8ecec85495 h2.block-title{
	background-color: #005577;
}


.internacional #sidebar-right div#block-views-5c23d6449d8a4d5fecd33b8ecec85495 h2.block-title {
	background-color: #A75387;
}

.projectes #sidebar-right div#block-views-5c23d6449d8a4d5fecd33b8ecec85495 h2.block-title{
	background-color: #E39595;
}

.informatic #sidebar-right div#block-views-5c23d6449d8a4d5fecd33b8ecec85495 h2.block-title{
	background-color: #9B8CD2;
}
.formacio #sidebar-right div#block-views-5c23d6449d8a4d5fecd33b8ecec85495 h2.block-title{
	background-color: #C09158; 
}
.economic #sidebar-right div#block-views-5c23d6449d8a4d5fecd33b8ecec85495 h2.block-title{
	background-color: #D1B91A;
}

.agenda #sidebar-right div#block-views-5c23d6449d8a4d5fecd33b8ecec85495 h2.block-title,
.agenda #block-block-55 h2.block-title, .agenda #block-block-37 h2.block-title{
	background-color: #ABB22F;
}


/*******************************************************************************
 *                              Juridic                                        *
 ******************************************************************************/

.juridic div#page-title-reg{border-color:#62AEC4;}
.juridic .legend{background-color: #62AEC4;}

.juridic #breadcrumb,  #sidebar-right div.block-content {background-color: #EBEFF0; padding: 3px;}




/*******************************************************************************
 *                             Noticies                                        *
 ******************************************************************************/
.noticies div#page-title-reg{border-color:#C13113;}

.noticies #sidebar-right h2.block-title , .noticies .node-terms h2, .noticies .legend{background-color: #C13113;}


/*******************************************************************************
 *                              Recursos                                       *
 ******************************************************************************/

.recursos div#page-title-reg{border-color:#C13113;}
.recursos #sidebar-right h2.block-title , .recursos .node-terms h2, .recursos .legend{background-color: #C13113;}




/*******************************************************************************
 *                                 Agenda                                      *
 ******************************************************************************/
.agenda div#page-title-reg{border-color:#ABB22F;}
.agenda #sidebar-right #block-views-fda2de40e1c6d3b68002bf94248a57f4 
	h2.block-title{
		color: #FFF; 
		background: url('../images/boton-search.png') 10px #ABB22F no-repeat;

}

.agenda .portada-superior-esquerra .header p, .agenda .portada-superior-dreta .header p { padding-bottom: 0px; }
.agenda .portada-superior-esquerra .header h2, .agenda .portada-superior-dreta .header h2 { width: 160px; }
.agenda .portada-superior-esquerra .header, .agenda .portada-superior-dreta .header { width: 377px; }


/* actes */
.agenda.page-node-22297 div#page-title-reg{
	border-color:  #97976C !important;
}



.agenda div.portada-superior-dreta h2.portada-titol,
.agenda.page-node-22297 #sidebar-right #block-views-fda2de40e1c6d3b68002bf94248a57f4 h2.block-title
{
	background-color: #97976C !important;
}

.agenda .portada-superior-dreta .header { border-bottom: solid 1px #97976C; }



/* cursos */
.agenda.page-node-22298 div#page-title-reg
{
	border-color:  #899218 !important;
}

.agenda.page-node-22298 #sidebar-right #block-views-fda2de40e1c6d3b68002bf94248a57f4 h2.block-title{
	background-color:  #899218 !important;
}

.agenda div.portada-superior-esquerra h2.portada-titol{ background-color:  #899218 !important; }
.agenda .portada-superior-esquerra .header { border-bottom: solid 1px #899218; }

/* esdeveniments antics */
.agenda.page-node-90 div#page-title-reg{
	border-color:  #5B6300 !important;
}


.agenda.page-node-90 div.portada-superior-esquerra h2.portada-titol,
.agenda.page-node-90 div.portada-superior-dreta h2.portada-titol,
.agenda.page-node-90 #sidebar-right #block-views-fda2de40e1c6d3b68002bf94248a57f4 h2.block-title{
	background-color:   #5B6300 !important;
}



.agenda div#page-title-reg{border-color:#ABB22F;}
.agenda  div.portada-superior-esquerra h2.portada-titol{background-color: #ABB22F;}
.agenda div.portada-superior-dreta h2.portada-titol{background-color: #ABB22F;}

/*******************************************************************************
 *                              Finançament                                    *
 ******************************************************************************/
.financament div#page-title-reg{border-color:#F57310;}
.financament #sidebar-right h2.block-title , .financament .node-terms h2, .financament .legend{background-color: #F57310;}
.financament .portada-superior-esquerra .header p, .financament .portada-superior-dreta .header p { padding-bottom: 0px; }
.financament .portada-superior-esquerra .header h2, .financament .portada-superior-dreta .header h2 { width: 160px; }
.financament .portada-superior-esquerra .header, .financament .portada-superior-dreta .header { width: 365px; }

#financament-premis h2.portada-titol{background-color:#CB2390;} 
#financament-premis .header {border-bottom: solid 1px #CB2390;}
#financament-public h2.portada-titol{background-color:#D62405;} 
#financament-privat h2.portada-titol{background-color:#F52E77;} 
#financament-subvencio h2.portada-titol{background-color:#D62369;}
#financament-subvencio .header {border-bottom: solid 1px #D62369;} 
#financament-beques h2.portada-titol {background-color: #BD523E;}
#financament-beques .header {border-bottom: solid 1px #BD523E;} 
#financament-altres h2.portada-titol {background-color:#D62405;}
#financament-altres .header {border-bottom: solid 1px #D62405;} 


/*******************************************************************************
 *                              Poll                                           *
 ******************************************************************************/

.page-poll div#page-title-reg, .node-type-poll div#page-title-reg{border-color:#7B7B79;}

.page-poll #content ul li, .node-type-poll #content ul li{
	  list-style-image: url('../images/news-list-style.png');
	  margin: 0 8px 0 22px;
	  line-height: 1.8em;
}

.node-type-poll #content .poll{
	background-color: #FFF !important;
	margin-bottom: 24px;
	overflow: hidden;
}

/*******************
* Altres
*********************/
.recuros-votacio{
	overflow:hidden;
	padding:2px;
	padding-top: 24px;
}

.event-data{
	overflow:hidden;
	padding:2px;
	padding:2px;
	margin-top:15px;
	font-size: 9pt;
}

div#LikePluginPagelet iframe{
	width:150px;
}


/**********************************************************
 *           Custom changes for xarxanet v3 
 **********************************************************/



/**********************************************************
 *            Frontpage blocks and news panels
 **********************************************************/


.panel-pane{
	overflow: hidden;
}


div.pane-2011-noticia-destacada-portada,
div.pane-2011-noticies-destacades-portada,
div.pane-destacats
{
	padding-bottom: 12px;
}

.columna-dreta div.panel-pane{
	margin-bottom: 18px;

}



.front .view-recull-noticies-principal,
.front .view-recull-noticies-secundari .views-row-1
{
	
	margin-bottom: 12px;
	padding: 0;
	overflow: hidden;
	/*background-color: #ECEFF0;*/

}


/*********************************************************** 
	Primary and secondary news (wide, content) title 
************************************************************/



/* News header*/

.front .view-recull-noticies-principal .views-field-title, 
.front .view-recull-noticies-secundari .views-field-title{
	background: #B1290B;
	color: #FFF !important;
	font-weight: lighter !important;
	text-align: center;
		
}


/* News title*/
.front .view-recull-noticies-principal .views-field-field-recull-principal-principal-nid span.field-content a,
.front .view-recull-noticies-secundari .views-field-field-recull-secundari-principal-nid span.field-content a,
.front .view-recull-noticies-secundari .views-field-field-recull-secundari-secundari-nid span.field-content a{
	
	font-size: 18pt;
	text-decoration: none;
	color: #005577;
	font-weight: lighter;
	line-height: 1.4em;
}


.front .view-recull-noticies-principal .views-field-field-recull-principal-principal-nid span.field-content a:hover,
.front .view-recull-noticies-secundari .views-field-field-recull-secundari-principal-nid span.field-content a:hover,
.front .view-recull-noticies-secundari .views-field-field-recull-secundari-secundari-nid span.field-content a:hover{
	
	text-decoration: underline;	
}



/* END Primary and secondary news (wide, content) */



/* Secondary news content (wide): 4 elements below first news. 4 elements are shown as one row.
   Formatting each field grouped as column
*/


.front .view-recull-noticies-secundari div.views-field-title, 
.front .view-recull-noticies-secundari div.views-field-field-agenda-imatge-fid,
.front .view-recull-noticies-secundari div.views-field-type,
.front .view-recull-noticies-secundari div.views-field-field-recull-secundari-principal-nid,
.front .view-recull-noticies-secundari div.views-field-field-resum-value,

.front .view-recull-noticies-secundari div.views-field-field-agenda-imatge-fid-1,
.front .view-recull-noticies-secundari div.views-field-type-1,
.front .view-recull-noticies-secundari div.views-field-field-recull-secundari-secundari-nid,
.front .view-recull-noticies-secundari div.views-field-field-resum-value-1,
.front .view-recull-noticies-secundari  div.views-field-field-recull-secundari-relaciona-url
{
	width: 377px;
	float: left;
	clear: left;
	margin-right: 10px;
	
}

.front .view-recull-noticies-secundari  div.views-field-field-recull-secundari-relaciona-url
{
	width: 364px;
}

.front .view-recull-noticies-secundari div.views-field-field-agenda-imatge-fid,
.front .view-recull-noticies-secundari div.views-field-field-agenda-imatge-fid-1,
.front .view-recull-noticies-secundari div.views-field-field-agenda-imatge-fid-3{
	height: 140px;
}

.front .view-recull-noticies-principal .views-field-field-recull-principal-principal-nid .field-content a,
.front .view-recull-noticies-principal .views-field-field-resum-value div,
.front .view-recull-noticies-secundari .views-field-field-recull-secundari-principal-nid .field-content a,
.front .view-recull-noticies-secundari .views-field-field-resum-value div,
.front .view-recull-noticies-secundari .views-field-field-recull-secundari-relaciona-url .field-content div,
.front .view-recull-noticies-secundari .views-field-field-resum-value-1 div,
.front .view-recull-noticies-secundari .views-field-field-recull-secundari-secundari-nid span
{
	padding-left: 12px;
	display: block;
}


/*More links to these news (more info links)*/




.front .view-recull-noticies-principal .views-field-field-recull-principal-rel-url,
.front .view-recull-noticies-secundari .views-field-field-recull-secundari-relaciona-url{
	
	padding-top: 12px;
	padding-left: 12px;
	font-size: 10pt;
	
}

.front .view-recull-noticies-principal .views-field-field-recull-principal-rel-url div.field-content a,
.front .view-recull-noticies-secundari .views-field-field-recull-secundari-relaciona-url div.field-content a{
	
	display: block;
	background: url('../images/news-list-style.png') 5px 6px no-repeat;
	padding-left: 18px;
	line-height: 1.6em;
	
}





/**********************END CONTENT************************/



/**********************************************
    Secondary news title (narrow, side) news 
**********************************************/


/*header*/


.front .view-recull-noticies-secundari .views-field-field-agenda-imatge-fid-2{
	height: 140px; /* this attribute prevents to show background color as a border around img*/
	
}


.view-recull-noticies-secundari .views-field-field-recull-secundari-lat-sup-nid span.field-content a,
.view-recull-noticies-secundari .views-field-field-recull-secundari-lat-inf-nid span.field-content a,
.view-cuadricula h3 a {
	font-size: 14pt;
	text-decoration: none;
	color: #005577;
	line-height: 1.4em;
	font-weight: normal;
	
}

.view-recull-noticies-secundari .views-field-field-recull-secundari-lat-sup-nid span.field-content a:hover,
.view-recull-noticies-secundari .views-field-field-recull-secundari-lat-inf-nid span.field-content a:hover,
.view-cuadricula h3 a:hover{
	text-decoration: underline;
}


/* Secondary news sidebar : 4 elements below first news. 4 elements are shown as one row.
   Formatting each field grouped as column
*/


/* narrow column */

.front .view-recull-noticies-secundari .views-field-field-agenda-imatge-fid-2,
.front .view-recull-noticies-secundari .views-field-type-2,
.front .view-recull-noticies-secundari .views-field-field-recull-secundari-lat-sup-nid,
.front .view-recull-noticies-secundari .views-field-field-resum-value-2, 

.front .view-recull-noticies-secundari .views-field-field-agenda-imatge-fid-3,
.front .view-recull-noticies-secundari .views-field-type-3,
.front .view-recull-noticies-secundari .views-field-field-recull-secundari-lat-inf-nid,
.front .view-recull-noticies-secundari .views-field-field-resum-value-3{

	margin-left: 376px;	
	clear: right;	
	border-left: 15px solid #FFF;
	background-color: #FFF;
	
}

.front .view-recull-noticies-secundari .views-field-field-recull-secundari-lat-sup-nid,
.front .view-recull-noticies-secundari .views-field-field-recull-secundari-lat-inf-nid {
	margin: 5px 0;
}

.front .view-recull-noticies-secundari .views-field-field-resum-value-2 p,
.front .view-recull-noticies-secundari .views-field-field-resum-value-3 p {
	padding-bottom: 20px;
}


/* wide column */

.view-recull-noticies-principal .view-content,
.view-recull-noticies-secundari .views-field-field-resum-value-2,
.view-recull-noticies-secundari .views-field-type,
.view-recull-noticies-secundari .views-field-field-recull-secundari-principal-nid,
.view-recull-noticies-secundari .views-field-field-resum-value,
.view-recull-noticies-secundari .views-field-type-1,
.view-recull-noticies-secundari .views-field-field-recull-secundari-secundari-nid,
.view-recull-noticies-secundari .views-field-field-resum-value-1,
.view-recull-noticies-secundari .views-field-field-recull-secundari-relaciona-url,
.view-recull-noticies-secundari .narrow-margin-column-field9,
.view-recull-noticies-secundari .narrow-margin-column-field18,
.view-recull-noticies-secundari .column-field15

{
	background-color: #ECEFF0;
}

/*.view-recull-noticies-secundari div.views-field-field-resum-value,
.view-recull-noticies-secundari div.views-field-field-resum-value-1{
	padding: 18px 0;
}*/


.view-recull-noticies-principal .views-field-field-recull-principal-rel-url div.field-content,
.view-recull-noticies-secundari .views-field-field-recull-secundari-relaciona-url div.field-content
{
	padding-bottom: 12px;
}


/*****Primary news and secondary news common fields*/


.front .view-recull-noticies-principal .views-field-title,
.front .view-recull-noticies-secundari .views-field-title{
	font-family: Georgia, Times New Roman, Times, serif;	
	padding: 8px 0 8px 0;
	font-size: 14pt;
}






/*******************************************************************************
 	                             Poll 'Enquesta'
 ******************************************************************************/


div.pane-block.pane-poll-0 .pane-title{
	
	padding: 4px 0 4px 60px;
	background: url('../images/pictos/globus.png') #7B7B79 10px no-repeat;	
	border-bottom: none;	
}

div.pane-block.pane-poll-0 h2.pane-title{
	font-size: 16px;
	font-weight: normal;
	color: #FFF;
	padding: 8px 24px 8px 60px;

}



div.pane-block.pane-poll-0 .pane-content, .poll{
	background-color: #EBEFF0 !important; /*must to be forced as many custom changes have been made in module's folder css */
	overflow: hidden;
}

div.pane-block.pane-poll-0 .pane-content .form-item{
	display: block;
}

div.pane-block.pane-poll-0  .enquestes-antigues{
	float: right;
}

/*******************************************************************************
 	                 pane-noticia-destacada-lateral 'Destaquem'
 ******************************************************************************/


div.pane-noticia-destacada-lateral{
	overflow: hidden;
	background-color: #F7E9E6; /* pale pink */
	
}

div.pane-noticia-destacada-lateral .pane-title{
	background: url('../images/pictos/destaquem.png')  #B1290B 10px no-repeat;
	padding: 8px 24px 8px 60px;
	
}

div.pane-noticia-destacada-lateral h2.pane-title{
	font-size: 12pt;
	font-weight: normal;
	color: #FFF;
}

div.pane-noticia-destacada-lateral .views-field-field-destacada-lat-ellac-url a{ 
	font-family: Georgia, Times New Roman, Times, serif;	
	font-size: 14pt;
	text-decoration: none;
	color: #005577;
	line-height: 1.4em;
	font-weight: lighter;
	display: block;
	
}

div.pane-noticia-destacada-lateral .views-field-field-destacada-lat-ellac-url a:hover{
	text-decoration: underline;
}

div.pane-noticia-destacada-lateral  div.views-field-field-destacada-lat-ellac-url,
div.pane-noticia-destacada-lateral  div.views-field-field-destacada-lat-entr-value{
	padding: 6px 12px 6px 12px;
}





/*******************************************************************************
 	                Tabbed blocks (front right side bar)
 ******************************************************************************/


/* grans temes -> pane-5 */
/* finançament -> pane-block-2 */
/* mes llegit | mes comentat -> pane-ranking-noticies */
/* actes -> pane-block-3 */
/* cursos -> pane-block-71 */
/* recursos -> pane-block-72 */



/* sidebar's panes header */

.pane-block-71 .pane-content h2{ /* cursos, green*/
	background: url('../images/pictos/cursos.png')  #AEB22A 10px no-repeat;
	width: 120px;
}


.pane-block-3 .pane-content h2{ /* actes, green*/
	background: url('../images/pictos/actes.png')  #A7A74D 10px no-repeat;
	width: 120px;

}


.pane-block-72 .pane-content h2{ /* recursos block, blue*/
	background: url('../images/pictos/recursos.png')  #005EA7 10px no-repeat;
	width: 120px;
}

.grans-temes .pane-content h2{ /* grans temes block, blue*/
	background: url('../images/pictos/grans-temes.png')  #005577 10px no-repeat;
	width: 120px;

}


.pane-block-2 .pane-content h2{ /* finançament block, orange*/
	background: url('../images/pictos/financaments.png')  #F57310 10px no-repeat;
	width: 120px;

}



.pane-block-2 .pane-content h2,
.pane-block-3 .pane-content h2,
.pane-block-71 .pane-content h2,
.pane-block-72 .pane-content h2,
.grans-temes .pane-content h2
{
	float: left;
	border-bottom: none;
	padding: 8px 24px 8px 60px;
	color: white;
	font-weight: normal;
}


/* sidebar's panes content*/


.pane-block-2 h2.pane-content,
.pane-block-3 h2.pane-content,
.pane-block-71 h2.pane-content,
.pane-block-72 h2.pane-content
{
	padding-left: 30px;
}


.grans-temes h2.pane-content{
	padding-left: 20px;
}


.pane-block-2 .view-content,
.pane-block-3 .view-content,
#block-block-2 .view-content,
#block-block-3 .view-content,
.pane-block-71 .view-content,
.pane-block-72 .view-content
{
	padding-top: 12px;
}


/* sidebar's panes more link */



.grans-temes .pane-content .more,
.pane-block-2 .pane-content .more,
.pane-block-3 .pane-content .more, 
.pane-block-71 .pane-content .more,
.pane-block-72 .pane-content .more {
	font-weight: normal;
	font-size: 16px;
	text-decoration: none;
	background-color: #FFF;
}

.grans-temes div.pane-content a.more,
.pane-block-2 div.pane-content a.more,
.pane-block-3 div.pane-content a.more,
.pane-block-71 div.pane-content a.more,
.pane-block-72 div.pane-content a.more{
	float: right;
	padding-top: 8px;
}



/* some display corrections...*/

.columna-dreta .pane-content p{
	line-height: 1.0em;
}

.columna-dreta .pane-content .field-content p{
	line-height: 1.6em;
}


/* sidebar's blocks content */

.pane-block-71 .view-content{
	background-color: #F2F2E4;
	clear: left;
}


.pane-block-3 .view-content{
	background-color: #EAECCB;
	clear: left;
}

.pane-block-72 .view-content{
	background-color:#F; 
	clear: left;	
}


.grans-temes .pane-content ul{
	clear: left;
	background-color:#F; 
	padding-bottom: 12px;
	padding-top: 12px;
}



/*******************************************************************************
 	                Tabbed blocks ('mes llegit, mes comentat')
 ******************************************************************************/



.pane-ranking-noticies .ui-tabs-nav, 
.pane-ranking-noticies ul.primary li a{
	border: none;
	line-height: 1.6em;	
}



.pane-ranking-noticies ul.primary{
	border-bottom: 1px solid #7B7B79;
	padding-left: 0;
}

/*.pane-ranking-noticies .pane-content{
	min-height: 300px;
	padding-top: 12px;
}*/





.pane-ranking-noticies .pane-content ol{
	padding-left: 12px;
	font-family: Georgia, Times New Roman, Times, serif;	
}


.pane-ranking-noticies .pane-content ol li.views-row{
	font-size: 18px !important;
	color: #7B7B79 !important;
	line-height: 1.2em;
	border-bottom: 1px dotted #7B7B79;
}


.pane-ranking-noticies .pane-content ol li.views-row:hover{
	font-size: 18px !important;
	color: #000 !important;
}


.pane-ranking-noticies .pane-content li.views-row .field-content{
	font-size: 11pt;
} 





.pane-ranking-noticies ul.primary li.last.ui-tabs-selected  a{
	background: url('../images/pictos/comentaris.png')  #7B7B79 12px no-repeat;
	padding: 6px 60px 4px 62px;
	color: #FFF;
	
}


.pane-ranking-noticies ul.primary li.first.ui-tabs-selected  a{
	background: url('../images/pictos/mes-llegit.png')  #7B7B79 12px no-repeat;
	padding: 6px 80px 4px 62px;
	color: #FFF;
	
}


.pane-ranking-noticies ul.primary li a {
	background-color: #FFF;
	padding: 6px 24px 4px 24px;
	font-weight: normal;
	text-decoration: none;
	font-size: 11pt;
}


/*******************************************************************************
 	                Mini icons ('Noticies > '
 ******************************************************************************/


.node-type-detail{
}

span.node-type-detail a{
	text-transform: capitalize;
	font-size: 12px;
}

div.node-type-container .label{
	top:auto;
}


.node-type-detail img{
	padding-right: 3px;
	vertical-align: text-bottom;
}

.pane-2011-noticia-destacada-portada.views-row.span{
	text-transform: capitalize;
}


/*******************************************************************************
 	                Subportades sidebar blocks
 ******************************************************************************/



div#block-block-3 h2{
	background: url('../images/pictos/actes.png')  #A7A74D 10px no-repeat;

}


div#block-block-2 h2{
	background: url('../images/pictos/financaments.png')  #F57310 10px no-repeat;

}


div#block-block-3 h2, div#block-block-2 h2{
	border-bottom: none;
	padding: 8px 24px 8px 60px;
	color: white;
	font-weight: normal;
}

div#block-block-3, div#block-block-2{
	margin-bottom: 30px;
}



div#block-block-3 .more, div#block-block-2 .more{
	font-weight: normal;
	font-size: 14px;
	text-decoration: none;
	font-family: Georgia, "Times New Roman", Times, serif;
}



div#block-block-3 p, div#block-block-2 p{
	position: absolute;
	bottom: 0px;
}




#block-block-3 div.view-content{
	background-color: #F2F2E4;
	height: auto;
	padding-bottom: 48px;
}


#block-block-2 div.view-content{
	background-color: #FDF0E7;
	height: auto;
	padding-bottom: 48px;
}

.node-type-detail a{
	font-family: Arial,sans-serif;
}


div.panels-flexible-region-inside .columns-inner a:visited, 
div.panels-flexible-region-inside p a:visited{
	text-decoration: none;
	color: #005577;
}


div.views-field-field-date-event-value{
	background: url('../images/pictos/timer.png') no-repeat;
	padding-left: 18px;
}


div.pane-block-2 .views-field-field-date-value2,
div#block-block-2 .views-field-field-date-value2{
	background: url('../images/pictos/timer-orange.png') no-repeat;
	padding-left: 18px;
}

