#header-menu {
    height: 125px;
    margin: 0 auto 15px;
    position: relative;
    width: 100%;
}


#Barras {
    float: left;
    height: 24px;
    padding-top: 5px;
    position: relative;
    width: 965px;
}
#Barras ul li {
    color: #FFFFFF;
    float: left;
    font-size: 9pt;
    list-style-image: url("../images/header-li.png");
    list-style-position: inside;
    margin-right: 10px;
}
#Barras ul li ul li {
    clear: left;
}
#Barras ul li a:link {
    color: #FFFFFF;
    font-weight: bold;
}
#Barras ul li a:visited {
    color: #FFFFFF;
    font-weight: bold;
}
#Barras ul li a:active {
    color: #FFFFFF;
    font-weight: bold;
}
#Barras ul li a:hover {
    color: #FFFF00;
    font-weight: bold;
}
#Barras ul li:first-child {
    list-style-image: none;
    list-style-type: none;
}
#Barras ul li.li-right {
    float: right;
}
#Barras ul li.li-left {
    float: left;
}
#Barras ul li.li-registre {
    list-style-image: none;
    list-style-type: none;
}
#Search {
    margin-top: -9px;
    clear: none;
    float: right;
}
#Search input[type="text"] {
    width: 140px;
    height: 24px;
    margin-top: 9px;
    background-color: #F3F3F3;
    padding-right: 30px;
    color: #666;
}

#Search input[type="submit"] {
    background: url("../images/boton-search.png") 0px 0px no-repeat scroll;
    position: relative;
    vertical-align: middle;
    border: 0 none;
    cursor: pointer;
    margin-left: -30px;
    width: 26px;
    height: 26px;
    -webkit-appearance: none;
    -webkit-box-sizing: content-box;
    outline: none;
}


#header-right{
	float: right;
	width: 480px;
	clear: none;
	padding-top: 24px;
}

#header-right .user-links a{
	font-family: Arial,Helvetica,sans-serif;
}

#header-right .user-links{
	float: left;
	display: inline;
}


#header-right .user-links ul li{
	float: left;
	display: inline;
	padding: 6px 48px 6px 12px;
	background-color: #7B7B79;
	margin-right: 24px;
	text-align: left;

}

#header-right .user-links ul li a{
	font-weight: bold;
	font-size: 12px;
	color: #FFF;
}


#header-right .user-links ul li.first { background: url('../images/pictos/login.png') #7B7B79 right no-repeat; }

#header-right .user-links ul li.first:hover,
#container.page-users #header-right .user-links ul li.first { background: url('../images/pictos/login.png') #C13113 right no-repeat; }
 
#header-right .user-links ul li.last { 	background: url('../images/pictos/newsletters.png') #7B7B79  right no-repeat;}

#header-right .user-links ul li.last:hover,
body.section-butlletins #header-right .user-links ul li.last { background: url('../images/pictos/newsletters.png') #C13113 right no-repeat; }



#Logos {
    border-bottom: 2px solid #666666;
    float: left;
    height: 70px;
    position: relative;
    width: 965px;
}
.Logo-Xarxanet, Logo-Generalitat {
    float: left;
    position: relative;
    margin-top: 18px;
}
.Logo-Generalitat {
    float: right;
    margin-top: 20px;
    position: relative;
}
#Menu {
    float: left;
    height: auto;
    position: relative;
    width: 965px;
}
ul.Menu {
    width: 965px;
}
ul.Menu li:hover ul {
    width: 965px;
}
ul.Menu {
    left: 0;
    position: absolute;
    top: 0;
    z-index: 999;
}
ul.Menu li a:active, ul.Menu li a:hover, ul.Menu li a:focus {
    color: #FFFFFF;
}
.Menu, .Menu * {
    color: #666666;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10pt;
    font-weight: bold;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.Menu {
    line-height: 1;
    width: auto;
}
.Menu ul {
    display: inline-block;
    position: absolute;
    top: -999em;
    width: 10em;
    z-index: 99;
}
.Menu li:hover {
    visibility: inherit;
}
.Menu li {
    float: left;
    position: absolute;
}
.Menu a {
    display: block;
    position: relative;
}
.Menu li:hover ul {
    left: 0;
    top: 2.5em;
    z-index: 99;
}
.Menu ul li a.Agenda:link, .Menu ul li a:visited, .Menu ul li a:active {
    color: #FFFFFF;
}
.Menu {
    float: left;
    margin-bottom: 5px;
}
.Menu a {
    border-left: 1px solid #FFFFFF;
    border-top: 1px solid #CFDEFF;
    padding: 0.75em 1em;
}
.Menu {
    background: none repeat scroll 0 0 #FFFFFF;
    height: 28px;
    position: relative;
}
.Menu li {
    position: static;
}
.Menu li ul {
    width: auto;
}
.Menu ul li {
    float: left;
    width: auto;
}
.Menu a, .Menu a:visited {
    border: medium none;
}
.Menu li ul li a {
}

.Trans {
    /* background-color: transparent;
    background-image: url("../images/background-menu-2.png");
    background-repeat: repeat;
    height: 100px;*/
}
.Menu li ul li a:link {
    color: #FFFFFF;
}
.Menu li ul li a:visited {
    color: #FFFFFF;
}
.Menu li ul li a:active {
    color: #FFFFFF;
}
.Menu li ul li a:hover {
    color: #FFFFFF;
}
.Blanco {
    color: #FFFFFF;
}
ul.Menu-AS {
    border-top: 1px solid #666666;
    height: auto;
    left: 0;
    margin-bottom: 1em;
    padding-bottom: 5px;
    position: absolute;
    top: 33px;
    width: 965px;
}
.Menu-AS, .Menu-AS li.Ambits ul, .Menu-AS li.Serveis ul {
    color: #666666;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10pt;
    font-weight: bold;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.Menu-AS ul {
    position: absolute;
    width: 10em;
}
.Menu-AS li.Ambits, .Menu-AS li.Serveis, .Menu-AS li.Ambits ul li, .Menu-AS li.Serveis ul li {
    color:  #53544F;
    float: left;
    padding: 0.65em 1em;
    position: static;
    font-weight: lighter;
    font-style: italic;
}


.Menu-AS li.Ambits, .Menu-AS li.Serveis {
    background-color: transparent;
}
.Menu-AS li.Serveis {
    float: right;
}
.Menu-AS li.Ambits ul, .Menu-AS li.Serveis ul {
    background-color: #CCCCCC;
    height: 32px;
    margin-top: 8px;
    width: 520px;
}
.Menu-AS li.Serveis ul li ul, .Menu-AS li.Ambits ul li ul {
    background-color: transparent;
    background-image: url("../images/background-menu.png");
    background-repeat: repeat;
    border-bottom: 1px dotted #666666;
    margin-bottom: 10px;
    margin-top: 6px;
    width: 965px;
}
.Menu-AS li.Ambits ul {
    width: 450px;
}
.Menu-AS a {
    display: block;
    position: relative;
}
.Menu-AS li.Ambits ul {
    left: 0;
}
.Menu-AS li.Serveis ul {
    right: 0;
}
.Menu-AS li.Serveis ul li {
    float: right;
}
.Menu-AS a {
    text-decoration: none;
}
.Menu-AS {
    background: none repeat scroll 0 0 #FFFFFF;
    height: 28px;
    position: relative;
}
.Menu-AS ul li.Serveis {
    float: left;
    width: auto;
}
.Menu-AS a, .Menu-AS a:visited {
    border: medium none;
}
.Menu-AS li ul li:visited {
    color: #53544F;
}
.Menu-AS li ul li:active {
    color: #53544F;
}
.Menu-AS li ul li a:visited {
    color: #53544F;
}
.Menu-AS li ul li a:active {
    color: #53544F;
}
.Menu-AS li ul li a:hover {
    color: #53544F;
}
.Menu-AS li ul li a:link {
    color: #53544F;
}
.Menu-AS li.Serveis ul li ul li a:link {
}
.Menu-AS li.Serveis ul li ul li a:active {
}
.Menu-AS li.Serveis ul li ul li a:visited {
}
.Menu-AS li.Serveis ul li ul li a:hover {
    background-color: #FFFFFF;
    border-bottom-style: solid;
    border-bottom-width: 6px;
    padding-bottom: 4px;
}
.Menu-AS li.Ambits ul li ul li a:link {
}
.Menu-AS li.Ambits ul li ul li a:active {
}
.Menu-AS li.Ambits ul li ul li a:visited {
}
.Menu-AS li.Ambits ul li ul li a:hover {
    background-color: #FFFFFF;
    border-bottom-style: solid;
    border-bottom-width: 6px;
    padding-bottom: 4px;
}
.Menu-AS-Sub li ul li:hover {
    background-color: transparent;
}
ul.Menu-AS-Sub li ul {
    height: auto;
    position: absolute;
    width: 965px;
}
.Menu-AS-Sub, .Menu-AS-Sub * {
    color: #666666;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10pt;
    font-weight: bold;
    font-style: normal;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
ul.Menu-AS-Sub {
    line-height: 0.8;
    width: 965px;
    border-top: 3px solid #666;
}
.Menu-AS-Sub ul {
    position: absolute;
    top: -999em;
    width: 10em;
    z-index: 80;
    
}
.Menu-AS-Sub li:hover {
    visibility: inherit;
}
.Menu-AS-Sub li {
    float: right;
    position: absolute;
}
.Menu-AS-Sub a {
    display: block;
    position: relative;
}
.Menu-AS-Sub li:hover ul {
    right: 0;
    top: 2em;
    z-index: 80;
}
.Menu-AS-Sub {
    float: right;
    margin-bottom: 5px;
}
.Menu-AS-Sub a {
    padding: 0.25em 0.1em;
    text-decoration: none;
}
.Menu-AS-Sub {
    background: none repeat scroll 0 0 #FFFFFF;
    height: 28px;
    position: relative;
}
.Menu-AS-Sub li {
    position: static;
}
.Menu-AS-Sub li ul {
    position: absolute;
    width: 965px;
}
.Menu-AS-Sub ul li {
    float: left;
    width: auto;
}
.Menu-AS-Sub a, .Menu-AS-Sub a:visited {
    border: medium none;
}
.Menu-AS-Sub li ul li:link {
    color: #53544F;
}
.Menu-AS-Sub li ul li:visited {
    color: #53544F;
}
.Menu-AS-Sub li ul li:active {
    color: #53544F;
}
.Menu-AS-Sub li ul li:hover {
    color: #FFFFFF;
    padding-bottom: 7px;
}
.Menu-AS-Sub li ul li a:link {
    color: #53544F;
}
.Menu-AS-Sub li ul li a:visited {
    color: #53544F;
}
.Menu-AS-Sub li ul li a:active {
    color: #53544F;
}
.Menu-AS-Sub li ul li a:hover {
    color: #53544F;
}
.Menu-AS li.Ambits ul li ul li a:link, .Menu-AS li.Ambits ul li ul li, .Menu-AS li.Serveis ul li ul li a:link, .Menu-AS li.Serveis ul li ul li {
    background-color: transparent;
}
.Menu li.Inici ul, li.Inici ul li, li.Inici ul:hover, ul.li.Inici:hover, .Menu li.Inici:hover, .Menu li.Inici.sfHover {
    background-color: #FF0000;
}
.Menu ul li.Inici:focus, li.Inici ul li:hover, li.Inici ul li.sfHover, a.Inici:focus, a.Inici:active, .Menu a.Inici:focus, .Menu a.Inici:hover, .Menu a.Inici:active {
    background: none repeat scroll 0 0 #C13113;
}
.Menu li.Xarxanet ul, li.Xarxanet ul li, li.Xarxanet ul:hover, ul.li.Xarxanet:hover, .Menu li.Xarxanet:hover, .Menu li.Xarxanet.sfHover, .Xarxanet a.BotoMas:link, .Xarxanet a.BotoMas:visited, .Xarxanet a.BotoMas:active, .Xarxanet a.BotoMas:hover, .Xarxanet input.Boto, .e_comments.Xarxanet h2, .Xarxanet ul.links li a:link, .Xarxanet ul.links li a:visited, .Xarxanet ul.links li a:active, .Xarxanet .indented, .Xarxanet .form-submit:active, .Xarxanet .form-submit:visited, .Xarxanet .form-submit:link, .Xarxanet .captcha legend, .Xarxanet .form-submit, .Xarxanet .close, #Tornar.Xarxanet, #Mapas.Xarxanet h2 {
    background-color: #B2290C;
}
.Menu-AS li ul li a.Xarxanet:link, .Menu-AS li ul li a.Xarxanet:hover {
    background-color: transparent;
    margin: -9px -13px -13px;
    padding: 9px 13px 7px;
}
.Menu-AS li ul li a.Xarxanet:hover {
    background-color: #B2290C;
    color: #FFFFFF;
}
.Menu-AS li ul.Menu-AS-Sub li a.Xarxanet:link, .Menu-AS li ul.Menu-AS-Sub li a.Xarxanet:hover {
    background-color: transparent;
    margin-top: -9px;
    padding: 12px 12px 9px;
}
.Menu-AS li ul.Menu-AS-Sub li a.Xarxanet:hover {
    background-color: #B2290C;
    color: #FFFFFF;
}
.Menu-AS li ul.Menu-AS-Sub li ul.Xarxanet li a:hover, .PaginacioAbaix.Xarxanet, .QueEs.Xarxanet h2 {
    border-bottom-color: #B2290C;
}
.Menu-AS-Sub li.Xarxanet:hover {
    background-color: #B2290C;
    padding-bottom: 13px;
}
.Menu-AS-Sub li.Xarxanet:hover a.Xarxanet {
    color: #FFFFFF;
}
.Menu ul li.Xarxanet:focus, li.Xarxanet ul li:hover, li.Xarxanet ul li.sfHover, a.Xarxanet:focus, a.Xarxanet:active, .Menu a.Xarxanet:focus, .Menu a.Xarxanet:hover, .Menu a.Xarxanet:active, .Xarxanet h2, .Xarxanet a.BotoMas:hover, .Xarxanet a.BotoMas:hover, a.New-S.Xarxanet:hover, a.New-M.Xarxanet:hover, a.New-L.Xarxanet:hover, a.Veure.Xarxanet:hover, #Paginacio ul.Xarxanet li a:hover, .Xarxanet input.Boto:hover, .Xarxanet ul.links li a:hover, .Xarxanet .form-submit:hover, .Xarxanet .close:hover {
    background-color: #7C0701;
}
.Menu li.Recursos ul, li.Recursos ul li, li.Recursos ul:hover, ul.li.Recursos:hover, .Menu li.Recursos:hover, .Menu li.Recursos.sfHover, .Recursos a.BotoMas:link, .Recursos a.BotoMas:visited, .Recursos a.BotoMas:active, .Recursos a.BotoMas:hover, .Recursos input.Boto, .e_comments.Recursos h2, .Recursos ul.links li a:link, .Recursos ul.links li a:visited, .Recursos ul.links li a:active, .Recursos .indented, .Recursos .form-submit:active, .Recursos .form-submit:visited, .Recursos .form-submit:link, .Recursos .captcha legend, .Recursos .form-submit, .Recursos .close, #Tornar.Recursos, #Mapas.Recursos h2 {
    background-color: #005EA7;
}
.Menu-AS li ul li a.Recursos:link, .Menu-AS li ul li a.Recursos:hover {
    background-color: transparent;
    margin: -9px -13px -13px;
    padding: 9px 13px 7px;
}
.Menu-AS li ul li a.Recursos:hover {
    background-color: #005EA7;
    color: #FFFFFF;
}
.Menu-AS li ul.Menu-AS-Sub li a.Recursos:link, .Menu-AS li ul.Menu-AS-Sub li a.Recursos:hover {
    background-color: transparent;
    margin-top: -9px;
    padding: 12px 12px 9px;
}
.Menu-AS li ul.Menu-AS-Sub li a.Recursos:hover {
    background-color: #005EA7;
    color: #FFFFFF;
}
.Menu-AS li ul.Menu-AS-Sub li ul.Recursos li a:hover, .PaginacioAbaix.Recursos, .QueEs.Recursos h2 {
    border-bottom-color: #005EA7;
}
.Menu-AS-Sub li.Recursos:hover {
    background-color: #005EA7;
    padding-bottom: 13px;
}
.Menu-AS-Sub li.Recursos:hover a.Recursos {
    color: #FFFFFF;
}
.Menu ul li.Recursos:focus, li.Recursos ul li:hover, li.Recursos ul li.sfHover, a.Recursos:focus, a.Recursos:active, .Menu a.Recursos:focus, .Menu a.Recursos:hover, .Menu a.Recursos:active, .Recursos h2, .Recursos a.BotoMas:hover, .Recursos a.BotoMas:hover, a.New-S.Recursos:hover, a.New-M.Recursos:hover, a.New-L.Recursos:hover, a.Veure.Recursos:hover, #Paginacio ul.Recursos li a:hover, .Recursos input.Boto:hover, .Recursos ul.links li a:hover, .Recursos .form-submit:hover, .Recursos .close:hover {
    background-color:#C13113;
}
#container.recursos .Menu li.Recursos { background-color: #C13113;}
#container.recursos .Menu a.Recursos { color: #FFFFFF;}
.Menu li.Noticies ul, li.Noticies ul li, li.Noticies ul:hover, ul.li.Noticies:hover, .Menu li.Noticies:hover, .Menu li.Noticies.sfHover, .Noticies a.BotoMas:link, .Noticies a.BotoMas:visited, .Noticies a.BotoMas:active, .Noticies a.BotoMas:hover, .Noticies input.Boto, .e_comments.Noticies h2, .Noticies ul.links li a:link, .Noticies ul.links li a:visited, .Noticies ul.links li a:active, .Noticies .indented, .Noticies .form-submit:active, .Noticies .form-submit:visited, .Noticies .form-submit:link, .Noticies .captcha legend, .Noticies .form-submit, .Recursos .close, #Tornar.Noticies, #Mapas.Noticies h2 {
    background-color: #71A956;
}
.Menu-AS li ul li a.Noticies:link, .Menu-AS li ul li a.Noticies:hover {
    background-color: transparent;
    margin: -9px -13px -13px;
    padding: 9px 13px 7px;
}
.Menu-AS li ul li a.Noticies:hover {
    background-color: #71A956;
    color: #FFFFFF;
}
.Menu-AS li ul.Menu-AS-Sub li a.Noticies:link, .Menu-AS li ul.Menu-AS-Sub li a.Noticies:hover {
    background-color: transparent;
    margin-top: -9px;
    padding: 12px 12px 9px;
}
.Menu-AS li ul.Menu-AS-Sub li a.Noticies:hover {
    background-color: #71A956;
    color: #FFFFFF;
}
.Menu-AS li ul.Menu-AS-Sub li ul.Noticies li a:hover, .PaginacioAbaix.Noticies, .QueEs.Noticies h2 {
    border-bottom-color: #71A956;
}
.Menu-AS-Sub li.Noticies:hover {
    background-color: #71A956;
    padding-bottom: 13px;
}
.Menu-AS-Sub li.Noticies:hover a.Noticies {
    color: #FFFFFF;
}
.Menu ul li.Noticies:focus, li.Noticies ul li:hover, li.Noticies ul li.sfHover, a.Noticies:focus, a.Noticies:active, .Menu a.Noticies:focus, .Menu a.Noticies:hover, .Menu a.Noticies:active, .Noticies h2, .Noticies a.BotoMas:hover, .Noticies a.BotoMas:hover, a.New-S.Noticies:hover, a.New-M.Noticies:hover, a.New-L.Noticies:hover, a.Veure.Noticies:hover, #Paginacio ul.Noticies li a:hover, .Noticies input.Boto:hover, .Noticies ul.links li a:hover, .Noticies .form-submit:hover, .Noticies .close:hover {
    background-color: #C13113;
}
#container.noticies .Menu li.Noticies { background-color: #C13113;}
#container.noticies .Menu a.Noticies { color: #FFFFFF;}
.Menu li.Agenda ul, li.Agenda ul li, li.Agenda ul:hover, ul.li.Agenda:hover, .Menu li.Agenda:hover, .Menu li.Agenda.sfHover, .Agenda a.BotoMas:link, .Agenda a.BotoMas:visited, .Agenda a.BotoMas:active, .Agenda a.BotoMas:hover, .Agenda input.Boto, .e_comments.Agenda h2, .Agenda ul.links li a:link, .Agenda ul.links li a:visited, .Agenda ul.links li a:active, .Agenda .indented, .Agenda .form-submit:active, .Agenda .form-submit:visited, .Agenda .form-submit:link, .Agenda .captcha legend, .Agenda .form-submit, .Agenda .close, #Tornar.Agenda, #Mapas.Agenda h2 {
    background-color: #ABB22F;
}
.Menu-AS li ul li a.Agenda:link, .Menu-AS li ul li a.Agenda:hover {
    background-color: transparent;
    margin: -9px -13px -13px;
    padding: 9px 13px 7px;
}
.Menu-AS li ul li a.Agenda:hover {
    background-color: #ABB22F;
    color: #FFFFFF;
}
.Menu-AS li ul.Menu-AS-Sub li a.Agenda:link, .Menu-AS li ul.Menu-AS-Sub li a.Agenda:hover {
    background-color: transparent;
    margin-top: -9px;
    padding: 12px 12px 9px;
}
.Menu-AS li ul.Menu-AS-Sub li a.Agenda:hover {
    background-color: #ABB22F;
    color: #FFFFFF;
}
.Menu-AS li ul.Menu-AS-Sub li ul.Agenda li a:hover, .PaginacioAbaix.Agenda, .QueEs.Agenda h2 {
    border-bottom-color: #ABB22F;
}
.Menu-AS-Sub li.Agenda:hover {
    background-color: #ABB22F;
    padding-bottom: 13px;
}
.Menu-AS-Sub li.Agenda:hover a.Agenda {
    color: #FFFFFF;
}
.Menu ul li.Agenda:focus, li.Agenda ul li:hover, li.Agenda ul li.sfHover, a.Agenda:focus, a.Agenda:active, .Menu a.Agenda:focus, .Menu a.Agenda:hover, .Menu a.Agenda:active, .Agenda h2, .Agenda a.BotoMas:hover, .Agenda a.BotoMas:hover, a.New-S.Agenda:hover, a.New-M.Agenda:hover, a.New-L.Agenda:hover, a.Veure.Agenda:hover, #Paginacio ul.Agenda li a:hover, .Agenda input.Boto:hover, .Agenda ul.links li a:hover, .Agenda .form-submit:hover, .Agenda .close:hover {
    background-color: #5A6205;
}
#container.agenda .Menu li.Agenda { background-color: #5A6205}
#container.agenda .Menu a.Agenda { color: #FFFFFF;}
.Menu li.Financament ul, li.Financament ul li, li.Financament ul:hover, ul.li.Financament:hover, .Menu li.Financament:hover, .Menu li.Financament.sfHover, .Financament a.BotoMas:link, .Financament a.BotoMas:visited, .Financament a.BotoMas:active, .Financament a.BotoMas:hover, .Financament input.Boto, .e_comments.Financament h2, .Financament ul.links li a:link, .Financament ul.links li a:visited, .Financament ul.links li a:active, .Financament .indented, .Financament .form-submit:active, .Financament .form-submit:visited, .Financament .form-submit:link, .Financament .captcha legend, .Financament .form-submit, .Financament .close, #Tornar.Financament, #Mapas.Financament h2 {
    background-color: #F57310;
}
.Menu-AS li ul li a.Financament:link, .Menu-AS li ul li a.Financament:hover {
    background-color: transparent;
    margin: -9px -13px -13px;
    padding: 9px 13px 7px;
}
.Menu-AS li ul li a.Financament:hover {
    background-color: #F57310;
    color: #FFFFFF;
}
.Menu-AS li ul.Menu-AS-Sub li a.Financament:link, .Menu-AS li ul.Menu-AS-Sub li a.Financament:hover {
    background-color: transparent;
    margin-top: -9px;
    padding: 12px 12px 9px;
}
.Menu-AS li ul.Menu-AS-Sub li a.Financament:hover {
    background-color: #F57310;
    color: #FFFFFF;
}
.Menu-AS li ul.Menu-AS-Sub li ul.Financament li a:hover, .PaginacioAbaix.Financament, .QueEs.Financament h2 {
    border-bottom-color: #F57310;
}
.Menu-AS-Sub li.Financament:hover {
    background-color: #F57310;
    padding-bottom: 13px;
}
.Menu-AS-Sub li.Financament:hover a.Financament {
    color: #FFFFFF;
}
.Menu ul li.Financament:focus, li.Financament ul li:hover, li.Financament ul li.sfHover, a.Financament:focus, a.Financament:active, .Menu a.Financament:focus, .Menu a.Financament:hover, .Menu a.Financament:active, .Financament h2, .Financament a.BotoMas:hover, .Financament a.BotoMas:hover, a.New-S.Financament:hover, a.New-M.Financament:hover, a.New-L.Financament:hover, a.Veure.Financament:hover, #Paginacio ul.Financament li a:hover, .Financament input.Boto:hover, .Financament ul.links li a:hover, .Financament .form-submit:hover, .Financament .close:hover {
    background-color: #F57310;
}
#container.financament .Menu li.Financament { background-color: #F57310}
#container.financament .Menu a.Financament { color: #FFFFFF;}
.Menu li.Biblioteca ul, li.Biblioteca ul li, li.Biblioteca ul:hover, ul.li.Biblioteca:hover, .Menu li.Biblioteca:hover, .Menu li.Biblioteca.sfHover, .Biblioteca a.BotoMas:link, .Biblioteca a.BotoMas:visited, .Biblioteca a.BotoMas:active, .Biblioteca a.BotoMas:hover, .Biblioteca input.Boto, .e_comments.Biblioteca h2, .Biblioteca ul.links li a:link, .Biblioteca ul.links li a:visited, .Biblioteca ul.links li a:active, .Biblioteca .indented, .Biblioteca .form-submit:active, .Biblioteca .form-submit:visited, .Biblioteca .form-submit:link, .Biblioteca .captcha legend, .Biblioteca .form-submit, .Biblioteca .close, #Tornar.Biblioteca, #Mapas.Biblioteca h2 {
    background-color: #53544F;
}
#container.page-biblioteca .Menu li.Biblioteca,
#container.page-biblioteca-cerca .Menu li.Biblioteca,
#container.page-biblioteca-filtre .Menu li.Biblioteca { 
	background-color: #53544F
}
#container.page-biblioteca .Menu a.Biblioteca,
#container.page-biblioteca-cerca .Menu a.Biblioteca,
#container.page-biblioteca-filtre .Menu a.Biblioteca { 
	color: #FFFFFF;
}

.Menu li.QuePotsFer {
    float: right;
}


.Menu li.QuePotsFer.first {
    padding-left: 30px;
    background: url('../images/pictos/assessorat.png') 6px 3px no-repeat;
}


.Menu li.QuePotsFer.second {
    padding-left: 30px;
    background: url('../images/pictos/publica.png') 6px 3px no-repeat;
}


.Menu li.QuePotsFer.third{
    padding-left: 30px;
    background: url('../images/pictos/fes-voluntariat.png') 6px 3px no-repeat;
}



.Menu li.QuePotsFer.first:hover, .section-formulari-dassessorament .Menu li.QuePotsFer.first {
    padding-left: 30px;
    width: 100px;
    background: url('../images/pictos/assessorat-hover.png') #C13113 6px 3px no-repeat;
}
.section-formulari-dassessorament .Menu li.QuePotsFer.first a {color: #FFFFFF;}


.Menu li.QuePotsFer.second:hover, .page-node-3577 .Menu li.QuePotsFer.second {
    padding-left: 30px;
    background: url('../images/pictos/publica-hover.png') #C13113  6px 3px no-repeat;    
}
.page-node-3577 .Menu li.QuePotsFer.second a { color: #FFFFFF; }


.Menu li.QuePotsFer.third:hover, .section-fes-voluntariat .Menu li.QuePotsFer.third {
    padding-left: 30px;
    background: url('../images/pictos/fes-voluntariat-hover.png') #C13113  6px 3px no-repeat;
}
.section-fes-voluntariat .Menu li.QuePotsFer.third a { color: #FFFFFF; }







.Menu li.QuePotsFer ul, li.QuePotsFer ul li, li.QuePotsFer ul:hover, ul.li.QuePotsFer:hover, .Menu li.QuePotsFer:hover, .Menu li.QuePotsFer.sfHover, .QuePotsFer a.BotoMas:link, .QuePotsFer a.BotoMas:visited, .QuePotsFer a.BotoMas:active, .QuePotsFer a.BotoMas:hover {
    background-color: #000000;
    float: right;
}
.Menu ul li.QuePotsFer:focus, li.QuePotsFer ul li:hover, li.QuePotsFer ul li.sfHover, a.QuePotsFer:focus, a.QuePotsFer:active, .Menu a.QuePotsFer:focus, .Menu a.QuePotsFer:hover, .Menu a.QuePotsFer:active, .QuePotsFer h2, .QuePotsFer a.BotoMas:hover {
   /* background: none repeat scroll 0 0 #C13113;*/
}
.Menu li.Actes ul, li.Actes ul li, li.Actes ul:hover, ul.li.Actes:hover, .Menu li.Actes:hover, .Menu li.Actes.sfHover, .Actes a.BotoMas:link, .Actes a.BotoMas:visited, .Actes a.BotoMas:active, .Actes a.BotoMas:hover, .Actes input.Boto, .e_comments.Actes h2, .Actes ul.links li a:link, .Actes ul.links li a:visited, .Actes ul.links li a:active, .Actes .indented, .Actes .form-submit:active, .Actes .form-submit:visited, .Actes .form-submit:link, .Actes .captcha legend, .Actes .form-submit, .Actes .close, #Tornar.Actes, #Mapas.Actes h2, .Menu a.Actes:focus, .Menu a.Actes:hover, .Menu a.Actes:active {
    background-color: #97976C;
}


.Menu-AS li ul li a.Actes:link, .Menu-AS li ul li a.Actes:hover {
    background-color: transparent;
    margin: -9px -13px -13px;
    padding: 9px 13px 7px;
}
.Menu-AS li ul li a.Actes:hover {
    background-color: #97976C;
    color: #FFFFFF;
}
.Menu-AS li ul.Menu-AS-Sub li a.Actes:link, .Menu-AS li ul.Menu-AS-Sub li a.Actes:hover {
    background-color: transparent;
    margin-top: -9px;
    padding: 12px 12px 9px;
}
.Menu-AS li ul.Menu-AS-Sub li a.Actes:hover {
    background-color: #97976C;
    color: #FFFFFF;
}
.Menu-AS li ul.Menu-AS-Sub li ul.Actes li a:hover, .PaginacioAbaix.Actes, .QueEs.Actes h2 {
    border-bottom-color: #97976C;
}
.Menu-AS-Sub li.Actes:hover {
    background-color: #97976C;
    padding-bottom: 13px;
}
.Menu-AS-Sub li.Actes:hover a.Actes {
    color: #FFFFFF;
}
.Menu li.Cursos ul, li.Cursos ul li, li.Cursos ul:hover, ul.li.Cursos:hover, .Menu li.Cursos:hover, .Menu li.Cursos.sfHover, .Cursos a.BotoMas:link, .Cursos a.BotoMas:visited, .Cursos a.BotoMas:active, .Cursos a.BotoMas:hover, .Cursos input.Boto, .e_comments.Cursos h2, .Cursos ul.links li a:link, .Cursos ul.links li a:visited, .Cursos ul.links li a:active, .Cursos .indented, .Cursos .form-submit:active, .Cursos .form-submit:visited, .Cursos .form-submit:link, .Cursos .captcha legend, .Cursos .form-submit, .Cursos .close, #Tornar.Cursos, #Mapas.Cursos h2, .Menu a.Cursos:focus, .Menu a.Cursos:hover, .Menu a.Cursos:active {
    background-color: #899218;
}
.Menu-AS li ul li a.Cursos:link, .Menu-AS li ul li a.Cursos:hover {
    background-color: transparent;
    margin: -9px -13px -13px;
    padding: 9px 13px 7px;
}
.Menu-AS li ul li a.Cursos:hover {
    background-color: #899218;
    color: #FFFFFF;
}
.Menu-AS li ul.Menu-AS-Sub li a.Cursos:link, .Menu-AS li ul.Menu-AS-Sub li a.Cursos:hover {
    background-color: transparent;
    margin-top: -9px;
    padding: 12px 12px 9px;
}
.Menu-AS li ul.Menu-AS-Sub li a.Cursos:hover {
    background-color: #899218;
    color: #FFFFFF;
}
.Menu-AS li ul.Menu-AS-Sub li ul.Cursos li a:hover, .PaginacioAbaix.Cursos, .QueEs.Cursos h2 {
    border-bottom-color: #899218;
}
.Menu-AS-Sub li.Cursos:hover {
    background-color: #899218;
    padding-bottom: 13px;
}
.Menu-AS-Sub li.Cursos:hover a.Cursos {
    color: #FFFFFF;
}
.Menu li.Esdeveniments-antics ul, li.Esdeveniments-antics ul li, li.Esdeveniments-antics ul:hover, ul.li.Esdeveniments-antics:hover, .Menu li.Esdeveniments-antics:hover, .Menu li.Esdeveniments-antics.sfHover, .Esdeveniments-antics a.BotoMas:link, .Esdeveniments-antics a.BotoMas:visited, .Esdeveniments-antics a.BotoMas:active, .Esdeveniments-antics a.BotoMas:hover, .Esdeveniments-antics input.Boto, .e_comments.Esdeveniments-antics h2, .Esdeveniments-antics ul.links li a:link, .Esdeveniments-antics ul.links li a:visited, .Esdeveniments-antics ul.links li a:active, .Esdeveniments-antics .indented, .Esdeveniments-antics .form-submit:active, .Esdeveniments-antics .form-submit:visited, .Esdeveniments-antics .form-submit:link, .Esdeveniments-antics .captcha legend, .Esdeveniments-antics .form-submit, .Esdeveniments-antics .close, #Tornar.Esdeveniments-antics, #Mapas.Esdeveniments-antics h2, .Menu a.Esdeveniments-antics:focus, .Menu a.Esdeveniments-antics:hover, .Menu a.Esdeveniments-antics:active {
    background-color: #5E6025;
}
.Menu-AS li ul li a.Esdeveniments-antics:link, .Menu-AS li ul li a.Esdeveniments-antics:hover {
    background-color: transparent;
    margin: -9px -13px -13px;
    padding: 9px 13px 7px;
}
.Menu-AS li ul li a.Esdeveniments-antics:hover {
    background-color: #5E6025;
    color: #FFFFFF;
}
.Menu-AS li ul.Menu-AS-Sub li a.Esdeveniments-antics:link, .Menu-AS li ul.Menu-AS-Sub li a.Esdeveniments-antics:hover {
    background-color: transparent;
    margin-top: -9px;
    padding: 12px 12px 9px;
}
.Menu-AS li ul.Menu-AS-Sub li a.Esdeveniments-antics:hover {
    background-color: #5E6025;
    color: #FFFFFF;
}
.Menu-AS li ul.Menu-AS-Sub li ul.Esdeveniments-antics li a:hover, .PaginacioAbaix.Esdeveniments-antics, .QueEs.Esdeveniments-antics h2 {
    border-bottom-color: #5E6025;
}
.Menu-AS-Sub li.Esdeveniments-antics:hover {
    background-color: #5E6025;
    padding-bottom: 13px;
}
.Menu-AS-Sub li.Esdeveniments-antics:hover a.Esdeveniments-antics {
    color: #FFFFFF;
}
.Menu li.Public ul, li.Public ul li, li.Public ul:hover, ul.li.Public:hover, .Menu li.Public:hover, .Menu li.Public.sfHover, .Public a.BotoMas:link, .Public a.BotoMas:visited, .Public a.BotoMas:active, .Public a.BotoMas:hover, .Public input.Boto, .e_comments.Public h2, .Public ul.links li a:link, .Public ul.links li a:visited, .Public ul.links li a:active, .Public .indented, .Public .form-submit:active, .Public .form-submit:visited, .Public .form-submit:link, .Public .captcha legend, .Public .form-submit, .Public .close, #Tornar.Public, #Mapas.Public h2, .Menu a.Public:focus, .Menu a.Public:hover, .Menu a.Public:active {
    background-color: #D62405;
}
.Menu-AS li ul li a.Public:link, .Menu-AS li ul li a.Public:hover {
    background-color: transparent;
    margin: -9px -13px -13px;
    padding: 9px 13px 7px;
}
.Menu-AS li ul li a.Public:hover {
    background-color: #D62405;
    color: #FFFFFF;
}
.Menu-AS li ul.Menu-AS-Sub li a.Public:link, .Menu-AS li ul.Menu-AS-Sub li a.Public:hover {
    background-color: transparent;
    margin-top: -9px;
    padding: 12px 12px 9px;
}
.Menu-AS li ul.Menu-AS-Sub li a.Public:hover {
    background-color: #D62405;
    color: #FFFFFF;
}
.Menu-AS li ul.Menu-AS-Sub li ul.Public li a:hover, .PaginacioAbaix.Public, .QueEs.Public h2 {
    border-bottom-color: #D62405;
}
.Menu-AS-Sub li.Public:hover {
    background-color: #D62405;
    padding-bottom: 13px;
}
.Menu-AS-Sub li.Public:hover a.Public {
    color: #FFFFFF;
}
.Menu li.Privat ul, li.Privat ul li, li.Privat ul:hover, ul.li.Privat:hover, .Menu li.Privat:hover, .Menu li.Privat.sfHover, .Privat a.BotoMas:link, .Privat a.BotoMas:visited, .Privat a.BotoMas:active, .Privat a.BotoMas:hover, .Privat input.Boto, .e_comments.Privat h2, .Privat ul.links li a:link, .Privat ul.links li a:visited, .Privat ul.links li a:active, .Privat .indented, .Privat .form-submit:active, .Privat .form-submit:visited, .Privat .form-submit:link, .Privat .captcha legend, .Privat .form-submit, .Privat .close, #Tornar.Privat, #Mapas.Privat h2, .Menu a.Privat:focus, .Menu a.Privat:hover, .Menu a.Privat:active {
    background-color: #F52E77;
}
.Menu-AS li ul li a.Privat:link, .Menu-AS li ul li a.Privat:hover {
    background-color: transparent;
    margin: -9px -13px -13px;
    padding: 9px 13px 7px;
}
.Menu-AS li ul li a.Privat:hover {
    background-color: #F52E77;
    color: #FFFFFF;
}
.Menu-AS li ul.Menu-AS-Sub li a.Privat:link, .Menu-AS li ul.Menu-AS-Sub li a.Privat:hover {
    background-color: transparent;
    margin-top: -9px;
    padding: 12px 12px 9px;
}
.Menu-AS li ul.Menu-AS-Sub li a.Privat:hover {
    background-color: #F52E77;
    color: #FFFFFF;
}
.Menu-AS li ul.Menu-AS-Sub li ul.Privat li a:hover, .PaginacioAbaix.Privat, .QueEs.Privat h2 {
    border-bottom-color: #F52E77;
}
.Menu-AS-Sub li.Privat:hover {
    background-color: #F52E77;
    padding-bottom: 13px;
}
.Menu-AS-Sub li.Privat:hover a.Privat {
    color: #FFFFFF;
}
.Menu li.Premis ul, li.Premis ul li, li.Premis ul:hover, ul.li.Premis:hover, .Menu li.Premis:hover, .Menu li.Premis.sfHover, .Premis a.BotoMas:link, .Premis a.BotoMas:visited, .Premis a.BotoMas:active, .Premis a.BotoMas:hover, .Premis input.Boto, .e_comments.Premis h2, .Premis ul.links li a:link, .Premis ul.links li a:visited, .Premis ul.links li a:active, .Premis .indented, .Premis .form-submit:active, .Premis .form-submit:visited, .Premis .form-submit:link, .Premis .captcha legend, .Premis .form-submit, .Premis .close, #Tornar.Premis, #Mapas.Premis h2, .Menu a.Premis:focus, .Menu a.Premis:hover, .Menu a.Premis:active {
    background-color: #CB2390;
}
.Menu-AS li ul li a.Premis:link, .Menu-AS li ul li a.Premis:hover {
    background-color: transparent;
    margin: -9px -13px -13px;
    padding: 9px 13px 7px;
}
.Menu-AS li ul li a.Premis:hover {
    background-color: #CB2390;
    color: #FFFFFF;
}
.Menu-AS li ul.Menu-AS-Sub li a.Premis:link, .Menu-AS li ul.Menu-AS-Sub li a.Premis:hover {
    background-color: transparent;
    margin-top: -9px;
    padding: 12px 12px 9px;
}
.Menu-AS li ul.Menu-AS-Sub li a.Premis:hover {
    background-color: #CB2390;
    color: #FFFFFF;
}
.Menu-AS li ul.Menu-AS-Sub li ul.Premis li a:hover, .PaginacioAbaix.Premis, .QueEs.Premis h2 {
    border-bottom-color: #CB2390;
}
.Menu-AS-Sub li.Premis:hover {
    background-color: #CB2390;
    padding-bottom: 13px;
}
.Menu-AS-Sub li.Premis:hover a.Premis {
    color: #FFFFFF;
}
.Menu li.Subvencio ul, li.Subvencio ul li, li.Subvencio ul:hover, ul.li.Subvencio:hover, .Menu li.Subvencio:hover, .Menu li.Subvencio.sfHover, .Subvencio a.BotoMas:link, .Subvencio a.BotoMas:visited, .Subvencio a.BotoMas:active, .Subvencio a.BotoMas:hover, .Subvencio input.Boto, .e_comments.Subvencio h2, .Subvencio ul.links li a:link, .Subvencio ul.links li a:visited, .Subvencio ul.links li a:active, .Subvencio .indented, .Subvencio .form-submit:active, .Subvencio .form-submit:visited, .Subvencio .form-submit:link, .Subvencio .captcha legend, .Subvencio .form-submit, .Subvencio .close, #Tornar.Subvencio, #Mapas.Subvencio h2, .Menu a.Subvencio:focus, .Menu a.Subvencio:hover, .Menu a.Subvencio:active {
    background-color: #D62369;
}
.Menu-AS li ul li a.Subvencio:link, .Menu-AS li ul li a.Subvencio:hover {
    background-color: transparent;
    margin: -9px -13px -13px;
    padding: 9px 13px 7px;
}
.Menu-AS li ul li a.Subvencio:hover {
    background-color: #D62369;
    color: #FFFFFF;
}
.Menu-AS li ul.Menu-AS-Sub li a.Subvencio:link, .Menu-AS li ul.Menu-AS-Sub li a.Subvencio:hover {
    background-color: transparent;
    margin-top: -9px;
    padding: 12px 12px 9px;
}
.Menu-AS li ul.Menu-AS-Sub li a.Subvencio:hover {
    background-color: #D62369;
    color: #FFFFFF;
}
.Menu-AS li ul.Menu-AS-Sub li ul.Subvencio li a:hover, .PaginacioAbaix.Subvencio, .QueEs.Subvencio h2 {
    border-bottom-color: #D62369;
}
.Menu-AS-Sub li.Subvencio:hover {
    background-color: #D62369;
    padding-bottom: 13px;
}
.Menu-AS-Sub li.Subvencio:hover a.Subvencio {
    color: #FFFFFF;
}
.Menu li.Beques ul, li.Beques ul li, li.Beques ul:hover, ul.li.Beques:hover, .Menu li.Beques:hover, .Menu li.Beques.sfHover, .Beques a.BotoMas:link, .Beques a.BotoMas:visited, .Beques a.BotoMas:active, .Beques a.BotoMas:hover, .Beques input.Boto, .e_comments.Beques h2, .Beques ul.links li a:link, .Beques ul.links li a:visited, .Beques ul.links li a:active, .Beques .indented, .Beques .form-submit:active, .Beques .form-submit:visited, .Beques .form-submit:link, .Beques .captcha legend, .Beques .form-submit, .Beques .close, #Tornar.Beques, #Mapas.Beques h2, .Menu a.Beques:focus, .Menu a.Beques:hover, .Menu a.Beques:active {
    background-color: #BD523E;
}
.Menu-AS li ul li a.Beques:link, .Menu-AS li ul li a.Beques:hover {
    background-color: transparent;
    margin: -9px -13px -13px;
    padding: 9px 13px 7px;
}
.Menu-AS li ul li a.Beques:hover {
    background-color: #BD523E;
    color: #FFFFFF;
}
.Menu-AS li ul.Menu-AS-Sub li a.Beques:link, .Menu-AS li ul.Menu-AS-Sub li a.Beques:hover {
    background-color: transparent;
    margin-top: -9px;
    padding: 12px 12px 9px;
}
.Menu-AS li ul.Menu-AS-Sub li a.Beques:hover {
    background-color: #BD523E;
    color: #FFFFFF;
}
.Menu-AS li ul.Menu-AS-Sub li ul.Beques li a:hover, .PaginacioAbaix.Beques, .QueEs.Beques h2 {
    border-bottom-color: #BD523E;
}
.Menu-AS-Sub li.Beques:hover {
    background-color: #BD523E;
    padding-bottom: 13px;
}
.Menu-AS-Sub li.Beques:hover a.Beques {
    color: #FFFFFF;
}
.Menu li.Altres ul, li.Altres ul li, li.Altres ul:hover, ul.li.Altres:hover, .Menu li.Altres:hover, .Menu li.Altres.sfHover, .Altres a.BotoMas:link, .Altres a.BotoMas:visited, .Altres a.BotoMas:active, .Altres a.BotoMas:hover, .Altres input.Boto, .e_comments.Altres h2, .Altres ul.links li a:link, .Altres ul.links li a:visited, .Altres ul.links li a:active, .Altres .indented, .Altres .form-submit:active, .Altres .form-submit:visited, .Altres .form-submit:link, .Altres .captcha legend, .Altres .form-submit, .Altres .close, #Tornar.Altres, #Mapas.Altres h2, .Menu a.Altres:focus, .Menu a.Altres:hover, .Menu a.Altres:active {
    background-color: #D62405;
}
.Menu-AS li ul li a.Altres:link, .Menu-AS li ul li a.Altres:hover {
    background-color: transparent;
    margin: -9px -13px -13px;
    padding: 9px 13px 7px;
}
.Menu-AS li ul li a.Altres:hover {
    background-color: #D62405;
    color: #FFFFFF;
}
.Menu-AS li ul.Menu-AS-Sub li a.Altres:link, .Menu-AS li ul.Menu-AS-Sub li a.Altres:hover {
    background-color: transparent;
    margin-top: -9px;
    padding: 12px 12px 9px;
}
.Menu-AS li ul.Menu-AS-Sub li a.Altres:hover {
    background-color: #D62405;
    color: #FFFFFF;
}
.Menu-AS li ul.Menu-AS-Sub li ul.Altres li a:hover, .PaginacioAbaix.Altres, .QueEs.Altres h2 {
    border-bottom-color: #D62405;
}
.Menu-AS-Sub li.Altres:hover {
    background-color: #D62405;
    padding-bottom: 13px;
}
.Menu-AS-Sub li.Altres:hover a.Altres {
    color: #FFFFFF;
}
.Menu li.Internacional ul, li.Internacional ul li, li.Internacional ul:hover, ul.li.Internacional:hover, .Menu li.Internacional:hover, .Menu li.Internacional.sfHover, .Internacional a.BotoMas:link, .Internacional a.BotoMas:visited, .Internacional a.BotoMas:active, .Internacional a.BotoMas:hover, .Internacional input.Boto, .e_comments.Internacional h2, .Internacional ul.links li a:link, .Internacional ul.links li a:visited, .Internacional ul.links li a:active, .Internacional .indented, .Internacional .form-submit:active, .Internacional .form-submit:visited, .Internacional .form-submit:link, .Internacional .captcha legend, .Internacional .form-submit, .Internacional .close, #Tornar.Internacional, #Mapas.Internacional h2, .Menu a.Internacional:focus, .Menu a.Internacional:hover, .Menu a.Internacional:active {
    background-color: #A75387;
}
.Menu-AS li ul li a.Internacional:link, .Menu-AS li ul li a.Internacional:hover {
    background-color: transparent;
    margin: -9px -13px -13px;
    padding: 9px 13px 7px;
}
.Menu-AS li ul li a.Internacional:hover {
    background-color: #A75387;
    color: #FFFFFF;
}
.Menu-AS li ul.Menu-AS-Sub li a.Internacional:link, .Menu-AS li ul.Menu-AS-Sub li a.Internacional:hover {
    background-color: transparent;
    margin-top: -9px;
    padding: 12px 12px 9px;
}
.Menu-AS li ul.Menu-AS-Sub li a.Internacional:hover {
    background-color: #A75387;
    color: #FFFFFF;
}
.Menu-AS li ul.Menu-AS-Sub li ul.Internacional li a:hover, .PaginacioAbaix.Internacional, .QueEs.Internacional h2 {
    border-bottom-color: #A75387;
}
.Menu-AS-Sub li.Internacional:hover {
    background-color: #A75387;
    padding-bottom: 13px;
}
.Menu-AS-Sub li.Internacional:hover a.Internacional {
    color: #FFFFFF;
}
.Menu li.Ambiental ul, li.Ambiental ul li, li.Ambiental ul:hover, ul.li.Ambiental:hover, .Menu li.Ambiental:hover, .Menu li.Ambiental.sfHover, .Ambiental a.BotoMas:link, .Ambiental a.BotoMas:visited, .Ambiental a.BotoMas:active, .Ambiental a.BotoMas:hover, .Ambiental input.Boto, .e_comments.Ambiental h2, .Ambiental ul.links li a:link, .Ambiental ul.links li a:visited, .Ambiental ul.links li a:active, .Ambiental .indented, .Ambiental .form-submit:active, .Ambiental .form-submit:visited, .Ambiental .form-submit:link, .Ambiental .captcha legend, .Ambiental .form-submit, .Ambiental .close, #Tornar.Ambiental, #Mapas.Ambiental h2, .Menu a.Ambiental:focus, .Menu a.Ambiental:hover, .Menu a.Ambiental:active {
    background-color: #8FBD7F;
}
.Menu-AS li ul li a.Ambiental:link, .Menu-AS li ul li a.Ambiental:hover {
    background-color: transparent;
    margin: -9px -13px -13px;
    padding: 9px 13px 7px;
}
.Menu-AS li ul li a.Ambiental:hover {
    background-color: #8FBD7F;
    color: #FFFFFF;
}
.Menu-AS li ul.Menu-AS-Sub li a.Ambiental:link, .Menu-AS li ul.Menu-AS-Sub li a.Ambiental:hover {
    background-color: transparent;
    margin-top: -9px;
    padding: 12px 12px 9px;
}
.Menu-AS li ul.Menu-AS-Sub li a.Ambiental:hover {
    background-color: #8FBD7F;
    color: #FFFFFF;
}
.Menu-AS li ul.Menu-AS-Sub li ul.Ambiental li a:hover, .PaginacioAbaix.Ambiental, .QueEs.Ambiental h2 {
    border-bottom-color: #8FBD7F;
}
.Menu-AS-Sub li.Ambiental:hover {
    background-color: #8FBD7F;
    padding-bottom: 13px;
}
.Menu-AS-Sub li.Ambiental:hover a.Ambiental {
    color: #FFFFFF;
}
.Menu li.Comunitari ul, li.Comunitari ul li, li.Comunitari ul:hover, ul.li.Comunitari:hover, .Menu li.Comunitari:hover, .Menu li.Comunitari.sfHover, .Comunitari a.BotoMas:link, .Comunitari a.BotoMas:visited, .Comunitari a.BotoMas:active, .Comunitari a.BotoMas:hover, .Comunitari input.Boto, .e_comments.Comunitari h2, .Comunitari ul.links li a:link, .Comunitari ul.links li a:visited, .Comunitari ul.links li a:active, .Comunitari .indented, .Comunitari .form-submit:active, .Comunitari .form-submit:visited, .Comunitari .form-submit:link, .Comunitari .captcha legend, .Comunitari .form-submit, .Comunitari .close, #Tornar.Comunitari, #Mapas.Comunitari h2, .Menu a.Comunitari:focus, .Menu a.Comunitari:hover, .Menu a.Comunitari:active {
    background-color: #F4BC44;
}
.Menu-AS li ul li a.Comunitari:link, .Menu-AS li ul li a.Comunitari:hover {
    background-color: transparent;
    margin: -9px -13px -13px;
    padding: 9px 13px 7px;
}
.Menu-AS li ul li a.Comunitari:hover {
    background-color: #F4BC44;
    color: #FFFFFF;
}
.Menu-AS li ul.Menu-AS-Sub li a.Comunitari:link, .Menu-AS li ul.Menu-AS-Sub li a.Comunitari:hover {
    background-color: transparent;
    margin-top: -9px;
    padding: 12px 12px 9px;
}
.Menu-AS li ul.Menu-AS-Sub li a.Comunitari:hover {
    background-color: #F4BC44;
    color: #FFFFFF;
}
.Menu-AS li ul.Menu-AS-Sub li ul.Comunitari li a:hover, .PaginacioAbaix.Comunitari, .QueEs.Comunitari h2 {
    border-bottom-color: #F4BC44;
}
.Menu-AS-Sub li.Comunitari:hover {
    background-color: #F4BC44;
    padding-bottom: 13px;
}
.Menu-AS-Sub li.Comunitari:hover a.Comunitari {
    color: #FFFFFF;
}
.Menu li.Cultural ul, li.Cultural ul li, li.Cultural ul:hover, ul.li.Cultural:hover, .Menu li.Cultural:hover, .Menu li.Cultural.sfHover, .Cultural a.BotoMas:link, .Cultural a.BotoMas:visited, .Cultural a.BotoMas:active, .Cultural a.BotoMas:hover, .Cultural input.Boto, .e_comments.Cultural h2, .Cultural ul.links li a:link, .Cultural ul.links li a:visited, .Cultural ul.links li a:active, .Cultural .indented, .Cultural .form-submit:active, .Cultural .form-submit:visited, .Cultural .form-submit:link, .Cultural .captcha legend, .Cultural .form-submit, .Cultural .close, #Tornar.Cultural, #Mapas.Cultural h2, .Menu a.Cultural:focus, .Menu a.Cultural:hover, .Menu a.Cultural:active {
    background-color: #959FD6;
}
.Menu-AS li ul li a.Cultural:link, .Menu-AS li ul li a.Cultural:hover {
    background-color: transparent;
    margin: -9px -13px -13px;
    padding: 9px 13px 7px;
}
.Menu-AS li ul li a.Cultural:hover {
    background-color: #959FD6;
    color: #FFFFFF;
}
.Menu-AS li ul.Menu-AS-Sub li a.Cultural:link, .Menu-AS li ul.Menu-AS-Sub li a.Cultural:hover {
    background-color: transparent;
    margin-top: -9px;
    padding: 12px 12px 9px;
}
.Menu-AS li ul.Menu-AS-Sub li a.Cultural:hover {
    background-color: #959FD6;
    color: #FFFFFF;
}
.Menu-AS li ul.Menu-AS-Sub li ul.Cultural li a:hover, .PaginacioAbaix.Cultural, .QueEs.Cultural h2 {
    border-bottom-color: #959FD6;
}
.Menu-AS-Sub li.Cultural:hover {
    background-color: #959FD6;
    padding-bottom: 13px;
}
.Menu-AS-Sub li.Cultural:hover a.Cultural {
    color: #FFFFFF;
}
.Menu li.Social ul, li.Social ul li, li.Social ul:hover, ul.li.Social:hover, .Menu li.Social:hover, .Menu li.Social.sfHover, .Social a.BotoMas:link, .Social a.BotoMas:visited, .Social a.BotoMas:active, .Social a.BotoMas:hover, .Social input.Boto, .e_comments.Social h2, .Social ul.links li a:link, .Social ul.links li a:visited, .Social ul.links li a:active, .Social .indented, .Social .form-submit:active, .Social .form-submit:visited, .Social .form-submit:link, .Social .captcha legend, .Social .form-submit, .Social .close, #Tornar.Social, #Mapas.Social h2, .Menu a.Social:focus, .Menu a.Social:hover, .Menu a.Social:active {
    background-color: #005577;
}
.Menu-AS li ul li a.Social:link, .Menu-AS li ul li a.Social:hover {
    background-color: transparent;
    margin: -9px -13px -13px;
    padding: 9px 13px 7px;
}
.Menu-AS li ul li a.Social:hover {
    background-color: #005577;
    color: #FFFFFF;
}
.Menu-AS li ul.Menu-AS-Sub li a.Social:link, .Menu-AS li ul.Menu-AS-Sub li a.Social:hover {
    background-color: transparent;
    margin-top: -9px;
    padding: 12px 12px 9px;
}
.Menu-AS li ul.Menu-AS-Sub li a.Social:hover {
    background-color: #005577;
    color: #FFFFFF;
}
.Menu-AS li ul.Menu-AS-Sub li ul.Social li a:hover, .PaginacioAbaix.Social, .QueEs.Social h2 {
    border-bottom-color: #005577;
}
.Menu-AS-Sub li.Social:hover {
    background-color: #005577;
    padding-bottom: 13px;
}
.Menu-AS-Sub li.Social:hover a.Social {
    color: #FFFFFF;
}
.Menu li.Projectes ul, li.Projectes ul li, li.Projectes ul:hover, ul.li.Projectes:hover, .Menu li.Projectes:hover, .Menu li.Projectes.sfHover, .Projectes a.BotoMas:link, .Projectes a.BotoMas:visited, .Projectes a.BotoMas:active, .Projectes a.BotoMas:hover, .Projectes input.Boto, .e_comments.Projectes h2, .Projectes ul.links li a:link, .Projectes ul.links li a:visited, .Projectes ul.links li a:active, .Projectes .indented, .Projectes .form-submit:active, .Projectes .form-submit:visited, .Projectes .form-submit:link, .Projectes .captcha legend, .Projectes .form-submit, .Projectes .close, #Tornar.Projectes, #Mapas.Projectes h2, .Menu a.Projectes:focus, .Menu a.Projectes:hover, .Menu a.Projectes:active {
    background-color: #E39595;
}
.Menu-AS li ul li a.Projectes:link, .Menu-AS li ul li a.Projectes:hover {
    background-color: transparent;
    margin: -9px -13px -13px;
    padding: 9px 13px 7px;
}
.Menu-AS li ul li a.Projectes:hover {
    background-color: #E39595;
    color: #FFFFFF;
}
.Menu-AS li ul.Menu-AS-Sub li a.Projectes:link, .Menu-AS li ul.Menu-AS-Sub li a.Projectes:hover {
    background-color: transparent;
    margin-top: -9px;
    padding: 12px 12px 9px;
}
.Menu-AS li ul.Menu-AS-Sub li a.Projectes:hover {
    background-color: #E39595;
    color: #FFFFFF;
}
.Menu-AS li ul.Menu-AS-Sub li ul.Projectes li a:hover, .PaginacioAbaix.Projectes, .QueEs.Projectes h2 {
    border-bottom-color: #E39595;
}
.Menu-AS-Sub li.Projectes:hover {
    background-color: #E39595;
    padding-bottom: 13px;
}
.Menu-AS-Sub li.Projectes:hover a.Projectes {
    color: #FFFFFF;
}
.Menu li.Juridic ul, li.Juridic ul li, li.Juridic ul:hover, ul.li.Juridic:hover, .Menu li.Juridic:hover, .Menu li.Juridic.sfHover, .Juridic a.BotoMas:link, .Juridic a.BotoMas:visited, .Juridic a.BotoMas:active, .Juridic a.BotoMas:hover, .Juridic input.Boto, .e_comments.Juridic h2, .Juridic ul.links li a:link, .Juridic ul.links li a:visited, .Juridic ul.links li a:active, .Juridic .indented, .Juridic .form-submit:active, .Juridic .form-submit:visited, .Juridic .form-submit:link, .Juridic .captcha legend, .Juridic .form-submit, .Juridic .close, #Tornar.Juridic, #Mapas.Juridic h2, .Menu a.Juridic:focus, .Menu a.Juridic:hover, .Menu a.Juridic:active {
    background-color: #62AEC4;
}
.Menu-AS li ul li a.Juridic:link, .Menu-AS li ul li a.Juridic:hover {
    background-color: transparent;
    margin: -9px -13px -13px;
    padding: 9px 13px 7px;
}
.Menu-AS li ul li a.Juridic:hover {
    background-color: #62AEC4;
    color: #FFFFFF;
}
.Menu-AS li ul.Menu-AS-Sub li a.Juridic:link, .Menu-AS li ul.Menu-AS-Sub li a.Juridic:hover {
    background-color: transparent;
    margin-top: -9px;
    padding: 12px 12px 9px;
}
.Menu-AS li ul.Menu-AS-Sub li a.Juridic:hover {
    background-color: #62AEC4;
    color: #FFFFFF;
}
.Menu-AS li ul.Menu-AS-Sub li ul.Juridic li a:hover, .PaginacioAbaix.Juridic, .QueEs.Juridic h2 {
    border-bottom-color: #62AEC4;
}
.Menu-AS-Sub li.Juridic:hover {
    background-color: #62AEC4;
    padding-bottom: 13px;
}
.Menu-AS-Sub li.Juridic:hover a.Juridic {
    color: #FFFFFF;
}
.Menu li.Informatic ul, li.Informatic ul li, li.Informatic ul:hover, ul.li.Informatic:hover, .Menu li.Informatic:hover, .Menu li.Informatic.sfHover, .Informatic a.BotoMas:link, .Informatic a.BotoMas:visited, .Informatic a.BotoMas:active, .Informatic a.BotoMas:hover, .Informatic input.Boto, .e_comments.Informatic h2, .Informatic ul.links li a:link, .Informatic ul.links li a:visited, .Informatic ul.links li a:active, .Informatic .indented, .Informatic .form-submit:active, .Informatic .form-submit:visited, .Informatic .form-submit:link, .Informatic .captcha legend, .Informatic .form-submit, .Informatic .close, #Tornar.Informatic, #Mapas.Informatic h2, .Menu a.Informatic:focus, .Menu a.Informatic:hover, .Menu a.Informatic:active {
    background-color: #9B8CD2;
}
.Menu-AS li ul li a.Informatic:link, .Menu-AS li ul li a.Informatic:hover {
    background-color: transparent;
    margin: -9px -13px -13px;
    padding: 9px 13px 7px;
}
.Menu-AS li ul li a.Informatic:hover {
    background-color: #9B8CD2;
    color: #FFFFFF;
}
.Menu-AS li ul.Menu-AS-Sub li a.Informatic:link, .Menu-AS li ul.Menu-AS-Sub li a.Informatic:hover {
    background-color: transparent;
    margin-top: -9px;
    padding: 12px 12px 9px;
}
.Menu-AS li ul.Menu-AS-Sub li a.Informatic:hover {
    background-color: #9B8CD2;
    color: #FFFFFF;
}
.Menu-AS li ul.Menu-AS-Sub li ul.Informatic li a:hover, .PaginacioAbaix.Informatic, .QueEs.Informatic h2 {
    border-bottom-color: #9B8CD2;
}
.Menu-AS-Sub li.Informatic:hover {
    background-color: #9B8CD2;
    padding-bottom: 13px;
}
.Menu-AS-Sub li.Informatic:hover a.Informatic {
    color: #FFFFFF;
}
.Menu li.Formacio ul, li.Formacio ul li, li.Formacio ul:hover, ul.li.Formacio:hover, .Menu li.Formacio:hover, .Menu li.Formacio.sfHover, .Formacio a.BotoMas:link, .Formacio a.BotoMas:visited, .Formacio a.BotoMas:active, .Formacio a.BotoMas:hover, .Formacio input.Boto, .e_comments.Formacio h2, .Formacio ul.links li a:link, .Formacio ul.links li a:visited, .Formacio ul.links li a:active, .Formacio .indented, .Formacio .form-submit:active, .Formacio .form-submit:visited, .Formacio .form-submit:link, .Formacio .captcha legend, .Formacio .form-submit, .Formacio .close, #Tornar.Formacio, #Mapas.Formacio h2, .Menu a.Formacio:focus, .Menu a.Formacio:hover, .Menu a.Formacio:active {
    background-color: #C09158;
}
.Menu-AS li ul li a.Formacio:link, .Menu-AS li ul li a.Formacio:hover {
    background-color: transparent;
    margin: -9px -13px -13px;
    padding: 9px 13px 7px;
}
.Menu-AS li ul li a.Formacio:hover {
    background-color: #C09158;
    color: #FFFFFF;
}
.Menu-AS li ul.Menu-AS-Sub li a.Formacio:link, .Menu-AS li ul.Menu-AS-Sub li a.Formacio:hover {
    background-color: transparent;
    margin-top: -9px;
    padding: 12px 12px 9px;
}
.Menu-AS li ul.Menu-AS-Sub li a.Formacio:hover {
    background-color: #C09158;
    color: #FFFFFF;
}
.Menu-AS li ul.Menu-AS-Sub li ul.Formacio li a:hover, .PaginacioAbaix.Formacio, .QueEs.Formacio h2 {
    border-bottom-color: #C09158;
}
.Menu-AS-Sub li.Formacio:hover {
    background-color: #C09158;
    padding-bottom: 13px;
}
.Menu-AS-Sub li.Formacio:hover a.Formacio {
    color: #FFFFFF;
}
.Menu li.Economic ul, li.Economic ul li, li.Economic ul:hover, ul.li.Economic:hover, .Menu li.Economic:hover, .Menu li.Economic.sfHover, .Economic a.BotoMas:link, .Economic a.BotoMas:visited, .Economic a.BotoMas:active, .Economic a.BotoMas:hover, .Economic input.Boto, .e_comments.Economic h2, .Economic ul.links li a:link, .Economic ul.links li a:visited, .Economic ul.links li a:active, .Economic .indented, .Economic .form-submit:active, .Economic .form-submit:visited, .Economic .form-submit:link, .Economic .captcha legend, .Economic .form-submit, .Economic .close, #Tornar.Economic, #Mapas.Economic h2, .Menu a.Economic:focus, .Menu a.Economic:hover, .Menu a.Economic:active {
    background-color: #D1B91A;
}
.Menu-AS li ul li a.Economic:link, .Menu-AS li ul li a.Economic:hover {
    background-color: transparent;
    margin: -9px -13px -13px;
    padding: 9px 13px 7px;
}
.Menu-AS li ul li a.Economic:hover {
    background-color: #D1B91A;
    color: #FFFFFF;
}
.Menu-AS li ul.Menu-AS-Sub li a.Economic:link, .Menu-AS li ul.Menu-AS-Sub li a.Economic:hover {
    background-color: transparent;
    margin-top: -9px;
    padding: 12px 12px 9px;
}
.Menu-AS li ul.Menu-AS-Sub li a.Economic:hover {
    background-color: #D1B91A;
    color: #FFFFFF;
}
.Menu-AS li ul.Menu-AS-Sub li ul.Economic li a:hover, .PaginacioAbaix.Economic, .QueEs.Economic h2 {
    border-bottom-color: #D1B91A;
}
.Menu-AS-Sub li.Economic:hover {
    background-color: #D1B91A;
    padding-bottom: 13px;
}
.Menu-AS-Sub li.Economic:hover a.Economic {
    color: #FFFFFF;
}
.Menu li.General ul, li.General ul li, li.General ul:hover, ul.li.General:hover, .Menu li.General:hover, .Menu li.General.sfHover, .General a.BotoMas:link, .General a.BotoMas:visited, .General a.BotoMas:active, .General a.BotoMas:hover, .General input.Boto, .e_comments.General h2, .General ul.links li a:link, .General ul.links li a:visited, .General ul.links li a:active, .General .indented, .General .form-submit:active, .General .form-submit:visited, .General .form-submit:link, .General .captcha legend, .General .form-submit, .General .close, #Tornar.General, #Mapas.General h2, .Menu a.General:focus, .Menu a.General:hover, .Menu a.General:active {
    background-color: #B4CF4F;
}
.Menu-AS li ul li a.General:link, .Menu-AS li ul li a.General:hover {
    background-color: transparent;
    margin: -9px -13px -13px;
    padding: 9px 13px 7px;
}
.Menu-AS li ul li a.General:hover {
    background-color: #B4CF4F;
    color: #FFFFFF;
}
.Menu-AS li ul.Menu-AS-Sub li a.General:link, .Menu-AS li ul.Menu-AS-Sub li a.General:hover {
    background-color: transparent;
    margin-top: -9px;
    padding: 12px 12px 9px;
}
.Menu-AS li ul.Menu-AS-Sub li a.General:hover {
    background-color: #B4CF4F;
    color: #FFFFFF;
}
.Menu-AS li ul.Menu-AS-Sub li ul.General li a:hover, .PaginacioAbaix.General, .QueEs.General h2 {
    border-bottom-color: #B4CF4F;
}
.Menu-AS-Sub li.General:hover {
    background-color: #B4CF4F;
    padding-bottom: 13px;
}
.Menu-AS-Sub li.General:hover a.General {
    color: #FFFFFF;
}

.Menu-AS-Sub{
#margin-top:20px;
}

ul li a.Recursos:hover {
    background-color: #005EA7;
}
ul li a.Recursos:link, ul li a.Recursos:visited, ul li a.Recursos:active {
    background-color: transparent;
}
ul li a.Internacional:hover {
    background-color: #A75387;
}
ul li a.Comunitari:link, ul li a.Comunitari:visited, ul li a.Comunitari:active {
    background-color: transparent;
}
ul li a.Comunitari:hover {
    background-color: #F4BC44;
}
ul li a.Cultural:link, ul li a.Cultural:visited, ul li a.Cultural:active {
    background-color: transparent;
}
ul li a.Cultural:hover {
    background-color: #959FD6;
}
ul li a.Social:link, ul li a.Social:visited, ul li a.Social:active {
    background-color: transparent;
}
ul li a.Social:hover {
    background-color: #005577;
}
ul li a.Projectes:link, ul li a.Projectes:visited, ul li a.Projectes:active {
    background-color: transparent;
}
ul li a.Projectes:hover {
    background-color: #E39595;
}
ul li a.Juridic:link, ul li a.Juridic:visited, ul li a.Juridic:active {
    background-color: transparent;
}
ul li a.Juridic:hover {
    background-color: #62AEC4;
}
ul li a.Informatic:link, ul li a.Informatic:visited, ul li a.Informatic:active {
    background-color: transparent;
}
ul li a.Informatic:hover {
    background-color: #9B8CD2;
}
ul li a.Formacio:link, ul li a.Formacio:visited, ul li a.Formacio:active {
    background-color: transparent;
}
ul li a.Formacio:hover {
    background-color: #C09158;
}
ul li a.Economic:link, ul li a.Economic:visited, ul li a.Economic:active {
    background-color: transparent;
}
ul li a.Economic:hover {
    background-color: #D1B91A;
}
ul li a.General:link, ul li a.General:visited, ul li a.General:active {
    background-color: transparent;
}
ul li a.General:hover {
    background-color: #B4CF4F;
}
ul li a.Xarxanet:link, ul li a.Xarxanet:visited, ul li a.Xarxanet:active {
    background-color: transparent;
}
ul li a.Xarxanet:hover {
    background-color: #B2290C;
}
ul li a.Noticies:link, ul li a.Noticies:visited, ul li a.Noticies:active {
    background-color: transparent;
}
ul li a.Noticies:hover {
    background-color: #71A956;
}
ul li a.Agenda:link, ul li a.Agenda:visited, ul li a.Agenda:active {
    background-color: transparent;
}
ul li a.Agenda:hover {
    background-color: #ABB22F;
}
ul li a.Financament:link, ul li a.Financament:visited, ul li a.Financament:active {
    background-color: transparent;
}
ul li a.Financament:hover {
    background-color: #F57310;
}
ul li a.Actes:link, ul li a.Actes:visited, ul li a.Actes:active {
    background-color: transparent;
}
ul li a.Actes:hover {
    background-color: #97976C;
}
ul li a.Cursos:link, ul li a.Cursos:visited, ul li a.Cursos:active {
    background-color: transparent;
}
ul li a.Cursos:hover {
    background-color: #899218;
}
ul li a.Esdeveniments-antics:link, ul li a.Esdeveniments-antics:visited, ul li a.Esdeveniments-antics:active {
    background-color: transparent;
}
ul li a.Esdeveniments-antics:hover {
    background-color: #5E6025;
}
ul li a.Public:link, ul li a.Public:visited, ul li a.Public:active {
    background-color: transparent;
}
ul li a.Public:hover {
    background-color: #D62405;
}
ul li a.Privat:link, ul li a.Privat:visited, ul li a.Privat:active {
    background-color: transparent;
}
ul li a.Privat:hover {
    background-color: #F52E77;
}
ul li a.Premis:link, ul li a.Premis:visited, ul li a.Premis:active {
    background-color: transparent;
}
ul li a.Premis:hover {
    background-color: #CB2390;
}
ul li a.Subvencio:link, ul li a.Subvencio:visited, ul li a.Subvencio:active {
    background-color: transparent;
}
ul li a.Subvencio:hover {
    background-color: #D62369;
}
ul li a.Beques:link, ul li a.Beques:visited, ul li a.Beques:active {
    background-color: transparent;
}
ul li a.Beques:hover {
    background-color: #BD523E;
}
ul li a.Altres:link, ul li a.Altres:visited, ul li a.Altres:active {
    background-color: transparent;
}
ul li a.Altres:hover {
    background-color: #D62405;
}
ul li a.Internacional:link, ul li a.Internacional:visited, ul li a.Internacional:active {
    background-color: transparent;
}
ul li a.Ambiental:link, ul li a.Ambiental:visited, ul li a.Ambiental:active {
    background-color: transparent;
}
ul li a.Ambiental:hover {
    background-color: #8FBD7F;
}
/* IE 6 */
ul li ul {
#width:750px;
#margin-top:20px;
#top:0px;
}
ul li ul li{
#width:100px;
#float:left;
#display:block;
}








