/* $Id: style.css,v 1.1.2.9 2009/05/22 08:46:11 jmburnz Exp $ */

/**
 * @file style.css
 *
 * Use this file to override the Genesis core modular styles 
 * (such as the HTML elements in typography.css), module CSS 
 * and other Drupal styles. Anything that doesn't fit logically
 * into page.css, nodes.css, blocks.css or comments.css can go here.
 */

/**********************************************************
 *                    Body
 **********************************************************/
:focus {outline:0}
body,ul,ol,p,table,form,h1,h2,h2,h3,h4,h5,h6 {
 padding:0;
 margin:0;
}
* {margin: 0;}
html{height:100%;overflow:-moz-scrollbars-vertical;overflow-y:scroll;}
body#genesis-1c {
    color: black;
}
/**********************************************************
 *                 HTML Elements
 **********************************************************/

h1, h2, h3{
    font-family:Georgia, "Times New Roman", Times, serif;
    font-weight:normal;
    line-height: 1.0em;
   
}


h1{font-size:19pt;}

h2{font-size:17pt;}

h3{font-size:15pt;}



h2, h3{
    padding-bottom:5px;
    font-weight:bold;
}



p {
    font-size:10pt;
    color:#333;
    line-height:1.4em;
   
}




strong {}
em, dfn {}
dfn {}

sup, sub {}

del {}
ins {}

blockquote{
    font-family:Georgia, "Times New Roman", Times, serif;
    font-size:14pt;
    line-height:1.3em;
    font-weight:normal;
    color:#333;
    margin-top:10px;
    margin-bottom:10px;
    font-style:italic;
    padding:10px;
    border-color:#999;
    border-style:solid;
    border-width:1px;
    border-right:none;
    border-left:none;
}
cite {}
q {}

address {}

ul {}
ol {}
li {}
p li {
  font-size:10pt;
  color:#333;
  line-height:1.4em;
    
}



dl {}
dd {}
dt {}


abbr {}
acronym {}

pre, code, tt {}
p code {}
samp {}
kbd {}
var {}


/**********************************************************
 *                 Global Link Styles
 **********************************************************/



a {
 	 font-family: Georgia, "Times New Roman", Times, serif;
	 margin: 0; 
 	 padding: 0;
 	 outline: none;
 	 color:#005577;
 	 text-decoration: none;
 	  	 
}


a:hover{
	text-decoration: underline;
}

.pane-block a, .block a, .pane-custom a, .view-content a{
	font-size: 10pt;
}


a img {border:0;}

.columns-inner a:link {text-decoration:none;color:#005577;}
.columns-inner a:visited {text-decoration:none;color:#005577;}
.columns-inner a:active, a:focus {text-decoration:none;}
.columns-inner a:hover {text-decoration:underline;}
.columns-inner a.active  {}

/* Drupal sets this to black. */

.content-column li a{
	line-height: 1.6em;
}

li a.active {}


p a:link, ul li a:link{font-size: 10pt;}
p a:visited {text-decoration:underline; color:#333;}
p a:active {text-decoration:underline;}
p a:hover {text-decoration:underline;}

img a:link {text-decoration:none;}
img a:visited {text-decoration:none;}
img a:active {text-decoration:none;}
img a:hover {text-decoration:none; background-color:transparent;}

/**********************************************************
 *                 Accessibility Classes
 **********************************************************/

/* Hide content without positioning issues. */
.invisible {
  height: 0;
  overflow: hidden;
}

/* Move content off screen where appropriate. */
.offscreen {
  position: absolute;
  left: -999em;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* Completely remove content for all users.
   DO NOT use this for Skip links, display:none 
   hides content from screen readers! */
.remove {
  display: none;
}


/**********************************************************
 *                 Custom Styles
 **********************************************************/
/**
 * Here you can add custom stles for your theme that do not fit
 * into one if the modular stylesheets (such as the nodes, blocks,
 * page and comments stylesheets).
 */
 /*
#content ul, #content ol {
    color:#333;
    list-position:outside;
    list-style-type:square;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0;
    font-size: 9pt;
    color:#333;
    text-align: left;
    padding-bottom:10px;
    line-height:1.5em;
    margin-left:20px;
}
*/


div.view-2011-totes-noticies-portada h3 {
    font-weight: bold;
}


ul.primary{
	padding: 0 0 0.1em 0.3em;
}


.views-field-title a{
	font-family: Georgia, "Times New Roman", Times, serif;
}


.node-column-images a{
	font-size: 10pt;
}
