/**
 *   Frontpage Styles (Colors, Backgrounds, Typography, Links, etc.)
 */
/* ------- Panels -------*/
/* ------- Notícia destacada principal ------- */
.view-recull-noticies-principal {
  background: $main-3;
  .views-field-title {
    @include title3;
    @include block-title;
    background: $general;
    text-align: center;
    width: 100%;
    padding: 8px 0px;
  }
  .views-field-field-recull-principal-principal,
  .views-field-views-conditional {
    @include title1;
    padding: 0 8px;
  }
  .views-field-field-resum,
  .views-field-views-conditional-1 {
    padding: 0 8px;
  }
  .views-field-nothing {
    padding: 8px;
    .views-label {
      font-weight: bold;
    }
    ul {
      margin-bottom: 0px;
    }
    li {
      list-style-image: image-url("bullets/news-list-style.png");
      line-height: 1.5em;
    }
  }
}


/* ------- Blocks -------*/
/* ------- Notícia destacada lateral ------- */
.pane-noticia-destacada-lateral {
  background: $main-3;
  overflow:hidden;
  h2 {
    @include block-lat-title;
    background: image-url("pictos/destaquem.png") $general 10px no-repeat;
    width: $column * 4 + $space * 2 - 50px;
  }
  .views-field-field-destacada-lat-ellac-1 {
    @include title3;
    padding: 0px 12px;
  }
  .views-field-field-destacada-lat-entr {
    padding: 0px 12px 12px;
  }
}



