/**
 *   Node Styles (Colors, Backgrounds, Typography, Links, etc.)
 */

 /* ------- Notícies i Recursos ------- */
 .node-column-images {
  .node-image {
    ul {
      list-style-type: none;
      padding: 0;
    }
    .legend {
      p {
        background-color: $main-color;
        color: white;
        margin: 0;
        padding: $space;
      }
      margin-bottom: $ninesixty-gutter-width; 
    }
  }
  .node-terms {
    @include node-box;
    h2 { @include node-title('etiquetes'); } 
    list-style-image: image-url("bullets/news-list-style.png");
    line-height: 1.8em;
  }
  .node-links {
    @include node-box;
    h2 { @include node-title(''); } 
    ul { line-height: 2.5em; }
    li { margin-left: 1em; }
    li.print_html { list-style-image: image-url("pictos/print.png"); }
    li.print_mail { list-style-image: image-url("pictos/mail.png"); }
    li.print_pdf { list-style-image: image-url("pictos/pdf-version.png"); }
    li.ics { list-style-image: image-url("pictos/calendar.png"); }
  }
  .node-files {
    @include node-box;
    h2 { @include node-title('fitxers'); } 
    list-style-image: image-url("bullets/news-list-style.png");
    line-height: 1.8em;
  }
 }
 
 .node-content {
  .node-intro {
    border-bottom: solid 1px $main-1;
    p { 
      @include title3;
      margin-bottom: $ninesixty-gutter-width; 
    }
  }
  .node-social-links {
    margin-top: $ninesixty-gutter-width;
    margin-bottom: $space;
  }
  .node-submitted {
    margin: $space 0;
    font-size: 8pt;
    p { margin: 0 !important; }
  }
  .node-body-text {
    margin: $ninesixty-gutter-width 0;
  }
  .resource-answer {
    margin-top: $ninesixty-gutter-width;
    p.tornar { text-align: right; }
 }
}
 
 section#comments {
   margin-right: $space;
   h2.title { 
     @include node-title('globus');
     margin-bottom: 0; 
   }
   article {
    background-color: $main-3;
    padding: $space;
    margin-bottom: $space;
    h3, .permalink { display: none; }
    time {
      color: #32701D;
      font-style: italic;
    }
    .content {
      background-color: white;
      padding: $space;
    }
    footer {
      text-align: right;
      margin: $ninesixty-gutter-width 0 $space;
      li { padding: 0; } 
      a { 
        padding: $space $ninesixty-gutter-width ;
        color: white;
        background-color: $main-1;
        text-transform: capitalize;
      }
    }
  }
  
  #comment-form-wrapper {
    background-color: $main-3;
    h2 { @include node-title('comentaris'); }
    form { padding: $space; }
    
  }
  
  .form-actions {
   text-align: right;
    input { margin-left: 8px; }
  }
 }

 /* ------- Authors ------- */
 #author-description { 
 	background-color: $main-3;
 	.twitter-profile { 
 		background: image-url("pictos/twitter-blau-20.png") 0px no-repeat;
 		padding: 5px 0px 5px 25px; 
 	} 
 }
 #author-related-content {
 	#author-articles {
	 	.section-title {
	 		border-bottom: solid 2px $opinion;
	 		h2 {
	 			background-color: $opinion;
	 			color: white;
 			}	
 		}
 		.views-row {
 			border-bottom: dotted 1px $opinion;
 			&.views-row-last {
 				border-bottom: none;
 			}
 		}
 	}
 }
 
 /* ------- Opinion ------- */
 .node-type-opinion {
	.node-column-images {
		img { width: auto; }
		.article-author-text {
			background-color: $main-3;
			padding: $space;
			.twitter-profile { 
		 		background: image-url("pictos/twitter-blau-20.png") 0px no-repeat;
		 		padding: 5px 0px 5px 25px; 
		 	}
		} 
	}
 }
 

