/*
 * jQuery UI CSS Framework 1.8.7
 */

.ui-corner-all {
  -webkit-border-radius: 0px !important;
  border-radius: 0px !important;
}

.ui-widget {
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
}

.ui-widget-header {
  background: none;
}

.ui-corner-all {
  border: none
}

.ui-tabs .ui-tabs-panel {
  border-top: 1px solid #aaaaaa;
  padding: 16px 0;
}