/* Basics */
body {
    Margin: 0;
    padding: 0;
    min-width: 100%;
    background-color: #ffffff;
}

table {
    border-spacing: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
}

tbody{
	border-top:0px;
}

td {
    padding: 0;
}

img {
    border: 0;
}

.wrapper {
    width: 100%;
    table-layout: fixed;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

.webkit {
    max-width: 600px;
}
 
.outer {
    Margin: 0 auto;
    width: 100%;
    max-width: 600px;
}

.inner {
    padding: 0px;
}

p {
    Margin: 0;
    font-size:12px;
}

a {
    color: #006680;
}

.h1 {
    font-size: 22px;
    font-family:Georgia;
}

.h2 {
    font-size: 18px;
    Margin-bottom: 12px;
    font-family:Georgia;
    text-decoration:none;
    padding-bottom:5px;
}

/* One column layout */
.one-column .contents {
    text-align: left;
    Margin-top:10px;
	Margin-bottom:10px;
}

/*Two column layout*/
.two-column {
    text-align: center;
    font-size: 0;
}

.two-column .column {
	width: 100%;
    max-width: 272px;
    display: inline-block;
    vertical-align: top;
    padding-right:6px;
    padding-left:6px;
}

.contents {
    width: 100%;
}

.two-column .contents {
    text-align: left;
}

.contents-right {
    text-align: right;
}

.two-column .img-article {
    width: 272px;
    height: auto;
    padding-bottom:10px;
}

.two-column .text {
    max-width:272px;
    padding-bottom:10px;
}

/*Three column layout*/
.three-column {
    text-align: center;
    font-size: 0;
}

.three-column .column {
    width: 100%;
    max-width: 180px;
    display: inline-block;
    vertical-align: top;
    Margin: 5px;
}

.three-column .contents {
    font-size: 14px;
    text-align: left;
}

.three-column .img-article {
    width: 180px;   
    padding-bottom:10px; 
}

.three-column .text {
    padding-bottom:10px;
}

.capcalera .contents{
	text-align:center;
}

.capcalera p{
	font-size:38px; 
	color:#006680; 
	font-weight:bold; 
	Margin:10px 5px;
	text-align:center;
}

.capcalera .logo{
	text-align:center;
	Margin:10px 5px;
}

.capcalera .logo img{
    height: auto;
    width:155px;   
    Margin-top:10px;	 
}

.sub-capcelera{
	background-color:#cccccc;
	border-top:solid 2px #4d4d4d;
	font-size:10px;
	height:22px;
}

.sub-capcelera .contents td{
	text-align:center;
}

.sub-capcelera .contents a{
	font-size:10px;
	color:#4d4d4d;
	text-decoration:none;
	font-weight:bold;
}

.sub-capcelera .contents .data{
	font-size:10px;
	color:#4d4d4d;
	text-decoration:none;
	font-weight:bold;
}

.titol-seccio{
	text-align: center;
	color:#505050;
	text-decoration:none;
	cursor:default;
	border-bottom:solid 1px #505050;	
} 

.peu{
	background-color:#cccccc;
	border-top:solid 2px #4d4d4d;
}

.peu .contents {
    text-align: left;
    padding:0px;
}

.peu table{
	padding-top:10px;
	padding-bottom:10px;
}

.peu .two-column{
	text-align:left;
	padding-left:8px;
}

.peu .two-column .column{
	width:auto;
	padding:0px;
}

.peu .inner p{
	Margin:20px 0 0 10px;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	text-align:left;
	text-decoration:none;
}

.sub-peu{
	background-color:#1a1a1a;
}

.sub-peu .contents {
    text-align: left;
}

.sub-peu table{
	padding:0px;
}

.sub-peu .inner{
	padding-top:5px;
	padding-bottom:5px;
	padding-right:5px;
	font-size:12px;
	font-family:Georgia;
	text-align: right;
	color:#FFFFFF;
}

.sub-peu .inner a{
	color:#FFFFFF;
	font-size:12px;
	font-family:Georgia;
	text-decoration:none;
}

/* Windows Phone Viewport Fix */
@-ms-viewport { 
    width: device-width; 
}
