/**
 * @file         tothomweb_agenda.css
 *
 * @project      xarxanet.org/agenda
 * @version      1.0
 * @author       TOTHOMweb
 * @copyright    2020
 */
/* line 34, ../sass/tothomweb_agenda.scss */
#tothomweb-agenda-form {
  font-family: "Fira Sans", Helvetica, Arial, sans-serif;
  color: #2f3031; }
/* line 40, ../sass/tothomweb_agenda.scss */
#tothomweb-agenda-form .agenda-header {
  background-image: url(//xarxanet.org/sites/all/themes/xn17/assets/images/headers/agenda.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  min-height: 260px;
  position: relative;
  margin-bottom: 20px; }
/* line 49, ../sass/tothomweb_agenda.scss */
#tothomweb-agenda-form .agenda-header .custom-title {
  font-family: "Fira Sans SemiBold", Helvetica, Arial, sans-serif;
  color: #ffffff;
  text-transform: lowercase;
  font-size: 5em;
  opacity: 0.5;
  margin: 0;
  padding: 0 15px;
  position: absolute;
  bottom: -20px;
  left: 0;
  z-index: 1; }
/* line 63, ../sass/tothomweb_agenda.scss */
#tothomweb-agenda-form .agenda-header .filters-box {
  background-color: rgba(255, 255, 255, 0.75);
  margin: 30px 0 90px; }
@media (min-width: 768px) {
  /* line 63, ../sass/tothomweb_agenda.scss */
  #tothomweb-agenda-form .agenda-header .filters-box {
    margin: 30px 0 75px; } }
@media (min-width: 992px) {
  /* line 63, ../sass/tothomweb_agenda.scss */
  #tothomweb-agenda-form .agenda-header .filters-box {
    margin: 30px 0 75px; } }
/* line 75, ../sass/tothomweb_agenda.scss */
#tothomweb-agenda-form .agenda-header .filters-box .filters-header {
  width: 100%;
  display: inline-block; }
/* line 79, ../sass/tothomweb_agenda.scss */
#tothomweb-agenda-form .agenda-header .filters-box .filters-header a {
  width: 33.3333%;
  text-align: center;
  padding: 12px 0;
  display: inline-block;
  background-color: #ffffff;
  position: relative;
  color: #878787;
  font-family: "Fira Sans SemiBold", Helvetica, Arial, sans-serif; }
/* line 89, ../sass/tothomweb_agenda.scss */
#tothomweb-agenda-form .agenda-header .filters-box .filters-header a.active {
  background-color: #be1622;
  color: #ffffff; }
/* line 93, ../sass/tothomweb_agenda.scss */
#tothomweb-agenda-form .agenda-header .filters-box .filters-header a.active:after {
  content: "";
  background-image: url(//xarxanet.org/sites/all/themes/xn17/assets/images/elements/punta-avall.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  width: 24px;
  height: 12px;
  display: block;
  position: absolute;
  bottom: -12px;
  left: 50%;
  margin-left: -12px;
  z-index: 1; }
/* line 112, ../sass/tothomweb_agenda.scss */
#tothomweb-agenda-form .agenda-header .filters-box .filters-body {
  padding: 15px; }
/* line 115, ../sass/tothomweb_agenda.scss */
#tothomweb-agenda-form .agenda-header .filters-box .filters-body .form-wrapper {
  padding: 0 7.5px; }
/* line 118, ../sass/tothomweb_agenda.scss */
#tothomweb-agenda-form .agenda-header .filters-box .filters-body .form-wrapper > div {
  padding-left: 7.5px;
  padding-right: 7.5px; }
@media (min-width: 768px) {
  /* line 123, ../sass/tothomweb_agenda.scss */
  #tothomweb-agenda-form .agenda-header .filters-box .filters-body .form-wrapper .form-item {
    margin-bottom: 0; } }
/* line 129, ../sass/tothomweb_agenda.scss */
#tothomweb-agenda-form .agenda-header .filters-box .filters-body .form-wrapper .form-item label {
  display: block;
  margin: 0; }
/* line 134, ../sass/tothomweb_agenda.scss */
#tothomweb-agenda-form .agenda-header .filters-box .filters-body .form-wrapper .form-item .form-text {
  border: none;
  border-radius: 0;
  height: 45px; }
/* line 143, ../sass/tothomweb_agenda.scss */
#tothomweb-agenda-form .agenda-header .filters-box .filters-footer {
  margin-top: -15px;
  padding: 15px; }
/* line 147, ../sass/tothomweb_agenda.scss */
#tothomweb-agenda-form .agenda-header .filters-box .filters-footer .form-item-mode {
  display: inline-block;
  width: 100%;
  float: none;
  clear: both;
  margin-bottom: 0;
  position: relative;
  top: -3px; }
/* line 156, ../sass/tothomweb_agenda.scss */
#tothomweb-agenda-form .agenda-header .filters-box .filters-footer .form-item-mode > label[for=edit-mode] {
  font-family: "Fira Sans SemiBold", Helvetica, Arial, sans-serif;
  margin: 0 15px 0 0;
  float: left;
  min-height: 32px;
  line-height: 25px; }
/* line 164, ../sass/tothomweb_agenda.scss */
#tothomweb-agenda-form .agenda-header .filters-box .filters-footer .form-item-mode .form-radios {
  display: flex;
  justify-content: space-around;
  float: left;
  min-height: 32px; }
/* line 174, ../sass/tothomweb_agenda.scss */
#tothomweb-agenda-form .agenda-header .filters-box .filters-footer .form-item-mode .form-radios .form-item label:hover, #tothomweb-agenda-form .agenda-header .filters-box .filters-footer .form-item-mode .form-radios .form-item label:focus, #tothomweb-agenda-form .agenda-header .filters-box .filters-footer .form-item-mode .form-radios .form-item label:active {
  color: #be1622;
  text-decoration: underline;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out; }
/* line 183, ../sass/tothomweb_agenda.scss */
#tothomweb-agenda-form .agenda-header .filters-box .filters-footer .form-item-mode .form-radios .form-item .form-radio {
  top: -2px; }
/* line 188, ../sass/tothomweb_agenda.scss */
#tothomweb-agenda-form .agenda-header .filters-box .filters-footer .form-item-mode .form-radios .radio + .radio, #tothomweb-agenda-form .agenda-header .filters-box .filters-footer .form-item-mode .form-radios .checkbox + .checkbox {
  margin-top: 0.4em;
  margin-bottom: 0.4em;
  margin-left: 15px; }
/* line 196, ../sass/tothomweb_agenda.scss */
#tothomweb-agenda-form .agenda-header .filters-box .filters-footer .form-submit {
  width: 100%;
  background-color: #878787;
  color: #ffffff;
  font-family: "Fira Sans SemiBold", Helvetica, Arial, sans-serif;
  border: none;
  border-radius: 0;
  padding: 12px 0;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out; }
/* line 206, ../sass/tothomweb_agenda.scss */
#tothomweb-agenda-form .agenda-header .filters-box .filters-footer .form-submit:hover, #tothomweb-agenda-form .agenda-header .filters-box .filters-footer .form-submit:focus, #tothomweb-agenda-form .agenda-header .filters-box .filters-footer .form-submit:active {
  background-color: #be1622; }
/* line 213, ../sass/tothomweb_agenda.scss */
#tothomweb-agenda-form .agenda-header .filters-box .filters-footer .add-event {
  width: auto;
  float: left;
  clear: both;
  margin-left: 15px;
  text-transform: uppercase;
  color: #be1622;
  margin-top: 30px; }
@media (min-width: 768px) {
  /* line 213, ../sass/tothomweb_agenda.scss */
  #tothomweb-agenda-form .agenda-header .filters-box .filters-footer .add-event {
    margin-top: -19px; } }
/* line 226, ../sass/tothomweb_agenda.scss */
#tothomweb-agenda-form .agenda-header .filters-box .filters-footer .add-event img {
  position: relative;
  top: -3px;
  margin-right: 5px; }
/* line 242, ../sass/tothomweb_agenda.scss */
#tothomweb-agenda-form .agenda-body #results ul.row {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch; }
/* line 250, ../sass/tothomweb_agenda.scss */
#tothomweb-agenda-form .agenda-body #results ul.row li {
  margin: 15px 0;
  padding: 0 15px; }
/* line 254, ../sass/tothomweb_agenda.scss */
#tothomweb-agenda-form .agenda-body #results ul.row li .event {
  background-color: #ededed;
  height: 100%;
  margin: 0; }
/* line 259, ../sass/tothomweb_agenda.scss */
#tothomweb-agenda-form .agenda-body #results ul.row li .event .last {
  padding: 15px; }
/* line 262, ../sass/tothomweb_agenda.scss */
#tothomweb-agenda-form .agenda-body #results ul.row li .event .last .event-dates {
  color: #be1622;
  font-size: 14px;
  font-family: "Fira Sans SemiBold", Helvetica, Arial, sans-serif;
  margin-top: 5px;
  min-height: 35px;
  display: flex;
  align-items: flex-end; }
/* line 272, ../sass/tothomweb_agenda.scss */
#tothomweb-agenda-form .agenda-body #results ul.row li .event .last .event-title {
  color: #2f3031;
  font-family: "Fira Sans SemiBold", Helvetica, Arial, sans-serif;
  font-size: 1.42em;
  margin: 0; }
@media (min-width: 768px) {
  /* line 272, ../sass/tothomweb_agenda.scss */
  #tothomweb-agenda-form .agenda-body #results ul.row li .event .last .event-title {
    min-height: 135px; } }
/* line 283, ../sass/tothomweb_agenda.scss */
#tothomweb-agenda-form .agenda-body #results ul.row li .event .last .event-category {
  font-family: "Fira Sans Bold", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  margin-bottom: 10px; }
/* line 288, ../sass/tothomweb_agenda.scss */
#tothomweb-agenda-form .agenda-body #results ul.row li .event .last .event-category .taxonomy-link {
  color: #be1622; }
